.chart-pane {
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.03) 1px 1px 0px 0px;
    padding: 0;
    margin-bottom: 1rem;
    outline: none;
    position: relative;
}
.chart-pane header {
    background: #fff;
    margin: 0;
    padding: 0.5rem;
    color: #000;
    border-bottom: 1px solid #bbb;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: relative;
}
.chart-pane h1 {
    color: #333;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1rem;
    margin: 0 0 0 1.5rem;
    padding: 0;
}
.chart-pane:focus header {
    background-color: rgba(204, 153, 51, 0.1);
    color: #333;
}

.chart-pane .progress {
    height: 100%;
    position: relative;
}

.chart-pane .progress .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1rem;
    margin-top: -1rem;
}

.chart-pane a.close-button {
    display: inline-block;
    position: absolute;
    left: 0.55rem;
    top: 0.55rem;
}

.chart-pane a.bugs-button {
    display: inline-block;
    position: absolute;
    right: 1.85rem;
    top: 0.55rem;
}

.chart-pane a.search-button {
    display: inline-block;
    position: absolute;
    right: 0.55rem;
    top: 0.55rem;
}

.search-pane, .analysis-pane {
    position: absolute;
    top: 1.7rem;
    border: 1px solid #bbb;
    padding: 0;
    border-radius: 0.5rem;
    display: table;
    background: white;
}

.analysis-pane {
    right: 1.3rem;
}

.analysis-pane table {
    margin: 0.2rem;
    font-size: 0.8rem;
}

.analysis-pane th {
    font-weight: normal;
}

.search-pane {
    right: 0rem;
}

.analysis-pane.hidden,
.search-pane.hidden {
    display: none;
}

.search-pane input {
    display: table-cell;
    vertical-align: middle;
    outline: none;
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0;
}

.search-pane .repositories {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.5rem;
}

.search-pane input:focus {
    background-color: rgb(249, 242, 228);
}

.chart-pane .body {
    position: relative;
    width: 100%;
    height: 18rem;
}
.chart-pane .svg-container {
    width: auto;
    height: 100%;
}
.chart-pane .svg-container {
    margin-right: 25rem;
}

.selection-toolbar {
    display: inline-block;
    background: white;
    border: solid 1px #d9d9d9;
    border-radius: 0.3rem;
    z-index: 10;
    position: absolute;
    margin-top: -2rem;
    margin-left: 0.5rem;
    white-space: nowrap;
}

.selection-toolbar .button {
    display: block;
    float: left;
    width: 1rem;
    height: 1rem;
    padding: 0.2rem;
    margin: 0;
    border-left: solid 1px #bbb;
}

.selection-toolbar .button:first-child {
    border-left: none;
}

.selection-toolbar .button svg {
    stroke: #666;
    fill: #666;
}

.chart-pane .details {
    position: absolute;
    right: 0;
    top: 0;
    width: 25rem;
    height: 100%;
    border-left: solid 1px #bbb;
}

.analysis-chart-pane .details {
    overflow: scroll;
}

.analysis-chart-pane table {
    margin: 0.5rem;
}

.chart-pane .overview {
    height: 5rem;
    border-bottom: solid 0px #eee;
}

.chart-pane .details-table-container {
    position: absolute;
    top: 5rem;
    width: 100%;
    height: 13rem;
    overflow: scroll;
}

.chart-pane .details-table,
.chart-pane .commits-viewer {
    font-size: 0.8rem;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.chart-pane .details-table td:last-child {
    padding-right: 1px;
}

.chart-pane .details-table th {
    width: 30%;
    text-align: right;
    font-weight: normal;
    padding: 0;
}

.chart-pane .details-table td {
    width: 70%;
}

.chart-pane .details-table .bugs th {
    font-weight: bold;
}

.chart-pane .details-table th:after {
    content: " : ";
}

.chart-pane .details-table .status th {
    visibility: hidden;
}

.chart-pane .details-table .status td {
    font-size: 1rem;
}

.chart-pane .commits-viewer caption {
    border-top: solid 1px #ccc;
    font-weight: normal;
    text-align: left;
    padding: 0.2rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.chart-pane .commits-viewer caption:before {
    display: inline-block;
    width: 0.8rem;
    content: "\25BE"; /* Down arrow */
}

.chart-pane .commits-viewer.hidden caption:before {
    display: inline-block;
    width: 0.8rem;
    content: "\25B8"; /* Right arrow */
}

.chart-pane .commits {
    border-bottom: solid 1px #ccc;
    margin-bottom: 0.2rem;
}

.chart-pane .commits-viewer {
    border-collapse: collapse;
}

.chart-pane .commits-viewer td,
.chart-pane .commits-viewer th {
    word-break: break-word;
    border-top: solid 1px #ccc;
    padding: 0.2rem;
}

.chart-pane .commits-viewer th {
    width: 20%;
    font-weight: normal;
}

.chart-pane .commits-viewer td {
    width: 60%;
}

.chart-pane .chart {
    height: 100%;
}

.chart-pane .chart svg {
    height: 100%;
}

.chart {
    position: relative;
    overflow: hidden;
}

.chart svg {
    stroke: #666;
    fill: #000;
    color: #000;
    font-size: 0.7rem;
}

.chart path {
    fill: none;
    stroke-width: 1.5px;
}

.chart .dot {
    fill: #666;
    stroke: none;
}

.chart path.area {
    stroke: none;
    fill: #ccc;
    opacity: 0.8;
}

.chart path.current {
    stroke: #999;
}

.chart path.baseline {
    stroke: #f66;
}
.chart-pane .status .worse,
.dashboard-status .worse {
    color: #c33;
}

.chart path.target {
    stroke: #66f;
}
.chart-pane .status .better,
.dashboard-status .better {
    color: #33c;
}

.dashboard-status .status-label {
    margin-left: 1rem;
}

.chart .axis,
.chart .domain {
  fill: none;
  stroke-width: 1px;
  stroke: #ddd;
  color: #000;
  shape-rendering: crispEdges;
}

.chart .domain {
    stroke: none;
}

.chart .current-item {
    stroke: #f93;
    stroke-width: 2px;
    fill: #f93;
}

.chart .highlight {
    stroke: #f93;
    stroke-width: 2px;
    fill: none;
}

.chart .extent {
    stroke: #f93;
    stroke-width: 1px;
    fill: #9c6;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.chart .axis text {
    fill: #333;
    stroke: none;
}

.chart .rangeBar {
    display: block;
    background-color: #fc6;
    position: absolute;
}
