[Desktop Entry]
Type=Service
Comment=Embeddable HTML viewing component
Comment[az]=Hopdurula Bilən HTML nümayiş vasitəsi
Comment[bg]=Елемент за преглед на вградени HTML
Comment[br]=Parzh HTML gweler enframmus
Comment[bs]=Umetljiva HTML komponenta
Comment[ca]=Component visualitzador d'HTML encastable
Comment[cs]=Komponenta pro zobrazování HTML
Comment[da]=Html visnings komponent der kan indlejres
Comment[de]=HTML-Betrachtungskomponente, die sich einbetten lässt
Comment[el]=Ενσωματώσιμο άρθρωμα προβολής HTML
Comment[eo]=HTML-rigardo-komponento
Comment[es]=Componente incrustable para visualizar HTML
Comment[et]=Põimitav HTMLi näitamise  komponent
Comment[eu]=HTML ikuspen osagai txertagarria
Comment[fi]=Upotettava HTML-komponentti
Comment[fr]=Afficheur HTML incorporé
Comment[gl]=Compoñente embebible de visualización de HTML
Comment[he]=HTML תגוצתל העבטה-רב ביכר
Comment[hr]=Umetljiva HTML komponenta
Comment[hu]=Beágyazható HTML-néző komponens
Comment[is]=Ásetjanleg HTML-sjá
Comment[it]=Componente importabile per la visualizzazione degli HTML
Comment[ja]=埋め込み可能なHTMLビューコンポーネント
Comment[ko]=다른 곳에 끼워져서 HTML을 보여주는 콤포넌트
Comment[lt]=Įdedamas HTML peržiūros komponentas
Comment[lv]=Iegultā HTML skatīšanas komponente
Comment[mk]=Вградлива компонента за гледање HTML
Comment[mt]=Komponent integrat għall-wiri tal-HTML
Comment[nl]=een inbedbaar HTML-viewercomponent
Comment[no]=Inkluderbart HTML-visningskomponent
Comment[no_NY]=Inkluderbart komponent for HTML-vising
Comment[oc]=Component visualizador d'HTML encastable
Comment[pl]=Składnik do przeglądania plików HTML
Comment[pt_BR]=Componente embutível de visualização HTML
Comment[pt]=Componente embebível para visualizar HTML
Comment[ru]=Элемент просмотра встраиваемых HTML
Comment[sk]=Vložiteľný komponent HTML prehliadač
Comment[sl]=Integriran pregled besedila HTML
Comment[sr]=Ugradiva komponenta za pregled HTML-a
Comment[sv]=Inbäddningsbar HTML-visande komponent
Comment[ta]=¯ð¦À¡¾¢ì¸ÅøÄ HTML ¸¡ðº¢ì ÜÚ
Comment[tr]=Gömülebilir HTML görüntüleme aracı
Comment[uk]=Вбудований копмонент-переглядач HTML
Comment[vi]=Component đềExem HTML có thềEembedd được 
Comment[xh]=Inxenye yemboniselo elungisiweyo ye HTML
Comment[zh_CN.GB2312]=嵌入的 HTML 查看部件
MimeType=text/html;text/xml;
Icon=konqueror
Name=KHTML
Name[da]=KHtml
Name[fr]=kHTML
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkhtml
InitialPreference=10
