<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="khtmlpart" version="8">
<MenuBar>
 <Menu name="file"><text>&amp;File</text>
  <Action name="saveBackground" />
  <Action name="saveDocument" />
  <Action name="saveFrame" />
  <Separator />
  <Action name="printFrame" group="print" />
 </Menu>
 <Menu name="edit"><text>&amp;Edit</text>
  <Action name="selectAll" />
  <Separator />
  <Action name="find" />
 </Menu>
 <Menu name="view"><text>&amp;View</text>
  <Action name="viewDocumentSource" />
  <Action name="viewFrameSource" />
  <Action name="security" />
  <Action name="setEncoding" />
<!--
  <Separator />
  <Action name="debugRenderTree" />
  <Action name="debugDOMTree" />
-->
 </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
 <Action name="printFrame" />
 <Action name="find" /> 
 <Action name="incFontSizes" />
 <Action name="decFontSizes" />
 <ActionList name="loadImages" />
 <Separator />
 <Action name="security" />
</ToolBar>
</kpartgui>
