<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd"><kpartgui name="khtmlpart_popupmenu" version="7">
<Menu name="popupmenu">
 <Action name="reloadframe" group="reload" />
 <Action name="printFrame" group="print" />
 <Separator weakSeparator="1" />
 <Action name="savelinkas" />
 <Action name="saveimageas" />
 <Separator weakSeparator="1" />
 <Action name="selectAll" />
 <Separator weakSeparator="1" />
 <Action name="copylinklocation" />
 <Action name="stopanimations" />
 <Action name="copyimagelocation" />
 <Action name="viewimage" />
 <Separator weakSeparator="1" />
 <Action name="viewDocumentSource" />
 <Action name="viewFrameSource" />
 <Action name="setEncoding" />
</Menu>
</kpartgui>
