// Copyright (C) 2017-2022 Apple Inc. All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
// 1. Redistributions of source code must retain the above copyright
//    notice, this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright
//    notice, this list of conditions and the following disclaimer in the
//    documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY APPLE INC. ``AS IS'' AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
// PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL APPLE INC. OR
// CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
// EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
// PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
// PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
// OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#include "../../Configurations/FeatureDefines.xcconfig"
#include "../../../../Configurations/Version.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(DEBUG_DEFINES) $(inherited);

FRAMEWORK_SEARCH_PATHS[sdk=iphone*] = $(FRAMEWORK_SEARCH_PATHS_ios_$(CONFIGURATION));
FRAMEWORK_SEARCH_PATHS_ios_Debug = $(BUILT_PRODUCTS_DIR);
FRAMEWORK_SEARCH_PATHS_ios_Release = $(FRAMEWORK_SEARCH_PATHS_ios_Debug);
FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = $(WK_QUOTED_OVERRIDE_FRAMEWORKS_DIR);

SYSTEM_FRAMEWORK_SEARCH_PATHS = $(inherited) $(WK_PRIVATE_SDK_DIR)$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks $(SDKROOT)$(SYSTEM_LIBRARY_DIR)/Frameworks;

OTHER_CFLAGS = $(inherited) -iframework $(SDKROOT)$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks;
OTHER_LDFLAGS = $(inherited) -lswiftCore;
HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)$(WK_LIBRARY_HEADERS_FOLDER_PATH) $(inherited);
SYSTEM_HEADER_SEARCH_PATHS = $(WK_PRIVATE_SDK_DIR)$(WK_ALTERNATE_WEBKIT_SDK_PATH)$(WK_LIBRARY_HEADERS_FOLDER_PATH) $(inherited);
INSTALL_PATH = $(WK_LIBRARY_INSTALL_PATH);
INSTALLHDRS_COPY_PHASE = YES;
INSTALLHDRS_SCRIPT_PHASE = YES;
PRODUCT_NAME = PAL;
PRODUCT_MODULE_NAME = pal;

PAL_INSTALL_PATH_PREFIX = $(PAL_INSTALL_PATH_PREFIX_DEPLOYMENT_$(DEPLOYMENT_LOCATION));
PAL_INSTALL_PATH_PREFIX_DEPLOYMENT_YES = $(PAL_INSTALL_PATH_PREFIX_DEPLOYMENT_YES_USE_ALTERNATE_$(WK_USE_ALTERNATE_FRAMEWORKS_DIR));
PAL_INSTALL_PATH_PREFIX_DEPLOYMENT_YES_USE_ALTERNATE_YES = $(WK_ALTERNATE_FRAMEWORKS_DIR);

PRIVATE_HEADERS_FOLDER_PATH = $(PAL_INSTALL_PATH_PREFIX)$(WK_LIBRARY_HEADERS_FOLDER_PATH)/pal;
APPLY_RULES_IN_COPY_HEADERS = YES;

EXCLUDED_SOURCE_FILE_NAMES[sdk=iphone*] = $(inherited) *.tiff *Cursor.png;

SKIP_INSTALL = $(WK_NOT_$(FORCE_TOOL_INSTALL));

USE_LIBDAV1D[sdk=iphone*] = YES;
USE_LIBDAV1D[sdk=xr*] = YES;
USE_LIBDAV1D[sdk=macos*] = $(USE_LIBDAV1D_$(ENABLE_WEB_RTC)$(WK_MACOS_1300));
USE_LIBDAV1D_ENABLE_WEB_RTC_MACOS_SINCE_1300 = YES;

OTHER_LIBTOOLFLAGS = $(DAV1D_LIBTOOLFLAGS_$(USE_LIBDAV1D));
DAV1D_LIBTOOLFLAGS_YES = $(BUILT_PRODUCTS_DIR)/libdav1d.a;

OTHER_CPLUSPLUSFLAGS = $(inherited) -fmodules -fno-cxx-modules;

SWIFT_OBJC_INTERFACE_HEADER_NAME = PALSwift-Generated.h;
SWIFT_VERSION = $(SWIFT_VERSION$(WK_XCODE_16));
SWIFT_VERSION_XCODE_BEFORE_16 = 5.0;
SWIFT_VERSION_XCODE_SINCE_16 = 6.0;
SWIFT_OBJC_INTEROP_MODE = objcxx;

SWIFT_INSTALL_OBJC_HEADER = NO;
SWIFT_LIBRARY_LEVEL = spi;

SWIFT_DEFAULT_ACTOR_ISOLATION = nonisolated;
SWIFT_STRICT_CONCURRENCY = complete;

OTHER_SWIFT_FLAGS = -Xcc -std=c++2b $(OTHER_SWIFT_FLAGS_WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP_$(WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP));
OTHER_SWIFT_FLAGS_WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP_ = -no-verify-emitted-module-interface;

WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP = YES;

WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=macosx15*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=macosx26.0*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=macosx26.1*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=macosx26.2*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=macosx26.3*] = ;

WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=iphone*26.0*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=iphone*26.1*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=iphone*26.2*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=iphone*26.3*] = ;

WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=appletv*26.0*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=appletv*26.1*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=appletv*26.2*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=appletv*26.3*] = ;

WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=watch*26.0*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=watch*26.1*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=watch*26.2*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=watch*26.3*] = ;

WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=xr*26.0*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=xr*26.1*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=xr*26.2*] = ;
WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP[sdk=xr*26.3*] = ;

_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP = $(WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP);
SWIFT_INSTALL_MODULE_FOR_DEPLOYMENT = YES;
BUILD_LIBRARY_FOR_DISTRIBUTION = (WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP);

MODULES_FOLDER_PATH = swift;

ENABLE_WK_LIBRARY_MODULE_VERIFIER = $(WK_SWIFT_EXPLICIT_MODULES_ALLOW_CXX_INTEROP);
ENABLE_WK_LIBRARY_MODULE_VERIFIER[sdk=macosx26*] = NO;
MODULE_VERIFIER_SUPPORTED_LANGUAGES = objective-c++;
MODULE_VERIFIER_SUPPORTED_LANGUAGE_STANDARDS = c++23;

OTHER_MODULE_VERIFIER_FLAGS = -- -isystem $(DSTROOT)$(PAL_INSTALL_PATH_PREFIX)$(WK_LIBRARY_HEADERS_FOLDER_PATH) -I$(BUILT_PRODUCTS_DIR)$(WK_LIBRARY_HEADERS_FOLDER_PATH) -I$(WK_ADDITIONAL_SDKS)$(WK_LIBRARY_HEADERS_FOLDER_PATH) -isystem "$(WK_PRIVATE_SDK_DIR)$(WK_ALTERNATE_WEBKIT_SDK_PATH)$(WK_LIBRARY_HEADERS_FOLDER_PATH)" -iframework $(WK_PRIVATE_SDK_DIR)$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks -Wsystem-headers-in-module=pal;

// Used to generate headers filelist. CPP_HEADERMAP_PRODUCT_HEADERS_VFS_FILE
// is not exported to script phases, so it must be bound to a different name.
WK_HEADERS_VFS_FILE = $(CPP_HEADERMAP_PRODUCT_HEADERS_VFS_FILE);
