body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

body.error canvas {
    display: none;
}

body.error img {
    display: none;
}

body.error input {
    display: none;
}

h1 {
    font-size: 1.5rem;
}

#container {
    position: relative;
}

select {
    zoom: 2;
}

div#log {
    background-color: rgb(231, 231, 231);
    padding: 20px;
}

body.error {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85%, 35%, 35%);
}

body.error #contents {
    display: none;
}

#error {
    margin: 0;
    padding: 0;
    width: 50vw;
    display: none;
    text-align: center;
}

@media (max-width: 480px) {
    #error {
        width: 100vw;
    }
}

body.error #error {
    display: block;
}

#error h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

#error p {
    font-size: 30px;
}

