fake
{
    display:inline;
    margin:10px;
    background-color: yellow;
}

channel
{
    display:block;
    height:300px;
    width:280px;
    border:1px solid #000;
    overflow:auto;
    background-color:#eee;
    font: 12px verdana;
}

item
{
    display: block;
    padding:10px;
    margin-bottom:10px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background-color:#fff;
}
item>title
{
   font-weight:bold;
}

channel>title, channel>description
{
    display: block;
    margin-left:10px;
    margin-top:10px;
    background-color:#eee;
    font-weight:bold;
}

channel>title
{
    font-size:16px;
}

channel>description
{
    font-size:10px;
    margin-bottom:10px;
}

item>link, channel>link, channel>language
{
    display: none;
}