<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>com.apple.webkit.WebAuthenticationAgent</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.webkit.WebAuthenticationAgent</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/Users/jwtan/Documents/Build/Products/Debug/com.apple.WebKit.WebAuthenticationAgent.Development</string>
</dict>
</plist>
