<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanonicalName</key>
	<string>WebKitSDKAdditions</string>
	<key>IsBaseSDK</key>
	<string>NO</string>
    <key>HeaderSearchPaths</key>
    <array>
        <!-- usr/local/include is a built-in search path of the base SDK -->
        <string>usr/local/include</string>
    </array>
    <key>DefaultProperties</key>
    <dict>
        <key>SDK_DIR_macosx</key>
        <string>$(DEVELOPER_DIR)/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk</string>
        <key>WK_DERIVED_SDK_HEADERS_DIR</key>
        <string>$(BUILT_PRODUCTS_DIR)/SDKAdditions</string>
        <key>SYSTEM_FRAMEWORK_SEARCH_PATHS</key>
        <string>$(WK_DERIVED_SDK_HEADERS_DIR)/System/Library/Frameworks</string>
        <key>SYSTEM_HEADER_SEARCH_PATHS</key>
        <string>$(WK_DERIVED_SDK_HEADERS_DIR)/usr/include</string>
    </dict>
</dict>
</plist>
