.help-window-outer {
    position: absolute;
    top: 12px;
    left: 5%;
    width: 90%;
    bottom: 12px;
    z-index: 2000;
}

body.compact .help-window-outer {
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
}

.help-window-main {
    max-height: 100%;
    color: white;
    background-color: rgba(17, 17, 17, 0.85);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    border-top-width: 0;
    border-radius: 10px;
}

body.compact .help-window-main {
    height: 100%;
    border-radius: 0;
}

.help-window-caption {
    border-bottom: solid 1px rgb(153, 153, 153);
    margin: 0 8px;
    padding: 0 2px;
    line-height: 36px;
}

.help-window-title {
    font-size: 16px;
    margin: 0;
}

.help-content {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 11px;
    -webkit-box-flex: 1;
    margin: 8px;
    padding: 0 4px;
    font-size: 13px;
}

.help-window-main ::-webkit-scrollbar {
    width: 11px;
}

.help-window-main ::-webkit-scrollbar-corner,
.help-window-main ::-webkit-resizer {
    display: none;
}

.help-window-main ::-webkit-scrollbar-thumb:vertical {
    background: -webkit-gradient(linear, left top, right top, from(rgb(128, 128, 128)), to(rgb(128, 128, 128)), color-stop(40%, rgb(96, 96, 96)));
    border-radius: 5px;
    min-height: 20px;
}

.help-window-main ::-webkit-scrollbar-thumb:vertical:hover,
.help-window-main ::-webkit-scrollbar-thumb:vertical:active {
    background: -webkit-gradient(linear, left top, right top, from(rgb(176, 176, 176)), to(rgb(176, 176, 176)), color-stop(40%, rgb(144, 144, 144)));
}

.help-window-main ::-webkit-scrollbar-track:vertical {
    background: -webkit-gradient(linear, left top, right top, from(rgb(10, 10, 10)), to(rgb(32, 32, 32)), color-stop(25%, rgb(32, 32, 32)));
    border-radius: 5px;
}

.help-close-button {
    border: 0;
    padding: 0;
    font-size: 14px;
    color: rgb(222, 222, 222);
    background: -webkit-gradient(radial, 30% 30%, 1, 50% 50%, 8, from(rgb(144, 144, 144)), to(rgb(96, 96, 96)));
    border-radius: 8px;
    height: 16px;
    width: 16px;
    margin: 10px 0;
}

body.compact .help-content {
    margin-bottom: 8px;
}

.help-close-button:hover {
    color: white;
}

body.platform-mac .help-close-button {
    float: left;
    margin-right: 10px;
    font-size: 12px;
}

body:not(.platform-mac) .help-close-button {
    float: right;
}

.help-container {
    width: 100%;
    -webkit-user-select: auto;
    -webkit-column-width: 480px;
}

.help-block {
    display: inline-block;
    width: 480px;
    padding-bottom: 9px;
}

#settings.help-container {
    -webkit-column-width: 240px;
}

#settings .help-block {
    width: 240px;
}

.help-line {
    padding-bottom: 3px;
}

.help-key-cell {
    display: inline-block;
    width: 280px;
    text-align: right;
}

.help-cell {
    display: inline;
}

.help-section-title {
    font-weight: bold;
    color: rgb(221, 221, 0);
}

.help-key {
    color: rgb(221, 221, 0);
}

body.platform-mac .help-key {
    font-family: Lucida Grande, sans-serif;
}

.help-combine-keys, .help-key-delimiter {
    color: white;
    font-size: 9px;
    font-weight: bold;
}

.help-combine-keys {
    margin: 0 0.3em;
}

.help-key-delimiter {
    margin: 0 0.5em;
}

.help-content p {
    margin: 0 0 3px 0;
}

.help-content fieldset {
    border: none;
    margin-left: 9px;
}

.help-content fieldset p {
    border-left: 1px solid rgb(128,128,128);
    margin: 0 0 0 6px;
    padding-left: 3px;
}


.help-content fieldset label {
    padding-right: 4px;
}

.help-content p.help-section {
    margin: 0 0 15px 0;
}

.settings-experiments-warning-subsection-warning {
    color: rgb(200, 0, 0);
}

.settings-experiments-warning-subsection-message {
    color: rgb(150, 150, 150);
}

#resolution-override-section {
    margin-left: 13px;
}

.help-content input[type=checkbox] {
    height: 13px;
    width: 13px;
    margin-left: 0;
    margin-right: 4px;
}

.help-content select {
    background-color: rgb(64, 64, 64);
    color: white;
    border-color: black;
    padding: 0 4px;
}

.help-content select:disabled {
    background-color: rgb(32, 32, 32);
    color: graytext;
}

.help-content option {
    background-color: black;
    color: white;
}

body:not(.compact) #settings-screen .tabbed-pane {
    height: auto;
}

#settings-screen .tabbed-pane-header {
    height: auto;
}

#settings-screen .tabbed-pane-header-tabs {
    padding-top: 9px;
}

#settings-screen .tabbed-pane-header-tab {
    background-color: transparent;
    position: relative;
    top: 1px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    height: 19px;
    font-size: 13px;
    padding: 0 4px;
    margin: 0;
}

#settings-screen .help-close-button {
    margin: 6px 0;
}

#settings-screen .tabbed-pane-header-tab.selected {
    border-bottom: solid 1px rgb(51, 51, 51);
    border-bottom-right-radius: 2px;
}

#settings-screen .tabbed-pane-content {
    margin: 8px;
    padding: 0 4px;
}

#settings-screen .help-content {
    margin: 0;
    padding: 0;
}
