TOOLCHAINS[sdk=macosx*] = $(TOOLCHAINS_macosx);
TOOLCHAINS_macosx = $(TOOLCHAINS_macosx_$(MAC_OS_X_VERSION_MAJOR));
TOOLCHAINS_macosx_1090 = default;
TOOLCHAINS_macosx_101000 = default;
TOOLCHAINS_macosx_101100 = $(TOOLCHAINS);
TOOLCHAINS_macosx_101200 = $(TOOLCHAINS);
TOOLCHAINS_macosx_101300 = $(TOOLCHAINS);

GCC_OPTIMIZATION_LEVEL = $(GCC_OPTIMIZATION_LEVEL_$(CONFIGURATION));
GCC_OPTIMIZATION_LEVEL_Debug = 0;
GCC_OPTIMIZATION_LEVEL_Production = 1;
GCC_OPTIMIZATION_LEVEL_Release = 1;

CLANG_ADDRESS_SANITIZER = $(CLANG_ADDRESS_SANITIZER_$(WK_ASAN_DISALLOWED));
CLANG_ADDRESS_SANITIZER_ = YES;
CLANG_ADDRESS_SANITIZER_NO = YES;

ASAN_OTHER_CFLAGS = -fno-omit-frame-pointer -g;
ASAN_OTHER_CPLUSPLUSFLAGS = $(ASAN_OTHER_CFLAGS);
