.table-parent {
    width: 1000px; 
    height: 1000px;
    background-color: #ccc;
}

.block {
    display: table;
}

.inline {
    display: inline-table;
}

.block,
.inline {
    border-spacing: 0;
    padding: 10px 10px 10px 10px;
    border: solid 5px #00f;
    background-color: #0f0;
}

.row-group {
    display: table-row-group;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 0 0 0 0;
}

.horizontal {}

.vertical {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl; 
}

.ltr {}

.rtl {
    direction: rtl;
}
