<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
 <array>
     <dict>
         <key>Name</key>
         <string>WebKit</string>
         <key>Children</key>
         <array>
             <dict>
                 <key>Name</key>
                 <string>Document::recalcStyle()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5001</string>
                 <key>CodeEnd</key>
                 <string>5002</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>FrameView::layout()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5003</string>
                 <key>CodeEnd</key>
                 <string>5004</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>FrameView::paintContents()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5005</string>
                 <key>CodeEnd</key>
                 <string>5006</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>GraphicsLayerCA::paintLayerContents()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5007</string>
                 <key>CodeEnd</key>
                 <string>5008</string>
             </dict>
         </array>
     </dict>
 </array>
 </plist>