<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
 <array>
     <dict>
         <key>Name</key>
         <string>WebKit</string>
         <key>Children</key>
         <array>
             <dict>
                 <key>Name</key>
                 <string>JavaScript VM</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>2501</string>
                 <key>CodeEnd</key>
                 <string>2502</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Document::recalcStyle()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5001</string>
                 <key>CodeEnd</key>
                 <string>5002</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>FrameView::layout()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5003</string>
                 <key>CodeEnd</key>
                 <string>5004</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>FrameView::paintContents()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5005</string>
                 <key>CodeEnd</key>
                 <string>5006</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>GraphicsLayerCA::paintLayerContents()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5007</string>
                 <key>CodeEnd</key>
                 <string>5008</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>DisplayRefreshMonitor</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5009</string>
                 <key>CodeEnd</key>
                 <string>5010</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>ScriptedAnimationController::serviceScriptedAnimations()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5011</string>
                 <key>CodeEnd</key>
                 <string>5012</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>RemoteLayerTreeDrawingArea::didUpdate()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>12001</string>
                 <key>CodeEnd</key>
                 <string>12002</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>RemoteLayerTreeDrawingArea::BackingStoreFlusher::flush()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>12003</string>
                 <key>CodeEnd</key>
                 <string>12004</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>RemoteLayerTreeContext::buildTransaction()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>12005</string>
                 <key>CodeEnd</key>
                 <string>12006</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>RemoteLayerTreeDrawingAreaProxy::commitLayerTree()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>14001</string>
                 <key>CodeEnd</key>
                 <string>14002</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>RemoteLayerTreeDrawingAreaProxy::didRefreshDisplay()</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>14003</string>
                 <key>CodeEnd</key>
                 <string>14004</string>
             </dict>
         </array>
     </dict>
 </array>
 </plist>