<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
 <array>
     <dict>
         <key>Name</key>
         <string>WebKit</string>
         <key>Children</key>
         <array>
             <dict>
                 <key>Name</key>
                 <string>JavaScript VM</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>2501</string>
                 <key>CodeEnd</key>
                 <string>2502</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Compile WebAssembly</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>2503</string>
                 <key>CodeEnd</key>
                 <string>2504</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Execute WebAssembly</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>2505</string>
                 <key>CodeEnd</key>
                 <string>2506</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Main Resource Load</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5001</string>
                 <key>CodeEnd</key>
                 <string>5002</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Subresource Load</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5003</string>
                 <key>CodeEnd</key>
                 <string>5004</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Fetch Cookies</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5005</string>
                 <key>CodeEnd</key>
                 <string>5006</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Style recalc</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5007</string>
                 <key>CodeEnd</key>
                 <string>5008</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Build render tree</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5009</string>
                 <key>CodeEnd</key>
                 <string>5010</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Layout</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5011</string>
                 <key>CodeEnd</key>
                 <string>5012</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Paint layer</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5013</string>
                 <key>CodeEnd</key>
                 <string>5014</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Async Image Decode</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5015</string>
                 <key>CodeEnd</key>
                 <string>5016</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>requestAnimationFrame</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5017</string>
                 <key>CodeEnd</key>
                 <string>5018</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Memory pressure handler</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5019</string>
                 <key>CodeEnd</key>
                 <string>5020</string>
                 <key>ArgNamesBegin</key>
                 <dict>
                     <key>Arg1</key>
                     <string>Critical</string>
                     <key>Arg2</key>
                     <string>Synchronous</string>
                 </dict>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Update event rects</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5021</string>
                 <key>CodeEnd</key>
                 <string>5022</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Record display list</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5023</string>
                 <key>CodeEnd</key>
                 <string>5024</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Display Refresh Dispatch to main thread</string>
                 <key>Type</key>
                 <string>Impulse</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>Code</key>
                 <string>5025</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Build event regions</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>5026</string>
                 <key>CodeEnd</key>
                 <string>5027</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Paint WebHTMLView</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>10001</string>
                 <key>CodeEnd</key>
                 <string>10002</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Flush backing store drawing</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>12001</string>
                 <key>CodeEnd</key>
                 <string>12002</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Build RemoteLayerTree transaction</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>12003</string>
                 <key>CodeEnd</key>
                 <string>12004</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Sync message</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>12005</string>
                 <key>CodeEnd</key>
                 <string>12006</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Sync touch event</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>12007</string>
                 <key>CodeEnd</key>
                 <string>12008</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Initialize Web Process</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>12009</string>
                 <key>CodeEnd</key>
                 <string>12010</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Commit RemoteLayerTree transaction</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>14001</string>
                 <key>CodeEnd</key>
                 <string>14002</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Process Launch</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>14003</string>
                 <key>CodeEnd</key>
                 <string>14004</string>
             </dict>
             <dict>
                 <key>Name</key>
                 <string>Initialize Sandbox</string>
                 <key>Type</key>
                 <string>Interval</string>
                 <key>Component</key>
                 <string>47</string>
                 <key>CodeBegin</key>
                 <string>14005</string>
                 <key>CodeEnd</key>
                 <string>14006</string>
             </dict>
         </array>
     </dict>
 </array>
 </plist>
