/* 7.4. Applying CSS properties to WebVTT Node Objects */

video-reference, .video {
    display: inline-block;
    position: relative;
    container-type: size;
}

cue, .cue {
    display: inline-block;
    position: absolute;
    unicode-bidi: plaintext;
    writing-mode: writing-mode;
    overflow-wrap: break-word;
    text-wrap: balance;
    font: 5cqmin sans-serif;
    color: rgba(255,255,255,1);
    white-space: pre-line;

    /* "By default, the text alignment is set to center." */
    text-align: center;

    /* "By default, the writing direction is set to to horizontal." */
    writing-mode: horizontal-tb;

    /* "By default, the WebVTT cue size is set to 100%." */
    width: 100cqw;
    height: auto;
}

cue-background, .cue > span, .cueText {
    /* The children of the nodes must be wrapped in an anonymous box whose display
       property has the value inline. This is the WebVTT cue background box. */
    display: inline;

    background: rgba(0,0,0,0.8);
}
