@font-face {
    font-family: 'ahem';
    src: url('/fonts/Ahem.ttf');
}

.test-diff {
    width: 200px;
    height: 200px;
    display: inline-block;
    isolation: isolate;
    position: relative;
    border: 1px solid black;
}

video, video-reference {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: difference;
    container-type: size;
}

::cue, cue {
    font: 5cqmin Ahem;
}

::cue, cue-background {
    color: rgb(128, 0, 0);
    background-color: rgb(255, 0, 0);
}

video-reference[expected] > cue > cue-background {
    color: rgb(128, 128, 0);
    background-color: rgb(255, 255, 0);
}
