[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Vlad Dascalu <jocuri@softhome.net>
  #%]

[%# INTERFACE:
  # keyword_id: number. The ID of the keyword.
  # name: string. The name of the keyword.
  # description: string. The description of the keyword.
  # bug_count: number. The number of bugs with the keyword.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Edit keyword"
%]

<form method="post" action="editkeywords.cgi">
  <table border="0" cellpadding="4" cellspacing="0">
    <tr>
      <th align="right">Name:</th>
      <td><input size="64" maxlength="64" name="name" value="[% name FILTER html %]"></td>
    </tr>
    <tr>
      <th align="right">Description:</th>
      <td>
        <textarea rows="4" cols="64" wrap="virtual"
        name="description">[% description FILTER html %]</textarea>
      </td>
    </tr>
    <tr>
      <th align="right">[% terms.Bugs %]:</th>
      <td>
        [% IF bug_count %]
          [% bug_count %]
        [% ELSE %]
          none
        [% END %]
      </td>
    </tr>
  </table>

  <input type="submit" value="Update">
  <input type="hidden" name="action" value="update">
  <input type="hidden" name="id" value="[% keyword_id %]">
</form>

<p><a href="editkeywords.cgi">Edit other keywords</a>.</p>

[% PROCESS global/footer.html.tmpl %]
