/* --------------------------------------------
   Reset
----------------------------------------------- */
* {
    box-sizing: border-box;
}
:root {
    color-scheme: light dark;
    background: light-dark(white, #222);
}
img {
    display: block;
    width: 100%;
    height: auto;
}

/* --------------------------------------------
   Universal styles
----------------------------------------------- */

body { 
    font-family: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-size: 1.2rem;
    margin: 0;
}
a {
    color: light-dark(color(display-p3 0.196 0.485 0.955), color(display-p3 0.375 0.697 1));
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p code {
    font-size: 93%;
}

/* --------------------------------------------
   Overall page for demo
----------------------------------------------- */

main {
    padding-block: calc(2vw + 1rem);
    padding-inline: calc(2vw + 1rem);
}

/* --------------------------------------------
   Warning if Grid 3 is not supported controls
----------------------------------------------- */

@supports (grid-template-rows: masonry) {
    .warning {
        display: none;
    }
}
.warning {
    padding: 0.5lh 1lh;
    background: color(display-p3 0.68 0.111 0.061);
    p {
        color: #eee;
        margin: 0;
        text-align: center;
        font-size: 1.0rem;
    }
    a {
        color: #eee;
        text-decoration: underline;
    }
}

/* --------------------------------------------
   Demo controls
----------------------------------------------- */

aside.interface:has(button.hidden) {
    display: none;
}
aside.interface {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1lh 2rem;
    background-color: light-dark(#eee, #444);
    box-shadow:inset 0 -12px 12px  light-dark(rgba(0, 0, 0, .05), rgba(0, 0, 0, .08));
    padding: 2rem calc(2vw + 1rem);
    font-family: -apple-system, system-ui;
    font-size: 70%;
    pre {
        display: none;
        margin: 0;
        color: light-dark(#444, #eee);
        text-wrap-mode: wrap;
        width: max-content;
        font-size: 104%;
        line-height: 1.3;
    }
}
nav {
    grid-area: 1 / 1;
    margin-block-start: 0.4lh;
}
section.layout-switcher {
    grid-area: 2 / 1;
}
section.number-toggle {
    grid-area: 3 / 1 ;
    p {
        margin: 0.25lh;
    }
}
section.show-code {
    grid-area: 1 / 2 ;
    grid-row: span 5;
    padding: 0.5rem 2rem;
    background: light-dark(#fbfbfb, #555);
    border-radius: 1ch;
    overflow: scroll;
}
button.hide-controls {
    grid-area: 4 / 1;
    place-self: start;
}
label {
    display: inline-block;
}
input[type="checkbox"][switch] {
    vertical-align: text-top;
}
body:has(option[value="one"]:checked) .interface pre.one,
body:has(option[value="two"]:checked) .interface pre.two,
body:has(option[value="three"]:checked) .interface pre.three,
body:has(option[value="four"]:checked) .interface pre.four,
body:has(option[value="five"]:checked) .interface pre.five,
body:has(option[value="six"]:checked) .interface pre.six,
body:has(option[value="seven"]:checked) .interface pre.seven,
body:has(option[value="eight"]:checked) .interface pre.eight,
body:has(option[value="nine"]:checked) .interface pre.nine,
body:has(option[value="ten"]:checked) .interface pre.ten,
body:has(option[value="eleven"]:checked) .interface pre.eleven {
    display: block;
}
aside pre.code {
    color: #aaa;
    margin-block-start: 0.5lh;
}
}