[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Shane H. W. Travis <travis@sedsystems.ca>
  #
  #%]

[%# INTERFACE:
  # setting_names: an array of strings
  # settings:      a hash of hashes, keyed by setting_name.
  #                Each hash contains:
  #                 is_enabled    - boolean
  #                 default_value - string (global default for this setting)
  #                 value         - string (user-defined preference)
  #                 is_default    - boolean (true if user has no preference)
  #%]

[% PROCESS "global/setting-descs.none.tmpl" %]

[% IF settings.size %]
  <table border="0" cellpadding="8">
    [% FOREACH name = setting_names %]
        [% IF settings.${name}.is_enabled %]
            [% default_name = name _ '-isdefault' %]
            [% default_val = settings.${name}.default_value %]
            <tr>
              <td align="right">
                 [% setting_descs.$name OR name FILTER html %]
              </td>
              <td>
                <select name="[% name %]" id="[% name %]">
                  <option value="[% default_name %]"
                    [% ' selected="selected"' IF settings.${name}.is_default %]>
                    Site Default ([% setting_descs.${default_val} OR default_val FILTER html %])
                  </option>
                  [% FOREACH x = settings.${name}.legal_values %]
                      <option value="[% x FILTER html %]"
                        [% ' selected="selected"' 
                           IF x == settings.${name}.value 
                           AND NOT settings.${name}.is_default %]>
                        [% setting_descs.${x} OR x FILTER html %]
                      </option>
                  [% END %]
                </select>
              </td>
            </tr>
        [% END %]
    [% END %]

  </table>
[% END %]
<br>
