[% 
    setting_descs.product_chooser = "Product chooser to use when entering $terms.bugs",
    setting_descs.pretty = "Pretty chooser with common products and icons",
    setting_descs.full   = "Full chooser with all products",
    setting_descs.small  = "Product chooser for mobile devices",
%]