.*
node_modules
package-lock.json
dist
build
*bundle*.js
third_party

/Octane/*
/ARES-6/*
/cdjs/*
/8bitbench/*
/class-fields/*
/code-load/*
/SunSpider
/SeaMonster
/WSL
/worker/bomb-subtests
/wasm/dotnet/build-*
/wasm/tfjs-model-*
/simple/*
/generators/*
/threejs/*

# Ignore everything in RexBench, then selectively un-ignore.
/RexBench/*
!/RexBench/*/
/RexBench/*/*
!/RexBench/*/benchmark.js

!benchmark.js
!*/benchmark.js
!/**/*.md