# To enable automatic merging of ChangeLog files, use the following command:
# git config merge.changelog.driver "resolve-ChangeLogs --merge-driver %O %A %B"
ChangeLog* merge=changelog

# To enable smart diffing of ObjC[++] files, run the following commands:
# git config diff.objcpp.xfuncname "^[-+@a-zA-Z_].*$"
# git config diff.objcppheader.xfuncname "^[@a-zA-Z_].*$"
*.m diff=objc
*.mm diff=objcpp
mac/*.h diff=objcppheader
*/mac/*.h diff=objcppheader
*/*/mac/*.h diff=objcppheader
objc/*.h diff=objcppheader
*/objc/*.h diff=objcppheader
*/*/objc/*.h diff=objcppheader
Tools/WebKitLauncher/*.h diff=objcppheader

*.vcproj eol=crlf
*.vsprops eol=crlf
*.sln eol=crlf

LayoutTests/dom/svg/level3/xpath/Attribute_Nodes.svg -crlf
LayoutTests/dom/svg/level3/xpath/Attribute_Nodes_xmlns.svg -crlf
LayoutTests/dom/svg/level3/xpath/Comment_Nodes.svg -crlf
LayoutTests/dom/svg/level3/xpath/Conformance_Expressions.svg -crlf
LayoutTests/dom/svg/level3/xpath/Conformance_ID.svg -crlf
LayoutTests/dom/svg/level3/xpath/Conformance_hasFeature_3.svg -crlf
LayoutTests/dom/svg/level3/xpath/Conformance_hasFeature_empty.svg -crlf
LayoutTests/dom/svg/level3/xpath/Conformance_hasFeature_null.svg -crlf
LayoutTests/dom/svg/level3/xpath/Conformance_isSupported_3.svg -crlf
LayoutTests/dom/svg/level3/xpath/Conformance_isSupported_empty.svg -crlf
LayoutTests/dom/svg/level3/xpath/Conformance_isSupported_null.svg -crlf
LayoutTests/dom/svg/level3/xpath/Element_Nodes.svg -crlf
LayoutTests/dom/svg/level3/xpath/Processing_Instruction_Nodes.svg -crlf
LayoutTests/dom/svg/level3/xpath/Text_Nodes.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluatorCast01.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_createExpression_INVALID_EXPRESSION_ERR.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_createExpression_NAMESPACE_ERR_01.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_createExpression_NAMESPACE_ERR_02.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_createExpression_NS.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_createExpression_no_NS.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_createNSResolver_all.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_createNSResolver_document.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_createNSResolver_documentElement.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_evaluate_INVALID_EXPRESSION_ERR.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_evaluate_NAMESPACE_ERR.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_evaluate_NOT_SUPPORTED_ERR.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_evaluate_TYPE_ERR.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_evaluate_WRONG_DOCUMENT_ERR.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_evaluate_document.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathEvaluator_evaluate_documentElement.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathExpression_evaluate_NOT_SUPPORTED_ERR.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathExpression_evaluate_WRONG_DOCUMENT_ERR.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathExpression_evaluate_document.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathExpression_evaluate_documentElement.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathNSResolver_lookupNamespaceURI_nist_dmstc.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathNSResolver_lookupNamespaceURI_null.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathNSResolver_lookupNamespaceURI_prefix.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathNSResolver_lookupNamespaceURI_xml.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_TYPE_ERR.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_booleanValue_false.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_booleanValue_true.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_invalidIteratorState_ANY_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_invalidIteratorState_ANY_UNORDERED_NODE_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_invalidIteratorState_BOOLEAN_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_invalidIteratorState_FIRST_ORDERED_NODE_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_invalidIteratorState_NUMBER_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_invalidIteratorState_ORDERED_NODE_ITERATOR_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_invalidIteratorState_ORDERED_NODE_SNAPSHOT_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_invalidIteratorState_STRING_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_invalidIteratorState_UNORDERED_NODE_ITERATOR_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_invalidIteratorState_UNORDERED_NODE_SNAPSHOT_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_iterateNext_INVALID_STATE_ERR.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_iteratorNext_ORDERED_NODE_ITERATOR_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_numberValue.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_resultType.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_singleNodeValue_ANY_UNORDERED_NODE_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_singleNodeValue_FIRST_ORDERED_NODE_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_snapshotItem_ORDERED_NODE_SNAPSHOT_TYPE_null.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_snapshotItem_ORDERED_NODE_SNAPSHOT_TYPE_order.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_snapshotItem_UNORDERED_NODE_SNAPSHOT_TYPE_count.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_snapshotItem_UNORDERED_NODE_SNAPSHOT_TYPE_null.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_snapshotLength_ORDERED_NODE_SNAPSHOT_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_snapshotLength_UNORDERED_NODE_SNAPSHOT_TYPE.svg -crlf
LayoutTests/dom/svg/level3/xpath/XPathResult_stringValue.svg -crlf
LayoutTests/editing/execCommand/align-in-span.html -crlf
LayoutTests/editing/selection/drag-start-event-client-x-y.html -crlf
LayoutTests/fast/backgrounds/background-position-rounding.html -crlf
LayoutTests/fast/backgrounds/repeat/resources/background-repeat-shorthand.js -crlf
LayoutTests/fast/backgrounds/repeat/resources/margin-shorthand.js -crlf
LayoutTests/fast/block/float/clamped-right-float.html -crlf
LayoutTests/fast/block/positioning/absolute-with-html-border-quirks.html -crlf
LayoutTests/fast/block/positioning/absolute-with-html-border-strict.html -crlf
LayoutTests/fast/canvas/script-tests/canvas-gradient-without-path.js -crlf
LayoutTests/fast/css/color-quirk.html -crlf
LayoutTests/fast/css/color-strict.html -crlf
LayoutTests/fast/css/css1_forward_compatible_parsing.html -crlf
LayoutTests/fast/css/empty-pseudo-class.html -crlf
LayoutTests/fast/css/first-child-pseudo-class.html -crlf
LayoutTests/fast/css/first-of-type-pseudo-class.html -crlf
LayoutTests/fast/css/last-child-pseudo-class.html -crlf
LayoutTests/fast/css/last-of-type-pseudo-class.html -crlf
LayoutTests/fast/css/only-child-pseudo-class.html -crlf
LayoutTests/fast/css/only-of-type-pseudo-class.html -crlf
LayoutTests/fast/css/text-input-with-webkit-border-radius.html -crlf
LayoutTests/fast/dom/Document/open-with-pending-load.html -crlf
LayoutTests/fast/dom/Element/hostname-host.html -crlf
LayoutTests/fast/dom/StyleSheet/ownerNode-lifetime-2.html -crlf
LayoutTests/fast/dom/Window/window-property-clearing-expected.txt -crlf
LayoutTests/fast/dom/everything-to-string.html -crlf
LayoutTests/fast/dom/insert-span-into-long-text-bug-28245.html -crlf
LayoutTests/fast/dom/resources/TestApplet.java -crlf
LayoutTests/fast/dom/simultaneouslyRegsiteredTimerFireOrder-expected.txt -crlf
LayoutTests/fast/dom/timer-clear-interval-in-handler-and-generate-error.html -crlf
LayoutTests/fast/events/keydown-keypress-focus-change.html -crlf
LayoutTests/fast/events/node-event-anchor-lock.html -crlf
LayoutTests/fast/events/onload-fires-twice.html -crlf
LayoutTests/fast/events/set-event-in-another-frame.html -crlf
LayoutTests/fast/events/set-event-to-null.html -crlf
LayoutTests/fast/forms/resources/form-and-frame-interaction-retains-values-main.html -crlf
LayoutTests/fast/forms/resources/form-and-frame-interaction-retains-values-submit.html -crlf
LayoutTests/fast/forms/select-remove-option.html -crlf
LayoutTests/fast/forms/select-reset-multiple-selections-4-single-selection.html -crlf
LayoutTests/fast/forms/textfield-onchange-deletion.html -crlf
LayoutTests/fast/frames/frame-src-attribute.html -crlf
LayoutTests/fast/frames/iframe-scroll-page-up-down.html-disabled -crlf
LayoutTests/fast/frames/javascript-url-as-framesrc-crash.html -crlf
LayoutTests/fast/frames/resources/iframe-scroll-page-up-down-1.html -crlf
LayoutTests/fast/frames/resources/iframe-scroll-page-up-down-2.html -crlf
LayoutTests/fast/frames/viewsource-attribute.html -crlf
LayoutTests/fast/inline/inline-padding-disables-text-quirk.html -crlf
LayoutTests/fast/loader/submit-form-while-parsing-1.xhtml -crlf
LayoutTests/fast/overflow/dynamic-hidden.html -crlf
LayoutTests/fast/parser/external-entities-in-xslt.xml -crlf
LayoutTests/fast/parser/external-entities.xml -crlf
LayoutTests/fast/parser/resources/external-entities.xsl -crlf
LayoutTests/fast/replaced/replaced-breaking.html -crlf
LayoutTests/fast/table/dynamic-cellpadding.html -crlf
LayoutTests/fast/table/fixed-table-with-percent-inside-percent-table.html -crlf
LayoutTests/fast/table/fixed-table-with-percent-width-inside-auto-table.html -crlf
LayoutTests/fast/table/fixed-table-with-percent-width-inside-extra-large-div.html -crlf
LayoutTests/fast/table/fixed-table-with-small-percent-width.html -crlf
LayoutTests/fast/table/rules-attr-dynchange1.html -crlf
LayoutTests/fast/table/rules-attr-dynchange2.html -crlf
LayoutTests/fast/text/international/thai-baht-space.html -crlf
LayoutTests/fast/text/resources/line-breaks-crlf.txt -crlf
LayoutTests/fast/text/text-large-negative-letter-spacing-with-opacity.html -crlf
LayoutTests/fast/text/text-letter-spacing.html -crlf
LayoutTests/http/tests/appcache/max-size.html -crlf
LayoutTests/http/tests/misc/location-test-xsl-style-sheet.xml -crlf
LayoutTests/http/tests/misc/resources/location-test-xsl-style-sheet.xsl -crlf
LayoutTests/http/tests/misc/single-character-pi-stylesheet.xhtml -crlf
LayoutTests/http/tests/misc/will-send-request-returns-null-on-redirect.html -crlf
LayoutTests/http/tests/navigation/no-referrer-reset.html -crlf
LayoutTests/http/tests/navigation/no-referrer-same-window.html -crlf
LayoutTests/http/tests/navigation/no-referrer-subframe.html -crlf
LayoutTests/http/tests/navigation/no-referrer-target-blank.html -crlf
LayoutTests/http/tests/navigation/resources/no-referrer-same-window-helper.php -crlf
LayoutTests/http/tests/security/isolatedWorld/events.html -crlf
LayoutTests/http/tests/security/isolatedWorld/resources/iframe.html -crlf
LayoutTests/http/tests/security/isolatedWorld/resources/userGestureEvents-second-window.html -crlf
LayoutTests/http/tests/security/isolatedWorld/userGestureEvents.html -crlf
LayoutTests/http/tests/security/resources/empty-svg.php -crlf
LayoutTests/platform/win/fast/events/panScroll-event-fired.html -crlf
LayoutTests/platform/win/fast/events/panScroll-image-no-scroll.html -crlf
LayoutTests/platform/win/fast/events/panScroll-imageMap-href-no-scroll.html -crlf
LayoutTests/platform/win/fast/events/panScroll-imageMap-noHref-scroll.html -crlf
LayoutTests/platform/win/fast/events/panScroll-nested-divs.html -crlf
LayoutTests/platform/win/fast/events/panScroll-no-iframe-jump.html -crlf
LayoutTests/platform/win/fast/events/panScroll-preventDefault.html -crlf
LayoutTests/svg/custom/marker-opacity.svg -crlf
LayoutTests/svg/custom/resources/graffiti.svg -crlf
LayoutTests/svg/custom/struct-use-09-b.svg -crlf
LayoutTests/svg/custom/svg-fonts-in-html.html -crlf
LayoutTests/svg/custom/use-events-crash.svg -crlf
LayoutTests/svg/custom/use-on-symbol-inside-pattern.svg -crlf
LayoutTests/svg/custom/use-setAttribute-crash.svg -crlf
LayoutTests/svg/custom/xml-stylesheet.svg -crlf
LayoutTests/tables/mozilla/bugs/bug119786.html -crlf
LayoutTests/tables/mozilla/bugs/bug222846.html -crlf
LayoutTests/tables/mozilla/bugs/bug275625.html -crlf
LayoutTests/tables/mozilla/images/aboutHeader.gif -crlf
LayoutTests/tables/mozilla/images/main-horizontal-scroll.gif -crlf
LayoutTests/tables/mozilla_expected_failures/bugs/bug101759.html -crlf
LayoutTests/tables/mozilla_expected_failures/bugs/bug14489.html -crlf
LayoutTests/tables/mozilla_expected_failures/images/aboutHeader.gif -crlf
LayoutTests/tables/mozilla_expected_failures/images/main-horizontal-scroll.gif -crlf
LayoutTests/wml/resources/enter-card-with-events.wml -crlf
LayoutTests/wml/resources/enter-first-card-with-events.wml -crlf
ManualTests/DOMContextMenuEvent.html -crlf
ManualTests/cursor-max-size.html -crlf
ManualTests/drag-with-div-or-image-as-data-image.html -crlf
ManualTests/empty-script-crash.html -crlf
ManualTests/remove-form-node-with-radio-buttons-crash.html -crlf
ManualTests/select-delete-item.html -crlf
ManualTests/textarea-caret-position-after-auto-spell-correct.html -crlf
PerformanceTests/PageLoad/svg/files/Harvey_Rayner.svg -crlf
PerformanceTests/PageLoad/svg/files/cacuts_02.svg -crlf
PerformanceTests/PageLoad/svg/files/crawfish2_ganson.svg -crlf
PerformanceTests/PageLoad/svg/files/france.svg -crlf
PerformanceTests/PageLoad/svg/files/mtsthelens.svg -crlf
PerformanceTests/PageLoad/svg/files/worldcup.svg -crlf
PerformanceTests/SunSpider/tests/parse-only/jquery-1.3.2.js -crlf
Source/WebCore/accessibility/AccessibilityAllInOne.cpp -crlf
Source/WebCore/bindings/js/JSExceptionBase.cpp -crlf
Source/WebCore/bindings/js/JSExceptionBase.h -crlf
Source/WebCore/inspector/Inspector.json -crlf
Source/WebCore/platform/chromium/SuddenTerminationChromium.cpp -crlf
Source/WebCore/platform/network/win/NetworkStateNotifierWin.cpp -crlf
Source/WebCore/platform/wx/wxcode/non-kerned-drawing.h -crlf
Source/WebCore/rendering/RenderThemeChromiumWin.h -crlf
Tools/BuildSlaveSupport/win/kill-old-processes -crlf
Tools/DumpRenderTree/cairo/PixelDumpSupportCairo.cpp -crlf
Tools/FindSafari/Safari.exe.manifest -crlf
Tools/MiniBrowser/win/MiniBrowser.rc -crlf
Tools/TestResultServer/index.yaml -crlf
Tools/WinLauncher/WinLauncher.h -crlf
Tools/record-memory-win/main.cpp -crlf
WebKit/chromium/src/EventListenerWrapper.cpp -crlf
WebKit/chromium/src/EventListenerWrapper.h -crlf
WebKit/chromium/src/WebEventListener.cpp -crlf
WebKit/chromium/src/WebEventListenerPrivate.cpp -crlf
WebKit/chromium/src/WebEventListenerPrivate.h -crlf
WebKit/gtk/po/sr.po -crlf
WebKit/gtk/po/sr@latin.po -crlf
WebKit/qt/tests/qwebframe/resources/testiframe.html -crlf
WebKit/qt/tests/qwebframe/resources/testiframe2.html -crlf
WebKit/win/COMPropertyBag.h -crlf
WebKit/win/COMVariantSetter.h -crlf
WebKit/win/Interfaces/IWebEmbeddedView.idl -crlf
WebKit/win/Interfaces/JavaScriptCoreAPITypes.idl -crlf
WebKit/win/WebCoreSupport/EmbeddedWidget.cpp -crlf
WebKit/win/WebCoreSupport/EmbeddedWidget.h -crlf
WebKit/win/WebCoreSupport/WebInspectorDelegate.h -crlf
WebKit/win/WebIconFetcher.cpp -crlf
WebKit/win/WebIconFetcher.h -crlf
Websites/planet.webkit.org/planet/LICENCE -crlf
Websites/webkit.org/blog/license.txt -crlf
Websites/webkit.org/blog/wp-config-sample.php -crlf
Websites/webkit.org/blog/wp-config.php -crlf
Websites/webkit.org/blog/wp-includes/images/crystal/license.txt -crlf
Websites/webkit.org/blog/wp-includes/js/scriptaculous/MIT-LICENSE -crlf
Websites/webkit.org/blog/wp-includes/js/swfupload/plugins/swfupload.speed.js -crlf
Websites/webkit.org/blog/wp-includes/js/tinymce/license.txt -crlf
Websites/webkit.org/perf/slickspeed/frameworks/DomQuery.js -crlf
