body {
  margin: 8px;
  padding: 0;
}

h1, div, p {
  display: block;
  width: 100px;
  height: 30px;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
}

#span {
  display: block;
  width: 100px;
  height: 30px;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

#iframe1 {
  height: 100px;
  margin-top: 60px;
}

#p6 {
  height: 50px;
  margin-top: 30px;
}

#transf {
  margin-top: 60px;
  -webkit-transform: rotate(-45deg);
}

#decimal {
  position: relative;
  left: 0.5px;
  top: 50.5px;
}
