<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NetscapeCoreAnimationPlugin</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.netscapecoreanimationplugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>WebPluginDescription</key>
	<string>Simple Netscape plug-in that draws using Core Animation and handles events using the Cocoa event model</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>test/x-netscape-core-animation-plugin</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Netscape Core Animation Plug-in</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>Netscape Core Animation Plug-in</string>
</dict>
</plist>
