body {
	font-family: Helvetica, Arial, san-serif;
	margin: 0;
        font-size: 90%;
        background-color: white;
	text-align: justify;
}

a:link {
        color: rgb(34,98,245);
        text-decoration: none;
}

a:visited {
        color: rgb(34,98,245);
	text-decoration: none;
}

a:hover {
        color: rgb(34,98,245); 
        text-decoration: underline;
}
a:active {
        color: rgb(34,98,245);
	text-decoration: underline;
}

#sidebar {
        top: 0;
        right: 0;
        height: 100%;
	margin-left: 10px;
        border-width: 0;
        border-style: none;
	border-left: 1px #C3C3C3 solid;
        width: 181px;
        float:right; /* hack for winie to not choke utterly on the site */
	}


body > #sidebar {
        float:none;
        position: fixed; /* WinIE doesn't understand this so we can make things right in other browsers. */
}

#banner {
        -apple-text-size-adjust: none;
        background-color: rgb(81,118,236);
        background-image: url(images/bluebanner.png);
        background-repeat: repeat-x;
        background-position: top left;
        padding: 6px 0 0 8px;
        margin: 0px;
        height: 36px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 24px;
        letter-spacing: 0.07em;
        -apple-text-size-adjust: none;
        cursor: default;
        color: #FFFFFF;
        margin-right: 182px;
}

#content {
        margin-right: 201px;
        margin-top: 1em;
        margin-left: 1em;
        line-height: 140%;
}

.articleheader {
        font-weight: bold;
        font-size: larger;
}

.articlesubheader {
        font-weight: bold;
}

.code {
        font-family: monospace;
        margin-left: 2em;
}

h3 {
	margin-top: 12px;
}

h4 {
	font-size: 105%;
	margin-bottom: 3px;
}