.container {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.box {
    height: 200px;
    width: 200px;
    background-color: blue;
    -webkit-transform: translateZ(0);
    overflow: hidden;
}
