import importlib
import json
import os
import socket
import sys

from buildbot.changes.pb import PBChangeSource
from buildbot.plugins import util
from buildbot.www.hooks.github import GitHubEventHandler

sys.path.insert(0, os.path.dirname(os.path.dirname(os.path.abspath(__file__))))

loadConfig = importlib.import_module("build-webkit-org.loadConfig")


def load_password(name, default=None, master_prefix_path=os.path.dirname(os.path.abspath(__file__))):
    if os.getenv(name):
        return os.getenv(name)
    try:
        passwords = json.load(open(os.path.join(master_prefix_path, 'passwords.json')))
        return passwords.get(name, default)
    except FileNotFoundError as e:
        print(f'ERROR: passwords.json missing: {e}, using default value for {name}\n')
    except Exception as e:
        print(f'Error in finding {name} in passwords.json\n')
    return default


is_test_mode_enabled = load_password('BUILDBOT_PRODUCTION') is None
custom_suffix = ''
hostname = socket.gethostname().strip()
if 'dev' in hostname:
    custom_suffix = '-dev'
if 'uat' in hostname:
    custom_suffix = '-uat'

# We are using multi-master setup with 2 masters.
# One master handles UI (web-server), and the other handles the back-end.
# If test mode is enabled, we use single master setup.
use_multi_master = not is_test_mode_enabled

c = BuildmasterConfig = {}
c['title'] = f'WebKit CI{custom_suffix.upper()}'
c['titleURL'] = f'https://webkit{custom_suffix}.org'
# If the workers and builders are not defined also for this master then the
# feature to collapse build-requests doesn't work. See: webkit.org/b/300920
# And it is needed to define a PB port, otherwise buildbot fails with:
#  ""workers are configured, but c['protocols'] no""
# But this PB port is not used and the workers should not connect to it.
c['protocols'] = {'pb': {'port': 17777}}

if use_multi_master:
    c['multiMaster'] = True
    c['mq'] = {
        'type': 'wamp',
        'router_url': 'ws://localhost:8080/ws',
        'realm': 'realm1',
        'wamp_debug_level': 'info'
    }

c['change_source'] = PBChangeSource(port=16000)

c['www'] = dict(port='tcp:8710:interface=127.0.0.1', plugins=dict(waterfall_view={}, console_view={}, grid_view={}), allowed_origins=["*"])
c['www']['ui_default_config'] = {
    'Builders.show_workers_name': True,
    'Builders.buildFetchLimit': 1000,
    'Links.build_link_template': "%(build_number)",
}

if not is_test_mode_enabled:
    GITHUB_CLIENT_ID = load_password('GITHUB_CLIENT_ID')
    GITHUB_CLIENT_SECRET = load_password('GITHUB_CLIENT_SECRET')
    if (not GITHUB_CLIENT_ID) or (not GITHUB_CLIENT_SECRET):
        print('ERROR: Credentials not found. Please ensure GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET are configured either in env variables or in passwords.json')
        sys.exit(1)
    # See https://docs.buildbot.net/4.3.0/manual/configuration/www.html#example-configs
    authz = util.Authz(
        allowRules=[util.AnyEndpointMatcher(role='Buildbot-Administrators', defaultDeny=False),
            util.ForceBuildEndpointMatcher(role='Reviewers'),
            util.AnyControlEndpointMatcher(role='Buildbot-Administrators')],
        roleMatchers=[util.RolesFromGroups(groupPrefix='WebKit/')]
    )
    auth = util.GitHubAuth(GITHUB_CLIENT_ID, GITHUB_CLIENT_SECRET, apiVersion=4, getTeamsMembership=True, debug=True)
    c['www']['auth'] = auth
    c['www']['authz'] = authz

    c['www']['change_hook_dialects'] = dict(
        github={
            'class': GitHubEventHandler,
            'secret': load_password('GITHUB_HOOK_SECRET'),
            'token': load_password('GITHUB_COM_ACCESS_TOKEN'),
        },
    )

if is_test_mode_enabled:
    c['buildbotURL'] = 'http://localhost:8710/'
else:
    c['buildbotURL'] = f'https://build.webkit{custom_suffix}.org/'
    db_url = load_password('DB_URL')
    db_name = load_password('DB_NAME')
    db_username = load_password('DB_USERNAME')
    db_password = load_password('DB_PASSWORD')
    if None in [db_url, db_name, db_username, db_password]:
        print('\n\nERROR: Database information missing from passwords.json.\n')
        sys.exit(1)
    # See https://docs.buildbot.net/2.10.0/manual/configuration/global.html#database-specification
    c['db_url'] = f'postgresql://{db_username}:{db_password}@{db_url}/{db_name}'

c['buildCacheSize'] = 60
c['logCompressionMethod'] = 'lz4'
c['buildbotNetUsageData'] = None

loadConfig.loadBuilderConfig(
    c, is_test_mode_enabled=is_test_mode_enabled,
    setup_main_schedulers=True,
    setup_force_schedulers=True,
)
