#include "../../../Configurations/Base.xcconfig"
VALID_ARCHS = i386 ppc;
OBJROOT=${WEBKIT_BUILD_DIR}/${CONFIGURATION}-int;
SYMROOT=${WEBKIT_BUILD_DIR}/${CONFIGURATION}-int;
SHARED_PRECOMPS_DIR=${WEBKIT_BUILD_DIR}/${CONFIGURATION}-int/PrecompiledHeaders
SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk

GCC_PREFIX_HEADER = ../../../JavaScriptCorePrefix.h;
GCC_PREPROCESSOR_DEFINITIONS = $(DEBUG_DEFINES) $(GCC_PREPROCESSOR_DEFINITIONS);
HEADER_SEARCH_PATHS = "${JAVASCRIPTCORE_SRC_ROOT}/." "${JAVASCRIPTCORE_SRC_ROOT}/bindings" "${JAVASCRIPTCORE_SRC_ROOT}/bindings/jni" "${JAVASCRIPTCORE_SRC_ROOT}/pcre" "${JAVASCRIPTCORE_SRC_ROOT}/kjs" "${JAVASCRIPTCORE_SRC_ROOT}/wtf" "${JAVASCRIPTCORE_SRC_ROOT}/icu" "${CONFIGURATION_TEMP_DIR}/DerivedSources" "${CONFIGURATION_TEMP_DIR}/FrameworkHeaders" "${CONFIGURATION_TEMP_DIR}" $(HEADER_SEARCH_PATHS);
CONFIGURATION_BUILD_DIR = $(BUILD_DIR);
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR);
GCC_PFE_FILE_C_DIALECTS = c c++ objective-c++;
PRODUCT_NAME = JavaScriptCore
INSTALL_PATH = /usr/local/lib
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_MODEL_TUNING = G5
COPY_PHASE_STRIP = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
