#include "../../../Configurations/Base.xcconfig"
VALID_ARCHS = i386 ppc;
OBJROOT=${WEBKIT_BUILD_DIR}/${CONFIGURATION}-int;
SYMROOT=${WEBKIT_BUILD_DIR}/${CONFIGURATION}-int;
SHARED_PRECOMPS_DIR=${WEBKIT_BUILD_DIR}/${CONFIGURATION}-int/PrecompiledHeaders

GCC_PREFIX_HEADER = ../../../JavaScriptCorePrefix.h;
GCC_PREPROCESSOR_DEFINITIONS = $(DEBUG_DEFINES) $(GCC_PREPROCESSOR_DEFINITIONS);
HEADER_SEARCH_PATHS = "${JAVASCRIPTCORE_SRC_ROOT}/." "${JAVASCRIPTCORE_SRC_ROOT}/kjs" "${JAVASCRIPTCORE_SRC_ROOT}/wtf" "${JAVASCRIPTCORE_SRC_ROOT}/icu" "${BUILT_PRODUCTS_DIR}/DerivedSources/JavaScriptCore" $(HEADER_SEARCH_PATHS);
CONFIGURATION_BUILD_DIR = $(BUILD_DIR);
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR);
