[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% sortlist_separator = '---' %]

<dl>
  [% FOREACH param = panel.param_list %]
    <dt id="[% param.name FILTER html %]_desc">[% param.name FILTER html %]</dt>
    <dd>[% panel.param_descs.${param.name} FILTER none %]
      <p>
      [% IF param.type == "t" %]
        <input type="text" size="80" name="[% param.name FILTER html %]"
               id="[% param.name FILTER html %]" value="[% Param(param.name) FILTER html %]">
      [% ELSIF param.type == "p" %]
        <input type="password" size="80" name="[% param.name FILTER html %]"
               id="[% param.name FILTER html %]" value="[% Param(param.name) FILTER html %]"
               autocomplete="off">
      [% ELSIF param.type == "l" %]
        <textarea name="[% param.name FILTER html %]" id="[% param.name FILTER html %]"
                  rows="10" cols="80">[% Param(param.name) FILTER html %]</textarea>
      [% ELSIF param.type == "b" %]
        <input type="radio" name="[% param.name FILTER html %]" id="[% param.name FILTER html %]-on"
               value=1 [% "checked=\"checked\"" IF Param(param.name) %]>
        <label for="[% param.name FILTER html %]-on">On</label>
        <input type="radio" name="[% param.name FILTER html %]" id="[% param.name FILTER html %]-off"
               value=0 [% "checked=\"checked\"" IF !Param(param.name) %]>
        <label for="[% param.name FILTER html %]-off">Off</label>
      [% ELSIF param.type == "m" %]
        [% boxSize = 5 %]
        [% SET boxSize = param.choices.size IF param.choices.size < 5 %]

        <select multiple="multiple" size="[% boxSize FILTER html %]"
                name="[% param.name FILTER html %]" id="[% param.name FILTER html %]">
          [% FOREACH item = param.choices %]
            <option value="[% item FILTER html %]"
                    [% " selected=\"selected\"" IF lsearch(Param(param.name), item) != -1 %]>
              [% item FILTER html %]
            </option>
          [% END %]
        </select>
      [% ELSIF param.type == "o" %]
        <input id="input_[% param.name FILTER html %]" size="80"
               name="[% param.name FILTER html %]"
               value="[% Param(param.name) FILTER html %]"><br>
        [% boxSize = 7 %]
        [% SET boxSize = 3 + param.choices.size IF param.choices.size < 7 %]
        [% plist = Param(param.name).split(',') %]

        <table id="table_[% param.name FILTER html %]" class="bz_default_hidden">
          <tr>
            <td rowspan="2">
              <select id="select_[% param.name FILTER html %]"
                      name="select_[% param.name FILTER html %]"
                      size="[% boxSize FILTER html %]">
                [% FOREACH item = plist %]
                  <option value="[% item FILTER html %]">[% item FILTER html %]</option>
                [% END %]
                <option class="sortlist_separator" disabled="disabled"
                        value="[% sortlist_separator %]">active&uarr;&nbsp;&darr;inactive</option>
                [% FOREACH item = param.choices %]
                  [% IF lsearch(plist, item) == -1 %]
                    <option value="[% item FILTER html %]">[% item FILTER html %]</option>
                  [% END %]
                [% END %]
              </select>
            </td>
            <td class="bottom">
              <button type="button"
                      onClick="sortedList_moveItem('[% param.name FILTER html %]', -1, '[% sortlist_separator %]');">&uarr;</button>
            </td>
          </tr>

          <tr>
            <td class="top">
              <button type="button"
                      onClick="sortedList_moveItem('[% param.name FILTER html %]', +1, '[% sortlist_separator %]');">&darr;</button>
            </td>
          </tr>
        </table>

        <script type="text/javascript">
            bz_toggleClass("input_[% param.name FILTER html %]", "bz_default_hidden");
            bz_toggleClass("table_[% param.name FILTER html %]", "bz_default_hidden");
        </script>
      [% ELSIF param.type == "s" %]
        <select name="[% param.name FILTER html %]" id="[% param.name FILTER html %]">
          [% FOREACH item = param.choices %]
            <option value="[% item FILTER html %]"
                    [% " selected=\"selected\"" IF item == Param(param.name) %]>
              [% IF param.name == "defaultseverity" %]
                [% display_value("bug_severity", item) FILTER html %]
              [% ELSIF param.name == "defaultplatform" %]
                [% display_value("rep_platform", item) FILTER html %]
              [% ELSIF param.name == "defaultopsys" %]
                [% display_value("op_sys", item) FILTER html %]
              [% ELSIF param.name == "duplicate_or_move_bug_status" %]
                [% display_value("bug_status", item) FILTER html %]
              [% ELSE %]
                [% item FILTER html %]
              [% END %]
            </option>
          [% END %]
        </select>
      [% ELSE %]
        <span class="warning">
          Unknown param type [% param.type FILTER html %]!!!
        </span>
      [% END %]
      </p>
      [% UNLESS param.no_reset %]
        <p>
          <input type="checkbox" name="reset-[% param.name FILTER html %]"
                 id="reset-[% param.name FILTER html %]">
          <label for="reset-[% param.name FILTER html %]">Reset</label>
        </p>
      [% END %]
      <hr>
    </dd>
  [% END %]
</dl>
