[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Email"
   desc = "How will outgoing mail be delivered?"
%]

[% param_descs = {
  mail_delivery_method => "Defines how email is sent, or if it is sent at all.<br>
                           <ul>
                             <li>
                               'Sendmail', 'SMTP' and 'Qmail' are all MTAs.
                               You need to install a third-party sendmail replacement if
                               you want to use sendmail on Windows.
                             </li>
                             <li>
                               'Test' is useful for debugging: all email is stored
                               in 'data/mailer.testfile' instead of being sent.
                             </li>
                             <li>
                               'none' will completely disable email. $terms.Bugzilla continues
                               to act as though it is sending mail, but nothing is sent or
                               stored.
                             </li>
                           </ul>",

  mailfrom => "The email address of the $terms.Bugzilla mail daemon.  Some email systems " _
              "require this to be a valid email address.",

  use_mailer_queue => "In a large $terms.Bugzilla installation, updating"
    _ " $terms.bugs can be very slow, because $terms.Bugzilla sends all"
    _ " email at once. If you enable this parameter, $terms.Bugzilla will"
    _ " queue all mail and then send it in the background. This requires"
    _ " that you have installed certain Perl modules (as listed by"
    _ " <kbd>checksetup.pl</kbd> for this feature), and that you are"
    _ " running the <code>jobqueue.pl</code> daemon (otherwise your mail"
    _ " won't get sent). This affects all mail sent by $terms.Bugzilla,"
    _ " not just $terms.bug updates.",

  smtpserver => "The SMTP server address (if using SMTP for mail delivery).",

  smtp_username => "The username to pass to the SMTP server for SMTP authentication. " _
                   "Leave this field empty if your SMTP server doesn't require authentication.",

  smtp_password => "The password to pass to the SMTP server for SMTP authentication. " _
                   "This field has no effect if the smtp_username parameter is left empty.",

  smtp_debug => "If enabled, this will print detailed information to your" _
                " web server's error log about the communication between" _
                " $terms.Bugzilla and your SMTP server. You can use this to" _
                " troubleshoot email problems.",

  whinedays => "The number of days that we'll let a $terms.bug sit untouched in a CONFIRMED " _
               "state before our cronjob will whine at the owner.<br> " _
               "Set to 0 to disable whining.",

  globalwatchers => "A comma-separated list of users who should receive a " _
                    "copy of every notification mail the system sends." }

%]
