<Files "reply2.txt">
AddCharset windows-1251 .txt
</Files>
<Files "reply4.txt">
AddCharset koi8-r .txt
</Files>
<Files "reply2.xml">
AddCharset windows-1251 .xml
</Files>
<Files "noContentType.asis">
DefaultType None
</Files>
