body {
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

a {
    color: Black;
    font-weight: bold;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td {
    overflow: hidden;
    vertical-align: top;
    border-right: 1px solid #CCC;
}

td:last-of-type {
    border-right: 0px;
}

.butterbar {
    background-color: #f3f3f3;
    padding: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
}

.butterbar .hide {
    margin-left: 20px;
}

/* If we've only seen a given test failure once, we dim it so as not to distract the gardener. */
.test[data-failure-count="1"][data-new-test="false"] {
    -webkit-transition: 1s opacity;
    opacity: 0.5;
}

.results {
    margin: 10px;
}

.regression {
    padding: 0 0 10px 0;
}

.regression .test {
    margin: 10px 0px;
}

.regression ul {
    margin: 0;
    list-style: none;
    display: inline-block;
    padding: 0 0 0 10px;
}

.regression li {
}

.regression a {
    font-weight: normal;
}

.regression .what a {
    text-decoration: none;
}

.regression .what a[draggable].IMAGE\+TEXT::before {
    content: 'IMAGE+TEXT';
    color: white;
    background-color: Indigo;
    font-size: 10px;
    padding: 1px 2px;
    margin: 0 3px 0 0;
    border-radius: 4px;
}

.regression .what a[draggable].IMAGE::before {
    content: 'IMAGE';
    color: white;
    background-color: MidnightBlue;
    font-size: 10px;
    padding: 1px 2px;
    margin: 0 3px 0 0;
    border-radius: 4px;
}

.regression .what a[draggable].TEXT::before {
    content: 'TEXT';
    color: white;
    background-color: DodgerBlue;
    font-size: 10px;
    padding: 1px 2px;
    margin: 0 3px 0 0;
    border-radius: 4px;
}

.regression .what a[draggable].CRASH::before {
    content: 'CRASH';
    color: white;
    background-color: Tomato;
    font-size: 10px;
    padding: 1px 2px;
    margin: 0 3px 0 0;
    border-radius: 4px;
}

.regression .test[data-new-test="true"] .what a[draggable]::after {
    content: '(new)';
    margin: 0 3px;
}

.regression .what a {
    padding: 1px 2px;
    border-radius: 4px;
    color: black;
}

.partytime {
    display: none;
    text-align:center;
}

.regression .where li {
    margin: 3px;
    display: inline-block;
    padding: 1px 2px;
    border-radius: 4px;
    color: #555;
}

.regression .where li:hover {
    color: black;
    background-color: #f3f3f3;
}

.regression .regression-range, .regression .failure-count {
    padding: 0px 2px;
    display: inline-block;
}

.regression .failure-count {
    color: #555;
}

.results-detail {
    display: none;
    position: fixed;
    background-color: #f3f3f3;
    top: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.results-detail .toolbar {
    border-top: 1px solid #CCC;
    text-align: right;
    border-bottom: 1px solid #CCC;
}

.results-detail .dismiss {
    display: inline-block;
    padding: 5px;
}

.results-detail .toolbar {
    position: relative;
}

.results-detail .content {
    height: 100%;
    background-color: white;
}

.results-detail .failure-details {
    height: 100%;
}

.results-detail .failure-details iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.results-detail .failure-details td {
    height: 100%;
}
