<files empty.css>
  ForceType text/html
</files>

<files empty.xml>
  ForceType application/xml;charset=utf-8
</files>

<files font.ttf>
  ForceType application/x-truetype-font
</files>

<files font.svg>
  ForceType image/svg+xml
</files>

<files support-b.png>
  ForceType text/html
</files>

<files svg.xml>
  ForceType image/svg+xml
</files>

<files xhtml.1>
  ForceType text/xml
</files>

<files xhtml.2>
  ForceType text/xml
</files>

<files xhtml.3>
  ForceType text/xml
</files>

<IfModule mod_include.c>
  AddType text/html .html
  AddHandler server-parsed .html
</IfModule>

ErrorDocument 404 /misc/resources/acid3/support-a.png.404
