[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% DEFAULT qs_suffix = "" %]
[% USE Bugzilla %]

<ul class="links">
  <li class="new-bug"><a href="enter_bug.cgi">New</a></li>
  <li class="browse-bugs"><a href="describecomponents.cgi">Browse</a></li>

  [% Hook.process('action-links') %]

[% IF !footer %]
    [% IF user.login %]
      [% IF user.can_administer %]
        <li class="admin-link"><a href="admin.cgi">Admin</a></li>
      [% END %]

      <li class="user-login">
        [% IF user.authorizer.can_logout %]
          <a href="index.cgi?logout=1" class="logout-link">Log&nbsp;out</a>
        [% ELSE %]
          Logged&nbsp;in&nbsp;as
        [% END %]
        [% IF sudoer %]
          [%+ sudoer.login FILTER html %] (<b>impersonating
          [%+ user.login FILTER html %]</b>
          <a href="relogin.cgi?action=end-sudo">end session</a>)
        [% ELSE %]
          <a href="userprefs.cgi" class="logged-in-as">[%+ user.login FILTER html %]</a>
        [% END %]
      [%-# Work around FF bug: keep this on one line %]</li>
    [% ELSE %]
    
      
      [%# Only display one login form when we're on a LOGIN_REQUIRED page. That
        # way, we're guaranteed that the user will use the form that has 
        # hidden_fields in it (the center form) instead of this one. Also, it's
        # less confusing to have one form (as opposed to  three) when you're 
        # required to log in.
        #%]
      [% IF user.authorizer.can_login && !Bugzilla.page_requires_login %]
        [% PROCESS "account/auth/login-small.html.tmpl" %]
      [% END %]
    [% END %]
    
    <li class="quicksearch">
    <form action="buglist.cgi" method="get"
        onsubmit="if (this.quicksearch.value == '') { document.location.assign('/query.cgi'); return false; } else return true;">
    <input type="hidden" id="no_redirect[% qs_suffix FILTER html %]" name="no_redirect" value="0">
    <script type="text/javascript">
      if (history && history.replaceState) {
        var no_redirect = document.getElementById("no_redirect[% qs_suffix FILTER js %]");
        no_redirect.value = 1;
      }
    </script>
    <input class="search-input" type="search" id="quicksearch[% qs_suffix FILTER html %]" name="quicksearch" 
           title="Quick Search" value="[% quicksearch FILTER html %]">
    <!-- <input class="btn" type="submit" value="Search" 
           id="find[% qs_suffix FILTER html %]"> -->
    [%-# Work around FF bug: keep this on one line %]</form></li>
[% ELSE %]
  <li><a href="report.cgi">Reports</a></li>

  <li>
    [% IF Param('shutdownhtml') || Bugzilla.has_flags %]
      
      [% IF user.id %]
        <a href="request.cgi?requester=[% user.login FILTER uri %]&amp;requestee=
                 [% user.login FILTER uri %]&amp;do_union=1&amp;group=type&amp;action=queue">My Requests</a>
      [% ELSE %]
        <a href="request.cgi">Requests</a>
      [% END %]
    [% END %]
  [%-# Work around FF bug: keep this on one line %]</li>
[% END %]
  </ul>

[% Hook.process("link-row") %]