.data-grid table {
    line-height: 120%;
}

body.dock-to-bottom #toolbar {
    cursor: default; /* overriden */
}

body.dock-to-bottom.platform-mac #toolbar {
    border-top-color: white;
}

/* Chrome theme overrides */

body.platform-linux {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 11px !important;
}

body.platform-mac {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 11px !important;
}

body.platform-windows {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 11px !important;
}

body.platform-windows #toolbar, body.platform-windows.inactive #toolbar {
    background-image: none;
}

body.undocked.platform-mac-leopard #toolbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(175, 175, 175)), to(rgb(151, 151, 151))) !important;
}

body.undocked.platform-mac-leopard.inactive #toolbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(221, 221, 221)), to(rgb(207, 207, 207))) !important;
}

body.undocked.platform-mac-snowleopard #toolbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(189, 189, 189)), to(rgb(167, 167, 167))) !important;
}

body.undocked.platform-mac-snowleopard.inactive #toolbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(228, 228, 228)), to(rgb(216, 216, 216))) !important;
}

body.undocked.platform-mac-mountain-lion #toolbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(208, 208, 208)), to(rgb(200, 200, 200))) !important;
}

body.undocked.platform-mac-mountain-lion.inactive #toolbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 238, 238)), to(rgb(224, 224, 224))) !important;
}

body.platform-linux #scripts-files {
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
}

.console-group-messages .section > .header {
    padding: 0 8px 0 0;
    background-image: none;
    border: none;
    min-height: 0;
}

#resources-filter {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(233, 233, 233)), to(rgb(233, 233, 233)));
}

.crumbs .crumb {
    -webkit-border-image: url(Images/segmentChromium.png) 0 12 0 2;
    margin-right: -3px;
    padding-left: 6px;
}

.crumbs .crumb.selected {
    -webkit-border-image: url(Images/segmentSelectedChromium.png) 0 12 0 2;
    color: white;
    text-shadow: rgba(255, 255, 255, 0.5) 0 0px 0;
}

.crumbs .crumb.selected:hover {
    -webkit-border-image: url(Images/segmentSelectedChromium.png) 0 12 0 2;
}

.crumbs .crumb.selected.end, .crumbs .crumb.selected.end:hover {
    -webkit-border-image: url(Images/segmentSelectedEndChromium.png) 0 2 0 2;
}

.crumbs .crumb:hover {
    -webkit-border-image: url(Images/segmentHoverChromium.png) 0 12 0 2;
}

.crumbs .crumb.end:hover {
    -webkit-border-image: url(Images/segmentHoverEndChromium.png) 0 2 0 2;
}

.status-bar {
    background-image: -webkit-linear-gradient(rgb(243,243,243), rgb(235,235,235));
}

.scope-bar li.selected {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.scope-bar li:active {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.timeline-category-statusbar-item input {
    vertical-align: middle;
}
