<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>EnablePressuredExit</key>
        <true/>
        <key>EnableTransactions</key>
        <true/>
        <key>Label</key>
        <string>com.apple.webkit.webpushd</string>
        <key>MachServices</key>
        <dict>
                <key>com.apple.webkit.webpushd.service</key>
                <true/>
        </dict>
        <key>ProcessType</key>
        <string>Adaptive</string>
        <key>ProgramArguments</key>
        <array>
                <string>/System/Library/Frameworks/WebKit.framework/Daemons/webpushd</string>
                <string>--machServiceName</string>
                <string>com.apple.webkit.webpushd.service</string>
                <string>--storageLocation</string>
                <string>/var/mobile/Library/com.apple.webkit.webpushd/Version1</string>
        </array>
        <key>StandardErrorPath</key>
        <string>/dev/null</string>
</dict>
</plist>