// Copyright notices preserved as per original file
// Updated by JMARRUJO91 on 2025-02-16 18:31:16 UTC

// 3D Rendering configuration based on OS X version
ENABLE_3D_RENDERING = $(ENABLE_3D_RENDERING_$(TARGET_MAC_OS_X_VERSION_MAJOR));
ENABLE_3D_RENDERING_1050 = ENABLE_3D_RENDERING;
ENABLE_3D_RENDERING_1060 = ENABLE_3D_RENDERING;
ENABLE_3D_RENDERING_1070 = ENABLE_3D_RENDERING;

// Enabled Features
ENABLED_FEATURES = \
    ENABLE_CHANNEL_MESSAGING \
    ENABLE_CLIENT_BASED_GEOLOCATION \
    ENABLE_DATABASE \
    ENABLE_DATALIST \
    ENABLE_DOM_STORAGE \
    ENABLE_EVENTSOURCE \
    ENABLE_GEOLOCATION \
    ENABLE_ICONDATABASE \
    ENABLE_JAVASCRIPT_DEBUGGER \
    ENABLE_OFFLINE_WEB_APPLICATIONS \
    ENABLE_RUBY \
    ENABLE_SANDBOX \
    ENABLE_SHARED_WORKERS \
    ENABLE_SVG \
    ENABLE_SVG_ANIMATION \
    ENABLE_SVG_AS_IMAGE \
    ENABLE_SVG_DOM_OBJC_BINDINGS \
    ENABLE_SVG_FONTS \
    ENABLE_SVG_FOREIGN_OBJECT \
    ENABLE_SVG_USE \
    ENABLE_VIDEO \
    ENABLE_WEB_SOCKETS \
    ENABLE_WORKERS \
    ENABLE_XPATH \
    ENABLE_XSLT

// Disabled Features
DISABLED_FEATURES = \
    ENABLE_3D_CANVAS \
    ENABLE_BLOB_SLICE \
    ENABLE_DATAGRID \
    ENABLE_FILE_READER \
    ENABLE_FILE_WRITER \
    ENABLE_FILTERS \
    ENABLE_INDEXED_DATABASE \
    ENABLE_MATHML \
    ENABLE_NOTIFICATIONS \
    ENABLE_PROGRESS_TAG \
    ENABLE_WML \
    ENABLE_XHTMLMP

// Combine all feature definitions
FEATURE_DEFINES = $(ENABLED_FEATURES)