#include "Version.xcconfig"
DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = $(MAJOR_BUNDLE_VERSION).$(MINOR_BUNDLE_VERSION).$(TINY_BUNDLE_VERSION);
EXPORTED_SYMBOLS_FILE = JavaScriptCore.exp;
OTHER_LDFLAGS = -sub_library libobjc -Wl,-Y,3;
GCC_PREFIX_HEADER = JavaScriptCorePrefix.h;
GCC_PREPROCESSOR_DEFINITIONS = $(DEBUG_DEFINES) $(GCC_PREPROCESSOR_DEFINITIONS);
HEADER_SEARCH_PATHS = . icu "${BUILT_PRODUCTS_DIR}/DerivedSources/JavaScriptCore" $(HEADER_SEARCH_PATHS);
INFOPLIST_FILE = Info.plist;
INFOPLIST_PREPROCESS = YES;
INSTALL_PATH = $(SYSTEM_LIBRARY_DIR)/Frameworks;
PRODUCT_NAME = JavaScriptCore;
