.progress-like {
    -webkit-appearance: progress-bar;
    -webkit-box-sizing: border-box;
    display: inline-block;
    height: 1em;
    width: 10em;
    vertical-align: -0.2em;
    margin: 0;
    padding: 0;
}

.progress-inner-element-like {
    -webkit-appearance: progress-bar;
    -webkit-box-sizing: border-box;
    -webkit-user-modify: read-only;
    display: block;
    height: 100%;
    width: 100%;
    vertical-align: 0em;
}

.meter-like {
    -webkit-appearance: meter;
    -webkit-box-sizing: border-box;
    display: inline-block;
    height: 1em;
    width: 5em;
    vertical-align: -0.2em;
    margin: 0;
    padding: 0;
}

.meter-inner-element-like {
    -webkit-appearance: meter;
    -webkit-box-sizing: border-box;
    -webkit-user-modify: read-only;
    display: block;
    height: 100%;
    width: 100%;
    vertical-align: 0em;
}
