.Benchmark {
    position: fixed;
    visibility: hidden;
    transition: opacity 1.2s;
}

.Timer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px 40px 14px 0px;
    font-family: Garamond;
    font-size: 18pt;
    transition: opacity 1.2s;
}
