[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# INTERFACE:
  # value: string; The field value being deleted.
  # bug_count: number; The number of bugs that have this field value.
  # value_count: number; The number of values left for this field, including
  #              this value.
  # field: string; The name of the field.
  #%]

[% title = BLOCK %]Delete Value '[% value FILTER html %]' from the 
  '[% field FILTER html %]' field[% END %]

[% PROCESS global/header.html.tmpl
  title = title
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" align="left">Field</th>
  <th valign="top" align="left">Value</th>
</tr>
<tr>
  <td valign="top">Field Name:</td>
  <td valign="top">[% field FILTER html %]</td>
</tr>
<tr>
  <td valign="top">Field Value:</td>
  <td valign="top">[% value FILTER html %]</td>
</tr>
<tr>
  <td valign="top">[% terms.Bugs %]:</td>
  <td valign="top">
[% IF bug_count %]
  <a title="List of [% terms.bugs %] where '[% field FILTER html %]' is '
            [% value FILTER html %]'"
     href="buglist.cgi?[% field FILTER url_quote %]=[%- value FILTER url_quote %]">[% bug_count FILTER html %]</a>
[% ELSE %]
  None
[% END %]
  </td>
</tr>
</table>

<h2>Confirmation</h2>
  
[% IF bug_count %]

    Sorry, there

    [% IF bug_count > 1 %] 
      are [% bug_count FILTER html %] [%+ terms.bugs %] 
    [% ELSE %]
      is [% bug_count FILTER html %] [%+ terms.bug %] 
    [% END %]

    that still have this field value. You must change the field value on
    <a title="List of [% terms.bugs %] where '[% field FILTER html %]' is '[% value FILTER html %]'"
       href="buglist.cgi?[% field FILTER url_quote %]=[%- value FILTER url_quote %]">
    [% IF bug_count > 1 %]
       those [% terms.bugs %] 
    [% ELSE %]
       that [% terms.bug %]
    [% END %]
    </a>
    to another value before you can delete this value.

[% END %]

[% IF value_count == 1 %]

    <p>Sorry, but '[% value FILTER html %]' is the last value for
    '[%- field FILTER html %]', and so it can not be deleted.</p>

  [% ELSE %]

    [% IF bug_count == 0 %]

      <p>Do you really want to delete this value?<p>
  
      <form method="post" action="editvalues.cgi">
        <input type="submit" value="Yes, delete">
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="field" value="[% field FILTER html %]">
        <input type="hidden" name="value" value="[% value FILTER html %]">
      </form>

  [% END %]

[% END %]

[% PROCESS admin/fieldvalues/footer.html.tmpl
  no_edit_link = 1
 +%]

[% PROCESS global/footer.html.tmpl %] 
