MAJOR_VERSION = 528;
MINOR_VERSION = 6;
TINY_VERSION = 0;
FULL_VERSION = $(MAJOR_VERSION).$(MINOR_VERSION);

// The bundle version and short version string are set based on the current build configuration, see below.
BUNDLE_VERSION = $(BUNDLE_VERSION_$(CONFIGURATION));
SHORT_VERSION_STRING = $(SHORT_VERSION_STRING_$(CONFIGURATION))

// The system version prefix is based on the current system version.
SYSTEM_VERSION_PREFIX = $(SYSTEM_VERSION_PREFIX_$(MAC_OS_X_VERSION_MAJOR));
SYSTEM_VERSION_PREFIX_ = 4; // Some Tiger versions of Xcode don't set MAC_OS_X_VERSION_MAJOR.
SYSTEM_VERSION_PREFIX_1040 = 4;
SYSTEM_VERSION_PREFIX_1050 = 5;
SYSTEM_VERSION_PREFIX_1060 = 6;

// The production build always uses the full version with a system version prefix.
BUNDLE_VERSION_Production = $(SYSTEM_VERSION_PREFIX)$(FULL_VERSION);
BUNDLE_VERSION_ = $(BUNDLE_VERSION_Production);

// The production build always uses the major version with a system version prefix
SHORT_VERSION_STRING_Production = $(SYSTEM_VERSION_PREFIX)$(MAJOR_VERSION);
SHORT_VERSION_STRING_ = $(SHORT_VERSION_STRING_Production);

// Local builds are the full version with a plus suffix.
BUNDLE_VERSION_Release = $(FULL_VERSION)+;
BUNDLE_VERSION_Debug = $(BUNDLE_VERSION_Release);

// Local builds use the major version with a plus suffix
SHORT_VERSION_STRING_Release = $(MAJOR_VERSION)+;
SHORT_VERSION_STRING_Debug = $(SHORT_VERSION_STRING_Release);

DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = $(FULL_VERSION);
