html {
    font-family: "Helvetica Neue","Helvetica",sans-serif;
    font-size: 62.5%;
    font-synthesis: none;
}

body {
    margin: 0;
    background: #2C2C3C url('swoop.svg') no-repeat;
    background-size: 50vw;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    color: #9B9B9B;
    box-sizing: border-box;
    padding: 6vw 9vw;
    perspective: 1000px;
}

header,
main,
footer {
    box-sizing: border-box;
    max-width: 780px;
    margin: 0 auto;
}

p a {
    color: #E7B135;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.flip {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
    display: flex;
}

header {
    display: flex;
    flex-wrap: wrap;
}

h2,
.indicator {
    font-size: 5rem;
    color: #9B9B9B;
    font-weight: 500;
    line-height: 1.25;
    margin: 0;
}

p {
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.about h2 {
    margin-top: 3rem;
}

.logo {
    width: 33rem;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    margin: 1px 1rem 1px 0;
    font-size: 0;
}

.start {
    flex: 1;
    display: block;
    position: relative;
    background-color: transparent;
    border: 5px solid #E7B135;
    font-size: 2.4rem;
    line-height: 5.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #E7B135;
}

.start.ready {
    transition: background 0.2s ease-out, color 0.2s ease-out;
    cursor: pointer;
}

.start.ready:hover {
    background-color: #E7B135;
    color: #2C2C3C;
}

.start:after {
    content: '';
    display: block;  
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 3rem solid #E7B135;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 3rem solid transparent;
}

.start.ready .testrun {
    opacity: 0;
}

.tests {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.test {
    position: relative;
    flex: 1;
    border-bottom: 1px solid #979797;
    margin-right: 1rem;
    margin-bottom: 3rem;
}

.overall h2,
.test h2 {
    border-bottom: 1px solid #979797;
}

.test .indicator {
    color: #E7B135;
    opacity: 0;
    
    position: absolute;
    left: -1.2rem;
}

.test .indicator.running {
    animation: test-running 1s;
}

@keyframes test-running {
  0%   { opacity: 0; }
  100%  { opacity: 1; }
}

.score {
    color: #E7B135;
    margin: 1rem 0;
    position: relative;
}

.score label {
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-weight: 500;
    display: block;
    line-height: 1;
}

.score .value {
    font-size: 6.4rem;
    font-weight: 600;

    line-height: 1;
    white-space: nowrap;
}

.score .units {
    font-size: 4rem;
    font-weight: 600;
    
}

.score .margin {
    color: #9B9B9B;
    position: absolute;
    font-size: 2rem;
    top: 2rem;
    margin-left: 0.2rem;
}

.overall {
    margin-bottom: 3rem;
}

.overall .score  {
    color: #ffffff;
}

.overall .margin  {
    top: 0.5rem;
}

.testing, .about {
    background-color: #2C2C3C;
	-webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.testing {
    width: 100%;
	z-index: 2;
	transform: rotateY(0deg);
    padding-bottom: 10rem;
}

.about {
	transform: rotateY(180deg);
}

#about:target {
	transform: rotateY(180deg);
    
}

@media only screen and (max-width: 784px) {
    
    .logo {
        width: 100%;
        margin-bottom: 1rem;
        margin: 0 0 1rem 0;
    }
    .start {
        width: 100%;
    }
    
    .test {
        flex: none;
        
        width: 100%;
    }
}