[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Migration note: this file corresponds to the old Param
  # 'entryheaderhtml'
  #%]

[%# You can make the output of this template product-specific by using
  # Template Toolkit IF statements.  The current product name is stored in
  # the 'product' variable.
  #%]

Before reporting [% terms.abug %], please read the 
<a href="page.cgi?id=bug-writing.html">
[% terms.bug %] writing guidelines</a>, please look at the list of
<a href="duplicates.cgi">most frequently reported [% terms.bugs %]</a>, and please
<a href="query.cgi">search</a> for the [% terms.bug %].
