body {
	color: lime;
	background: #333333;
	font-family: monospace;
}
:link {
	color: yellow;
}
:visited {
	color: #999900;
}
table {
	border: 1px dotted;
	border-spacing: 7px;
	font-size: larger;
	font-weight: 900;
	font-family: sans-serif;
	color: white;
}
td, th {
	border: 1px dotted;
}
.separate {
	border-collapse: separate;
}
.collapse {
	border-collapse: collapse;
}
.b, .e {
	border: 13px dotted;
}

/*Columns*/
.a {width: 126px}
.b {width: 192px}
.c {width: 114px}
.d {width: 109px}

/*Rows*/
.d {height: 96px}
.h {height: 104px}
.l {height: 80px}
.p {height: 111px}
