
p { background: red; color: yellow; }
p.t1.t2 { background: green; color: white; }
div { background: green; color: white; }
div.t1 { background: red; color: yellow; }
address { background: red; color: yellow; }
address.t5.t5 { background: green; color: white; }
