body {
  color: black; background-color: white;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0; padding: 0em;
	text-align: center;
}

.title {
	text-align:center;
	font-weight:bold;
	font-style:italic;
	font-size:1.8em;
	padding:10px;
}

.ruler {
	height:3px;
	background-color:#638AD6;
	margin-left:10px;
	margin-right:10px;
}

.headerItem {
	text-align:right;
	font-weight:bold;
}

.headerValue {
	text-align:left;
	font-weight:bold;
	color:#638AD6;
}

.tableHead {
	text-align:center;
	font-weight:bold;
	background-color:#638AD6;
	color:white;
	
}

.coverFile {
  font-family: Courier;
	background-color:#DEE7FF;
	padding:3px;
	width:70%;
}

.coverBar {
	background-color:#DEE7FF;
	padding:3px;
	width:5%;
}

.coverBarOutline {
}

.coverPerHi {
  font-family: Times;
	text-align:center;
	font-weight:bold;
	background-color:lightgreen;	
	padding:3px;
	width:5%;
}

.coverNumHi {
  font-family: Times;
	text-align:right;
	background-color:lightgreen;	
	padding:3px;
	width:25%;
}

.coverPerMed {
  font-family: Times;
	text-align:center;
	font-weight:bold;
	background-color:yellow;	
	padding:3px;
}

.coverNumMed {
  font-family: Times;
	text-align:right;
	background-color:yellow;	
	padding:3px;
}

.coverPerLo {
  font-family: Times;
	text-align:center;
	font-weight:bold;
	background-color:red;	
	padding:3px;
}

.coverNumLo {
  font-family: Times;
	text-align:right;
	background-color:red;	
	padding:3px;
}

.lineNum {
	background-color:#EFE384;	
}

.lineCov {
	background-color:#CED7FF;	
}

.lineNoCov {
	background-color:#FF6131;	
}

