div.test {
    -webkit-user-modify: read-write;
    padding: 4px;
    border: 1px dashed lightblue;
    margin: 4px 4px 4px 24px;
    outline: none;
    font-family: Lucida Grande;
    counter-increment: test-number;
}
div.test:before { content: counter(test-number); position: absolute; left: 8px; font-size: x-small; text-align: right; width: 20px; }
div.test span { background-color: #def; }
div.test img { width: 1em; height: 1em; background-color: lightgreen; }
div.test img + img { background-color: lightblue; }
div.test div { border: 1px dashed pink; padding: 3px; height: 2em; }
