#include "../../Configurations/Base.xcconfig"
VALID_ARCHS = i386 ppc;
OBJROOT=${WEBKIT_BUILD_DIR}/${CONFIGURATION}-int;
SYMROOT=${WEBKIT_BUILD_DIR}/${CONFIGURATION}-int;
SHARED_PRECOMPS_DIR=${WEBKIT_BUILD_DIR}/${CONFIGURATION}-int/PrecompiledHeaders

GCC_PREFIX_HEADER = ../../WebCorePrefix.h;
GCC_PREPROCESSOR_DEFINITIONS = $(DEBUG_DEFINES) $(GCC_PREPROCESSOR_DEFINITIONS);
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS);
CONFIGURATION_BUILD_DIR = $(BUILD_DIR);
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR);
GCC_PFE_FILE_C_DIALECTS = c c++ objective-c++;
PRODUCT_NAME = WebCore
INSTALL_PATH = /usr/local/lib
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_MODEL_TUNING = G5
COPY_PHASE_STRIP = NO

