body {
    margin: 0;
    padding: 0;
}

body.platform-mac {
    font-size: 11px;
    font-family: Menlo, Monaco;
}

body.platform-windows {
    font-size: 12px;
    font-family: Consolas, Lucida Console;
}

body.platform-linux {
    font-size: 11px;
    font-family: dejavu sans mono;
}

.fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dimmed {
    background-color: rgba(0, 0, 0, 0.31);
}

.message-line {
    margin: 10px 0;
    text-align: center;
}

.message-box {
    background-color: rgb(255, 255, 194);
    border: 1px solid rgb(128, 128, 128);
    display: inline-block;
    padding: 2px 4px;
}

.px {
    color: rgb(128, 128, 128);
}

.element-title-container {
    position: absolute;
    z-index: 10;
}

.element-title {
    position: absolute;
}

.tag-name {
    /* Keep this in sync with XMLViewer.css (.tag) */
    color: rgb(136, 18, 128);
}

.node-id {
    /* Keep this in sync with XMLViewer.css (.attribute-value) */
    color: rgb(26, 26, 166);
}

.class-name {
    /* Keep this in sync with XMLViewer.css (.attribute-name) */
    color: rgb(153, 69, 0);
}

.css-property {
    color: rgb(170, 13, 145);
}

#right-gutter {
    display: none;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: darkgray;
}

#bottom-gutter {
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: darkgray;
}
