[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Svetlana Harisova <light@rathedg.com>
  #%]

[%# Migration note: this whole file corresponds to the old %commandmenu% 
    substitution param in 'footerhtml' %]

[% PROCESS global/variables.none.tmpl %]

<form method="get" action="show_bug.cgi">
<div id="useful-links">
  <div id="links-actions">
    <div class="label">Actions:</div>
    <div class="links">
        <a href="./">Home</a> | 
        <a href="enter_bug.cgi">New</a> | 
        <a href="query.cgi">Search</a> |
        
        [% terms.bug %] # <input class="txt" name="id" size="6">
        <input class="btn" type="submit" value="Find"> | 
        
        <a href="report.cgi">Reports</a> 
        
        [% IF user.id %]
          [% email = user.login FILTER url_quote %]
          | <a href="request.cgi?requester=[% email %]&amp;requestee=[% email %]&amp;do_union=1&amp;group=type">My Requests</a>
        [% ELSE %]
          | <a href="request.cgi">Requests</a>
        [% END %]
        
        [% IF user.id && Param('usevotes') %]
          | <a href="votes.cgi?action=show_user">My&nbsp;Votes</a>
        [% END %]      
        
        [% IF user.login %] 
            [% ' | <a href="sanitycheck.cgi">Sanity&nbsp;check</a>' 
                                                  IF user.groups.tweakparams %]
            [% IF user.get_flag('can_logout') %]
              | <a href="relogin.cgi">Log&nbsp;out</a>&nbsp;
            [% ELSE %]
              | Logged&nbsp;in&nbsp;as&nbsp;
            [% END %]
            [% user.login FILTER html %]
        [% ELSE %]
            [% IF Param('createemailregexp') %]
              | <a href="createaccount.cgi">New&nbsp;Account</a>
            [% END %]
            | <a href="index.cgi?GoAheadAndLogIn=1">Log&nbsp;In</a>
        [% END %]
    </div>
  </div>
      
    [% IF user.login %] 
  <div id="links-edit">
    <div class="label">Edit:</div>
    <div class="links">

        <a href="userprefs.cgi">Prefs</a>
        [% ' | <a href="editparams.cgi">Parameters</a> ' _
           ' | <a href="editsettings.cgi">User Preferences</a>' 
                                                  IF user.groups.tweakparams %]
        [% ' | <a href="editusers.cgi">Users</a>'     IF user.groups.editusers 
                                                  || user.can_bless %]
        [% IF Param('useclassification') && user.groups.editclassifications %]
            [% ' | <a href="editclassifications.cgi">Classifications</a>' %]
        [% END %] 
        [% ' | <a href="editproducts.cgi">Products</a>' 
                                               IF user.groups.editcomponents %]
        [% ' | <a href="editflagtypes.cgi">Flags</a>'
                                               IF user.groups.editcomponents %]
        [% ' | <a href="editvalues.cgi">Field Values</a>'
                                               IF user.groups.editcomponents %]
        [% ' | <a href="editgroups.cgi">Groups</a>' 
                                                 IF user.groups.creategroups %]
        [% ' | <a href="editkeywords.cgi">Keywords</a>' 
                                                 IF user.groups.editkeywords %]
        [% ' | <a href="editwhines.cgi">Whining</a>' 
                                              IF user.groups.bz_canusewhines %]
    </div>
  </div>
    [% END %]
    

    [%# Saved searches %]
    
  <div id="links-saved">
    <div class="label">
      [% IF user.showmybugslink OR user.queries.size %]
          Saved&nbsp;Searches:
      [% END %]
    </div>
    <div class="links">
        [% IF user.showmybugslink %]
          [% filtered_username = user.login FILTER url_quote %]
          <a href="[% Param('mybugstemplate').replace('%userid%', filtered_username) %]">My&nbsp;[% terms.Bugs %]</a>
          [% print_pipe = 1 %]
        [% END %]

        [% FOREACH q = user.queries %]
          [% IF q.linkinfooter %]
            [% " | " IF print_pipe %]
            <a href="buglist.cgi?cmdtype=runnamed&amp;namedcmd=[% q.name FILTER url_quote %]">[% q.name FILTER html FILTER no_break %]</a>
            [% print_pipe = 1 %]
          [% END %]
        [% END %]
    </div>
  </div>

  [%# Sections of links to more things users can do on this installation. %]
  [% Hook.process("end") %]
</div>
</form>
