[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s):
  #%]

[%# This is a list of terms that may be changed to "brand" the Bugzilla 
  # instance (for example, referring to "bugs" as "issues".) When used, these
  # strings are used in several different types of content, and are not  
  # protected with Template-Toolkit FILTERs. Consequently, no special 
  # characters are allowed.
  #
  # Remember to PROCESS rather than INCLUDE this template. 
  #%]

[%# Note on changing terms:
  # Changing this will not affect "linkification" of your new terms.
  # This means if you change "bug" to "problem", then if you have
  # "problem 3" in a comment, it won't become a clickable URL.
  # To have that feature, you must edit the quoteUrls function in
  # Bugzilla/Template.pm.
  # Change the line:
  # my $bug_re = qr/bug\s*\#?\s*(\d+)/i;
  # to something like:
  # my $bug_re = qr/(?:bug|problem)\s*\#?\s*(\d+)/i;
  # (here "problem" was used instead of bug - substitute as needed!).
  #%]

[% terms = {
  "bug" => "bug",
  "Bug" => "Bug",
  "abug" => "a bug",
  "Abug" => "A bug",
  "ABug" => "A Bug",
  "bugs" => "bugs",
  "Bugs" => "Bugs",
  "zeroSearchResults" => "Zarro Boogs found",
  "bit" => "bit",
  "bits" => "bits",
  "Bugzilla" => "Bugzilla"
  }
%]
