accessibility/AccessibilityAllInOne.cpp -crlf
bindings/js/JSExceptionBase.cpp -crlf
bindings/js/JSExceptionBase.h -crlf
inspector/Inspector.json -crlf
platform/chromium/SuddenTerminationChromium.cpp -crlf
platform/network/win/NetworkStateNotifierWin.cpp -crlf
platform/wx/wxcode/non-kerned-drawing.h -crlf
rendering/RenderThemeChromiumWin.h -crlf
