aside {
    position: absolute;
    top: 3px;
    right: 5px;
    color: #888;
    font-size: 0.9em;
}

code {
    font-size: 0.9em;
}

ol {
    list-style-type: none;
}

dt {
    float: left;
    font-weight: bold;
    margin-right: 3px;
}

dt::after {
    content: ':';
}

#failure-history, #possibly-flaky-tests {
    margin: 0;
    padding: 0 0 0 15px;
}

#failure-history > li, #possibly-flaky-tests > li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
}

#failure-history > li {
    padding-left: 50px;
}

.test-list {
    margin: 0 0 0 -40px;
    padding: 0;
}

.info {
    font-style: italic;
}

.existing-and-new-bugs {
    margin-bottom: 0;
}

.existing-bugs-list, .suspect-revisions-list, .flakiness-examples-list {
    font-size: smaller;
}

.new-bug-form {
    display: none;
}

.flakiness-example-separator {
    padding-left: 5em;
    font-size: larger;
}

.disclosure-triangle {
    -webkit-transition: -webkit-transform 0.1s;
    -webkit-user-select: none;
    cursor: default;
    display: inline-block;
    padding: 0px 3px;
}

.expanded > .disclosure-triangle {
    -webkit-transform: rotateZ(90deg);
}

.flakiness-examples-list {
    -webkit-transition: height 0.25s;
    height: 0px;
    overflow: hidden;
}
