<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../resources/stage.css">
</head>
<body>
    <canvas id="stage"></canvas>
    <script src="../../resources/strings.js"></script>
    <script src="../../resources/extensions.js"></script>
    <script src="../resources/algorithm.js"></script>
    <script src="../resources/sampler.js"></script>
    <script src="../resources/math.js"></script>
    <script src="../resources/main.js"></script>
    <script src="resources/template-canvas.js"></script>
</body>
</html>
