.grid {
    display: -webkit-grid;
    background-color: grey;
}

.indefiniteSizeGrid {
    display: -webkit-grid;
    background-color: grey;
    width: -webkit-min-content;
    height: auto;
}

.inline-grid {
    display: -webkit-inline-grid;
    background-color: grey;
}

.firstRowFirstColumn {
    background-color: blue;
    -webkit-grid-column: 1;
    -webkit-grid-row: 1;
}

.firstRowSecondColumn {
    background-color: lime;
    -webkit-grid-column: 2;
    -webkit-grid-row: 1;
}

.secondRowFirstColumn {
    background-color: purple;
    -webkit-grid-column: 1;
    -webkit-grid-row: 2;
}

.secondRowSecondColumn {
    background-color: orange;
    -webkit-grid-column: 2;
    -webkit-grid-row: 2;
}

.firstAutoRowSecondAutoColumn {
    -webkit-grid-row: 1 / auto;
    -webkit-grid-column: 2 / auto;
}

.autoLastRowAutoLastColumn {
    -webkit-grid-row: auto / -1;
    -webkit-grid-column: auto / -1;
}

.autoSecondRowAutoFirstColumn {
    -webkit-grid-row: auto / 2;
    -webkit-grid-column: auto / 1;
}

.firstRowBothColumn {
    -webkit-grid-row: 1;
    -webkit-grid-column: 1 / -1;
}

.secondRowBothColumn {
    -webkit-grid-row: 2;
    -webkit-grid-column: 1 / -1;
}

.bothRowFirstColumn {
    -webkit-grid-row: 1 / -1;
    -webkit-grid-column: 1;
}

.bothRowSecondColumn {
    -webkit-grid-row: 1 / -1;
    -webkit-grid-column: 2;
}

.bothRowBothColumn {
    -webkit-grid-row: 1 / -1;
    -webkit-grid-column: 1 / -1;
}

/* Auto column / row. */
.autoRowAutoColumn {
    background-color: pink;
    -webkit-grid-column: auto;
    -webkit-grid-row: auto;
}

.firstRowAutoColumn {
    background-color: blue;
    -webkit-grid-column: auto;
    -webkit-grid-row: 1;
}

.secondRowAutoColumn {
    background-color: purple;
    -webkit-grid-column: auto;
    -webkit-grid-row: 2;
}

.thirdRowAutoColumn {
    background-color: navy;
    -webkit-grid-column: auto;
    -webkit-grid-row: 3;
}

.autoRowFirstColumn {
    background-color: lime;
    -webkit-grid-column: 1;
    -webkit-grid-row: auto;
}

.autoRowSecondColumn {
    background-color: orange;
    -webkit-grid-column: 2;
    -webkit-grid-row: auto;
}

.autoRowThirdColumn {
    background-color: magenta;
    -webkit-grid-column: 3;
    -webkit-grid-row: auto;
}

.autoRowAutoColumnSpanning2 {
    background-color: maroon;
    -webkit-grid-column: span 2;
    -webkit-grid-row: auto;
}

.autoRowSpanning2AutoColumn {
    background-color: aqua;
    -webkit-grid-column: auto;
    -webkit-grid-row: span 2;
}

.autoRowSpanning2AutoColumnSpanning3 {
    background-color: olive;
    -webkit-grid-column: span 3;
    -webkit-grid-row: span 2;
}

.autoRowSpanning3AutoColumnSpanning2 {
    background-color: indigo;
    -webkit-grid-column: span 2;
    -webkit-grid-row: span 3;
}

.autoRowFirstColumnSpanning2 {
    background-color: maroon;
    -webkit-grid-column: 1 / span 2;
    -webkit-grid-row: auto;
}

.autoRowSecondColumnSpanning2 {
    background-color: olive;
    -webkit-grid-column: 2 / span 2;
    -webkit-grid-row: auto;
}

.firstRowSpanning2AutoColumn {
    background-color: maroon;
    -webkit-grid-column: auto;
    -webkit-grid-row: 1 / span 2;
    height: 100%;
}

.secondRowSpanning2AutoColumn {
    background-color: olive;
    -webkit-grid-column: auto;
    -webkit-grid-row: 2 / span 2;
    height: 100%;
}

/* Grid element flow. */
.gridAutoFlowColumnSparse {
    -webkit-grid-auto-flow: column;
}

.gridAutoFlowColumnDense {
    -webkit-grid-auto-flow: column dense;
}

.gridAutoFlowRowSparse {
    -webkit-grid-auto-flow: row;
}

.gridAutoFlowRowDense {
    -webkit-grid-auto-flow: row dense;
}

/* This rule makes sure the container is smaller than any grid items to avoid distributing any extra logical space to them. */
.constrainedContainer {
    width: 10px;
    height: 10px;
}

.unconstrainedContainer {
    width: 1000px;
    height: 1000px;
}

.sizedToGridArea {
    font: 10px/1 Ahem;
    /* Make us fit our grid area. */
    width: 100%;
    height: 100%;
}

.verticalRL {
    -webkit-writing-mode: vertical-rl;
}

.verticalLR {
    -webkit-writing-mode: vertical-lr;
}

.horizontalBT {
    -webkit-writing-mode: horizontal-bt;
}

.directionRTL {
    direction: rtl;
}
