.grid {
    display: -webkit-grid;
    background-color: grey;
}

.inline-grid {
    display: -webkit-inline-grid;
    background-color: grey;
}

.firstRowFirstColumn {
    background-color: blue;
    -webkit-grid-column: 1;
    -webkit-grid-row: 1;
}

.firstRowSecondColumn {
    background-color: lime;
    -webkit-grid-column: 2;
    -webkit-grid-row: 1;
}

.secondRowFirstColumn {
    background-color: purple;
    -webkit-grid-column: 1;
    -webkit-grid-row: 2;
}

.secondRowSecondColumn {
    background-color: orange;
    -webkit-grid-column: 2;
    -webkit-grid-row: 2;
}

.gridAutoFlowNone {
    -webkit-grid-auto-flow: none;
}

.gridAutoFlowColumn {
    -webkit-grid-auto-flow: column;
}

.gridAutoFlowRow {
    -webkit-grid-auto-flow: row;
}

.verticalRL {
    -webkit-writing-mode: vertical-rl;
}
