/config.json
/tools/
/.tools.url
/tools/html5lib/
/tools/.html5lib.url
/tools/html5lib/html5lib/tests/testdata/
/tools/html5lib/html5lib/tests/.testdata.url
/tools/pytest/
/tools/.pytest.url
/tools/pywebsocket/
/tools/.pywebsocket.url
/tools/six/
/tools/.six.url
/tools/webdriver/
/tools/.webdriver.url
/tools/wptserve/
/tools/.wptserve.url
