[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "$terms.Bug Moving"
   desc = "Set up parameters to move $terms.bugs to/from another installation"
%]

[% param_descs = {

  "move-to-url" => 
    "The URL of the database we allow some of our $terms.bugs to"
    _ " be moved to.",

  "move-to-address" => 
    "To move ${terms.bugs}, an email is sent to the target database."
    _ " This is the email address that that database uses to listen"
    _ " for incoming ${terms.bugs}.",

  movers => 
    "A list of people with permission to move $terms.bugs ",

} %]
