<Files "slow-utf8-text.text">
  AddType text/plain .text
  AddHandler cgi-script .text
  Header set Expires "Thu, 01 Dec 2003 16:00:00 GMT"
  Header set Cache-Control "no-store, no-cache, must-revalidate"
  Header set Pragma "no-cache"
</Files>
<Files "split-hex-entities.html">
  AddHandler cgi-script .html
  Header set Expires "Thu, 01 Dec 2003 16:00:00 GMT"
  Header set Cache-Control "no-store, no-cache, must-revalidate"
  Header set Pragma "no-cache"
</Files>
