Test IndexedDB's behavior deleting entry with no key

On success, you will see a series of "PASS" messages, followed by "TEST COMPLETE".


indexedDB = self.indexedDB || self.webkitIndexedDB || self.mozIndexedDB || self.msIndexedDB || self.OIndexedDB;

dbname = "key-requirements-delete-null-key.html"
indexedDB.deleteDatabase(dbname)
indexedDB.open(dbname)
objectStore = db.createObjectStore('bar');
Expecting exception from objectStore.delete(null);
PASS Exception was thrown.
PASS code is 0
PASS ename is 'DataError'
Exception message: DataError: DOM IDBDatabase Exception 0
PASS successfullyParsed is true

TEST COMPLETE

