ChakraCore/test/es5/hasItem.baseline-jsc diff

test262/test/built-ins/parseInt/S15.1.2.2_A2_T1.js svn-properties=allow-tabs=on
test262/test/language/expressions/logical-assignment/lgcl-and-whitespace.js svn-properties=allow-tabs=on
test262/test/language/expressions/logical-assignment/lgcl-or-whitespace.js svn-properties=allow-tabs=on
test262/test/language/expressions/logical-assignment/lgcl-nullish-whitespace.js svn-properties=allow-tabs=on