:invalid { background: rgb(255, 0, 0); }
:valid { background: rgb(0, 0, 255); }
:disabled { background: black; }
:read-only { background: rgb(0, 255, 0); }
input { background: white; }
textarea { background: white; }
