/* A comment. */

.rule-a {
    font-size: 14px;
    color: #333;

    margin-left: 0;
    margin-top: 1em;
}
.rule-b {font-size: 12px; color: antiquewhite}
.rule-c {
    /* padding-left: 2em; */
    /* padding-right: 0px; */
}
.rule-d {/*font-size: 13px;*//*border: 2px solid brown*/}
