<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>async_frame_and_overflow_scrolling</key>
    <dict>
        <key>Enabled</key>
        <true/>
    </dict>
    <key>canvas_and_media_in_gpu_process</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>InAppBrowserPrivacy</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>incremental_pdf</key>
    <dict>
        <key>Enabled</key>
        <true/>
    </dict>
    <key>ScriptOptimizations</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>WebGL2</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>WebGPU</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>WebXR</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>webrtc_in_gpu_process</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
</dict>
</plist>
