<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>async_frame_and_overflow_scrolling</key>
    <dict>
        <key>Enabled</key>
        <true/>
    </dict>
    <key>gpu_process_canvas_rendering</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>gpu_process_dom_rendering</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>gpu_process_media</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>gpu_process_webgl</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>gpu_process_webrtc</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>InAppBrowserPrivacy</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>incremental_pdf</key>
    <dict>
        <key>Enabled</key>
        <true/>
    </dict>
    <key>ScriptOptimizations</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
	<key>sw_vp9_decoder_on_battery</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
	<key>vp9_decoder</key>
    <dict>
        <key>Enabled</key>
        <true/>
    </dict>
    <key>WebGL2</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>WebGPU</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>WebXR</key>
    <dict>
        <key>Enabled</key>
        <false/>
    </dict>
    <key>webm_parser</key>
    <dict>
        <key>Enabled</key>
        <true/>
    </dict>
</dict>
</plist>
