body {
    background-image: url( /images/gray-background.png ) !important;
}

#content li {
    list-style-image: url( /images/blue-bullet.png ) !important;
}

#title h1, h2, h3, h4, #navlist .subtitle {
	color: #24486B;
}

a, ul#navlist a {
    color: #369;
}
