html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 241, 241);
}

#stage {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 241);
}
