.help-window {
    background-color: black;
    color: white;
    opacity: 0.85;
    border: solid black;
    border-radius: 8px;
    z-index: 2000;
}

.help-window-upper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    top: 60px;
    height: 47px;
    left: 5%;
    width: 90%;
}

body.attached .help-window-upper {
    display: none;
}

.help-window-title {
    border-bottom: solid 1px lightGrey;
    font-size: 18px;
    margin: 10px 20px 2px 20px;
    padding-bottom: 6px;
}

.help-window-lower {
    position: absolute;
    z-index: 2000;
    top: 107px;
    left: 5%;
    width: 90%;
    bottom: 32px;
}

body.attached .help-window-lower {
    position: absolute;
    left: 0;
    width: 100%;
    top: 32px;
    bottom: 0;
}

body.attached .help-scrollable {
    border-radius: 0;
    border-width: 10px;
    height: 100%;
    border-top-width: 10px !important;
}

.help-scrollable {
    border: 20px solid black;
    border-radius: 8px;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 11px;
}

.help-scrollable::-webkit-scrollbar {
    width: 11px;
}

.help-scrollable::-webkit-scrollbar-corner {
    display: none;
}

.help-scrollable::-webkit-resizer {
    display: none;
}

.help-scrollable::-webkit-scrollbar-thumb:vertical {
    background: -webkit-gradient(linear, left top, right top, from(rgb(128, 128, 128)), to(rgb(128, 128, 128)), color-stop(40%, rgb(96, 96, 96)));
    border-radius: 5px;
    min-height: 20px;
}

.help-scrollable::-webkit-scrollbar-thumb:vertical:hover,
.help-scrollable::-webkit-scrollbar-thumb:vertical:active {
    background: -webkit-gradient(linear, left top, right top, from(rgb(176, 176, 176)), to(rgb(176, 176, 176)), color-stop(40%, rgb(144, 144, 144)));
}

.help-scrollable::-webkit-scrollbar-track:vertical {
    background: -webkit-gradient(linear, left top, right top, from(black), to(rgb(32, 32, 32)), color-stop(20%, rgb(32, 32, 32)));
    border-radius: 5px;
}

.help-close-button {
    border: 0 none transparent;
    padding: 0;
    margin: 2px 10px 0px 2px;
    font-size: 14px;
    color: rgb(222, 222, 222);
    background: -webkit-gradient(radial, 30% 30%, 1, 50% 50%, 8, from(rgb(128, 128, 128)), to(rgb(80, 80, 80)));
    border-radius: 8px;
    height: 16px;
    width: 16px;
}

.help-close-button:hover {
    color: white;
}

body.platform-mac .help-close-button {
    float: left;
    font-size: 12px;
}

body:not(.platform-mac) .help-close-button {
    float: right;
    margin-top: 10px;
}

.help-table {
    width: 100%;
    font-size: 13px;
    -webkit-user-select: auto;
}

.help-table th {
    padding-top: 6px;
    text-align: left;
    color: yellow;
}

.help-table td {
    white-space: nowrap;
    vertical-align: top;
}

.help-key-cell {
    text-align: right;
}

.help-key {
    color: yellow;
}

body:not(.platform-mac) .help-key {
    font-weight: bold;
    text-shadow: black 1px 1px 7px;
}

body.platform-mac .help-key {
    font-family: Lucida Grande, sans-serif;
    font-size: 10px;
}

.help-combine-keys {
    color: white;
    font-weight: bold;
    margin: 0 0.3em;
}

.help-key-delimiter {
    color: white;
    margin: 0 0.5em;
}
