.text-editor {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    -webkit-user-select: text;
    -webkit-user-modify: read-write-plaintext-only;
}

.text-editor-readonly {
    -webkit-user-modify: read-only;
}

.text-editor-canvas {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
    pointer-events: none;
}

.text-editor-container {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: auto;
}

.text-editor-cursor {
    -webkit-user-select: none;
    -webkit-user-modify: none;
    position: absolute;
    top:0;
    left:0;
    width:1px;
    height: 14px;
    z-index: 20;
    background-color: black;
    pointer-events: none;
}

.native-text-editor-line {
    white-space: pre;
}

.webkit-html-message-bubble {
    -webkit-box-shadow: black 0px 2px 5px;
    -webkit-border-radius: 9px;
    -webkit-border-fit: lines;
    font-size: 10px;
    font-family: Lucida Grande, sans-serif;
    font-weight: bold;
    margin: 6px 25px;
    padding: 0 7px 1px;
    z-index:20;
}

.webkit-html-warning-message {
    background-color: rgb(100%, 62%, 42%);
    border: 2px solid rgb(100%, 52%, 21%);
}

.webkit-html-error-message {
    background-color: rgb(100%, 42%, 42%);
    border: 2px solid rgb(100%, 31%, 31%);
}

.webkit-html-message-line {
    padding-left: 23px;
    text-indent: -20px;
}

.webkit-html-message-line-hover {
    padding-left: 23px;
    text-indent: -20px;
    white-space: auto;
    text-overflow: auto;
    overflow: auto;
}

.webkit-html-message-icon {
    position: relative;
    top: 2px;
    margin: 0 4px;
}
