<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="resources/shapes.css" type="text/css"></link>
        <script src="../../resources/runner.js"></script>
        <script src="resources/shapes.js"></script>
    </head>
    <body>
        <pre id="log"></pre>
        <script>
            var properties = {
                width: "200px",
                height: "200px",
                webkitShapeOutside: "url(resources/shape.gif)",
                webkitShapeMargin: "5px"
            };
            PerfTestRunner.measureTime(createShapeOutsideTest(properties, 1000));
        </script>
    </body>
</html>
