/* In the current spec for heights, min-content, max-content and fit-content are
 * equivalent.
 * fill-available is different and similar to widths.
 */

.min-content {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

.max-content {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.fill-available {
    height: -webkit-fill-available;
    /* Firefox is missing the fill- prefix because they followed an older spec */
    height: -moz-available;
    height: fill-available;
}

.fit-content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.max-height-min-content {
    max-height: -webkit-min-content;
    max-height: -moz-min-content;
    max-height: min-content;
}

.max-height-max-content {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
}

.max-height-fill-available {
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    max-height: fill-available;
}

.max-height-fit-content {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
}

.min-height-min-content {
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
}

.min-height-max-content {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
}

.min-height-fill-available {
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: fill-available;
}

.min-height-fit-content {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
}
