body {
    font-size: 12px;
}

#container {
    font-family: serif;
    font-size: 14px;
}

#container .foo {
    font-style: italic !important;
}

.foo {
    color: black;
    margin-left: 1px;
    margin: 10px 0 2px;
    border-radius: 5px;
    font-style: normal !important;
}

.foo, .foo::before {
    content: "[before Foo]";
    color: blue;
    display: block !important;
}

.foo::before {
    color: red;
}

.foo::after {
    content: "[after Foo]";
    color: green;
}
.foo::after {
    font-family: courier;
    content: "[after Foo 2]";
}

.foo {
    /* Empty rule that should be reported in the Styles pane */
}

.foo::before {
    /* Empty rule that should be reported in the Styles pane */
}
