MAJOR_VERSION = 612;
MINOR_VERSION = 2;
TINY_VERSION = 9;
MICRO_VERSION = 0;
NANO_VERSION = 10;
FULL_VERSION = $(MAJOR_VERSION).$(MINOR_VERSION).$(TINY_VERSION).$(MICRO_VERSION).$(NANO_VERSION);

// The system version prefix is based on the current system version.
SYSTEM_VERSION_PREFIX[sdk=iphone*] = 8;
SYSTEM_VERSION_PREFIX = $(SYSTEM_VERSION_PREFIX_$(PLATFORM_NAME)_$(TARGET_MAC_OS_X_VERSION_MAJOR));
SYSTEM_VERSION_PREFIX_macosx_101400 = 14;
SYSTEM_VERSION_PREFIX_macosx_101500 = 15;
SYSTEM_VERSION_PREFIX_macosx_110000 = 16;
SYSTEM_VERSION_PREFIX_macosx_120000 = 17;
SYSTEM_VERSION_PREFIX_macosx_130000 = 18;

BUNDLE_VERSION = $(SYSTEM_VERSION_PREFIX)$(FULL_VERSION);
SHORT_VERSION_STRING = $(SYSTEM_VERSION_PREFIX)$(MAJOR_VERSION);
