MAJOR_VERSION = 600;
MINOR_VERSION = 3;
TINY_VERSION = 1;
MICRO_VERSION = 0;
NANO_VERSION = 0;
FULL_VERSION = $(MAJOR_VERSION).$(MINOR_VERSION).$(TINY_VERSION);

// The system version prefix is based on the current system version.
SYSTEM_VERSION_PREFIX = $(SYSTEM_VERSION_PREFIX_$(PLATFORM_NAME));
SYSTEM_VERSION_PREFIX_iphoneos = 8;
SYSTEM_VERSION_PREFIX_iphonesimulator = $(SYSTEM_VERSION_PREFIX_iphoneos);
SYSTEM_VERSION_PREFIX_macosx = $(SYSTEM_VERSION_PREFIX_macosx_$(TARGET_MAC_OS_X_VERSION_MAJOR));
SYSTEM_VERSION_PREFIX_macosx_1080 = 8;
SYSTEM_VERSION_PREFIX_macosx_1090 = 9;
SYSTEM_VERSION_PREFIX_macosx_101000 = 10;

BUNDLE_VERSION = $(SYSTEM_VERSION_PREFIX)$(FULL_VERSION);
SHORT_VERSION_STRING = $(SYSTEM_VERSION_PREFIX)$(MAJOR_VERSION);

