# Ignore Chromium dependencies

*.Makefile
*.mk
*.sln
*.vcproj*
All.xcodeproj
WebKit.xcodeproj
WebKitUnitTests.xcodeproj

.gclient
.gclient_entries
base/
chromium_deps/
crypto/
depot_tools/
dbus/
gfx/
googleurl/
gpu/
ipc/
media/
net/
ppapi/
printing/
sdch/
skia/
sql/
testing/
third_party/
tools/
ui/
v8/
webkit/
xcodebuild/
