:-webkit-full-screen {
    background-color: white;
    z-index:2147483647;
}

:root:-webkit-full-screen-document:not(:-webkit-full-screen), :root:-webkit-full-screen-ancestor {
    overflow:hidden !important;
}

:-webkit-full-screen-ancestor:not(iframe) {
    z-index: auto !important;
    opacity: 1 !important;
    -webkit-tranform: none !important;
}

video:-webkit-full-screen {
    background-color: transparent !important;
    position: static !important;
    margin: 0 !important;
    height: 100% !important;
    width: 100% !important;
    -webkit-box-flex: 1 !important;
    display: block !important;
}

img:-webkit-full-screen {
    width: auto;
    height: 100%;
    max-width: 100%;
}

iframe:-webkit-full-screen {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
}

video:-webkit-full-page-media:-webkit-full-screen::-webkit-media-controls-panel {
    bottom: 0px;
}

