// Microsoft Visual C++ generated resource script.
//
#include "autoversion.h"
#include "resource.h"
#include "winresrc.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// STRINGTABLE
//

STRINGTABLE 
BEGIN
    BUILD_NUMBER __BUILD_NUMBER_SHORT__
END
