[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Bradley Baetz <bbaetz@student.usyd.edu.au>
  #%]

[%# INTERFACE:
  # product: string. The product this is the components list for.
  # components: List of hashes. May be empty. Each hash has four members:
  #   name: string. Name of the component.
  #   description: string. Description of the component. May contain HTML.
  #   initialowner: string. Component's default assignee.
  #   initialqacontact: string. Component's default QA contact.
  #%]
  
[% filtered_product = product FILTER html %]
[% PROCESS global/header.html.tmpl 
  title = "Components for $product"
  h2 = filtered_product %]

[% IF Param("useqacontact") %]
  [% numcols = 3 %]
[% ELSE %]
  [% numcols = 2 %]
[% END %]

[% IF components.size == 0 %]
  This product has no components.
[% ELSE %]
  <table>
    <tr>
      <th align="left">Component</th>
      <th align="left">Default Assignee</th>
      [% IF Param("useqacontact") %]
        <th align="left">Default QA Contact</th>
      [% END %]
    </tr>

    [% FOREACH comp = components %]
      [% INCLUDE describe_comp %]
    [% END %]
    <tr>
      <td colspan="[% numcols %]">
        <hr>
      </td>
    </tr>
  </table>
[% END %]

[% PROCESS global/footer.html.tmpl %]

[%############################################################################%]
[%# BLOCK for components                                                      %]
[%############################################################################%]

[% BLOCK describe_comp %]
  <tr>
    <td colspan="[% numcols %]">
      <hr>
    </td>
  </tr>
  <tr>
    <td rowspan="2">
      <a name="[% comp.name FILTER html %]">[% comp.name FILTER html %]</a>
    </td>
    <td>
      <a href="mailto:[% comp.initialowner FILTER html %]
                      [% Param('emailsuffix') %]">
      [% comp.initialowner FILTER html %]</a>
    </td>
    [% IF Param("useqacontact") %]
      <td>
        <a href="mailto:[% comp.initialqacontact FILTER html %]
                        [% Param('emailsuffix') %]">
        [% comp.initialqacontact FILTER html %]</a>
      </td>
    [% END %]
  </tr>
  <tr>
    <td colspan="[% numcols - 1 %]">
      [% comp.description %]
    </td>
  </tr>
[% END %]
