#include "Version.xcconfig"
DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = $(MAJOR_BUNDLE_VERSION).$(MINOR_BUNDLE_VERSION).$(TINY_BUNDLE_VERSION);
EXPORTED_SYMBOLS_FILE = JavaScriptGlue.exp;
GCC_PREPROCESSOR_DEFINITIONS = $(DEBUG_DEFINES) $(GCC_PREPROCESSOR_DEFINITIONS);
HEADER_SEARCH_PATHS = ForwardingHeaders $(HEADER_SEARCH_PATHS);
INFOPLIST_FILE = Info.plist;
INFOPLIST_PREPROCESS = YES;
INSTALL_PATH = $(SYSTEM_LIBRARY_DIR)/PrivateFrameworks;
OTHER_CFLAGS = -Wno-deprecated-declarations;
OTHER_LDFLAGS = -sub_library libobjc -Wl,-Y,3;
PRODUCT_NAME = JavaScriptGlue;
