#include "Version.xcconfig"
EXPORTED_SYMBOLS_FILE = JavaScriptGlue.exp;
GCC_PREPROCESSOR_DEFINITIONS = $(DEBUG_DEFINES) $(GCC_PREPROCESSOR_DEFINITIONS);
HEADER_SEARCH_PATHS = ForwardingHeaders $(HEADER_SEARCH_PATHS);
INFOPLIST_FILE = Info.plist;
INFOPLIST_PREPROCESS = YES;
INSTALL_PATH = $(SYSTEM_LIBRARY_DIR)/PrivateFrameworks;
OTHER_CFLAGS = -Wno-deprecated-declarations;
PRODUCT_NAME = JavaScriptGlue;
