[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
buildstream = "==1.4.3"
buildstream-external = "*"
pygobject = "==3.36"

[requires]
python_version = "3.8"
