PageLoad/svg/files/Harvey_Rayner.svg -crlf
PageLoad/svg/files/cacuts_02.svg -crlf
PageLoad/svg/files/crawfish2_ganson.svg -crlf
PageLoad/svg/files/france.svg -crlf
PageLoad/svg/files/mtsthelens.svg -crlf
PageLoad/svg/files/worldcup.svg -crlf
SunSpider/tests/parse-only/jquery-1.3.2.js -crlf
