.syntax .hll { background-color: #ffffcc }
.syntax  { /*background: #f8f8f8;*/ }
.syntax .c { color: #408080; font-style: italic } /* Comment */
.syntax .err { border: 1px solid #FF0000 } /* Error */
.syntax .k { color: #008000; font-weight: bold } /* Keyword */
.syntax .o { color: #666666 } /* Operator */
.syntax .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.syntax .cp { color: #BC7A00 } /* Comment.Preproc */
.syntax .c1 { color: #408080; font-style: italic } /* Comment.Single */
.syntax .cs { color: #408080; font-style: italic } /* Comment.Special */
.syntax .gd { color: #A00000 } /* Generic.Deleted */
.syntax .ge { font-style: italic } /* Generic.Emph */
.syntax .gr { color: #FF0000 } /* Generic.Error */
.syntax .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.syntax .gi { color: #00A000 } /* Generic.Inserted */
.syntax .go { color: #808080 } /* Generic.Output */
.syntax .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.syntax .gs { font-weight: bold } /* Generic.Strong */
.syntax .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.syntax .gt { color: #0040D0 } /* Generic.Traceback */
.syntax .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.syntax .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.syntax .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.syntax .kp { color: #008000 } /* Keyword.Pseudo */
.syntax .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.syntax .kt { color: #B00040 } /* Keyword.Type */
.syntax .m { color: #666666 } /* Literal.Number */
.syntax .s { color: #BA2121 } /* Literal.String */
.syntax .na { color: #7D9029 } /* Name.Attribute */
.syntax .nb { color: #008000 } /* Name.Builtin */
.syntax .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.syntax .no { color: #880000 } /* Name.Constant */
.syntax .nd { color: #AA22FF } /* Name.Decorator */
.syntax .ni { color: #999999; font-weight: bold } /* Name.Entity */
.syntax .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.syntax .nf { color: #0000FF } /* Name.Function */
.syntax .nl { color: #A0A000 } /* Name.Label */
.syntax .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.syntax .nt { color: #008000; font-weight: bold } /* Name.Tag */
.syntax .nv { color: #19177C } /* Name.Variable */
.syntax .nsv { color: #880000 } /* Special Variable */
.syntax .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.syntax .w { color: #bbbbbb } /* Text.Whitespace */
.syntax .mf { color: #666666 } /* Literal.Number.Float */
.syntax .mh { color: #666666 } /* Literal.Number.Hex */
.syntax .mi { color: #666666 } /* Literal.Number.Integer */
.syntax .mo { color: #666666 } /* Literal.Number.Oct */
.syntax .sb { color: #BA2121 } /* Literal.String.Backtick */
.syntax .sc { color: #BA2121 } /* Literal.String.Char */
.syntax .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.syntax .s2 { color: #BA2121 } /* Literal.String.Double */
.syntax .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.syntax .sh { color: #BA2121 } /* Literal.String.Heredoc */
.syntax .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.syntax .sx { color: #008000 } /* Literal.String.Other */
.syntax .sr { color: #BB6688 } /* Literal.String.Regex */
.syntax .s1 { color: #BA2121 } /* Literal.String.Single */
.syntax .ss { color: #19177C } /* Literal.String.Symbol */
.syntax .bp { color: #008000 } /* Name.Builtin.Pseudo */
.syntax .vc { color: #19177C } /* Name.Variable.Class */
.syntax .vg { color: #19177C } /* Name.Variable.Global */
.syntax .vi { color: #19177C } /* Name.Variable.Instance */
.syntax .il { color: #666666 } /* Literal.Number.Integer.Long */


a.no-underscore:hover {
    text-decoration:none;
} 

ul.demo > li {
    clear:both;
    padding:10px;
    padding-right:150px;
    font-size:1.5em;
}
