<?xml version="1.0"?>
<opml version="1.1">
	<head>
		<title><TMPL_VAR name ESCAPE="HTML"></title>
		<dateModified><TMPL_VAR date_822></dateModified>
		<ownerName><TMPL_VAR owner_name></ownerName>
		<ownerEmail><TMPL_VAR owner_email></ownerEmail>
	</head>
	
	<body>
		<TMPL_LOOP Channels>
		<outline type="rss" text="<TMPL_VAR name ESCAPE="HTML">" xmlUrl="<TMPL_VAR url ESCAPE="HTML">" title="<TMPL_IF title><TMPL_VAR title ESCAPE="HTML"></TMPL_IF><TMPL_UNLESS title><TMPL_VAR name ESCAPE="HTML"></TMPL_UNLESS>"<TMPL_IF channel_link> htmlUrl="<TMPL_VAR channel_link ESCAPE="HTML">"</TMPL_IF> />
		</TMPL_LOOP>
	</body>
</opml>
