[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = 'Administer Flag Types'
  style = "
    table#flag_types tr th { text-align: left; }
    .inactive { color: #787878; }
  "
%]

<p>
  Flags are markers that identify whether [% terms.abug %] or attachment has been granted
  or denied some status.  Flags appear in the UI as a name and a status symbol
  ("+" for granted, "-" for denied, and "?" for statuses requested by users).
</p>

<p>
  For example, you might define a "review" status for users to request review
  for their patches.  When a patch writer requests review, the string "review?"
  will appear in the attachment.  When a patch reviewer reviews the patch,
  either the string "review+" or the string "review-" will appear in the patch,
  depending on whether the patch passed or failed review.
</p>

<h3>Flag Types for [% terms.Bugs %]</h3>

[% PROCESS display_flag_types types=bug_types %]

<p>
  <a href="editflagtypes.cgi?action=enter&amp;target_type=bug">Create Flag Type for [% terms.Bugs %]</a>
</p>

<h3>Flag Types for Attachments</h3>

[% PROCESS display_flag_types types=attachment_types %]

<p>
  <a href="editflagtypes.cgi?action=enter&amp;target_type=attachment">Create Flag Type For Attachments</a>
</p>

<script type="text/javascript">
  <!--
  function confirmDelete(id, name, count)
  {
    if (count > 0) {
        var msg = 'There are ' + count + ' flags of type ' + name + '. ' +
                  'If you delete this type, those flags will also be ' +
                  'deleted.\n\nNote: to deactivate the type instead ' +
                  'of deleting it, edit it and uncheck its "is active" ' +
                  'flag.\n\nDo you really want to delete this flag type?';
        if (!confirm(msg)) return false;
    }
    location.href = "editflagtypes.cgi?action=delete&id=" + id;
    return false; // prevent strict JavaScript warning that this function
                  // does not always return a value
  }
  //-->
</script>

[% PROCESS global/footer.html.tmpl %]


[% BLOCK display_flag_types %]
  <table id="flag_types" cellspacing="0" cellpadding="4" border="1">

    <tr>
      <th>Edit name ...</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>

    [% FOREACH type = types %]

      <tr class="[% IF type.is_active %]active[% ELSE %]inactive[% END %]">
        <td><a href="editflagtypes.cgi?action=edit&amp;id=[% type.id %]">[% type.name FILTER html FILTER no_break %]</a></td>
        <td>[% type.description FILTER html %]</td>
        <td>
          <a href="editflagtypes.cgi?action=copy&amp;id=[% type.id %]">Copy</a>
          | <a href="editflagtypes.cgi?action=confirmdelete&amp;id=[% type.id %]"
               onclick="return confirmDelete([% type.id %], '[% type.name FILTER js FILTER html %]',
                                             [% type.flag_count %]);">Delete</a>
        </td>
      </tr>

    [% END %]

  </table>
[% END %]
