.suggestion-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font: -webkit-small-control;
    border: 1px solid #7f9db9;
    background-color: white;
    overflow-y: auto;
}

.suggestion-list-entry {
    white-space: nowrap;
    height: 1.73em;
    line-height: 1.73em;
    -webkit-select: none;
    cursor: default;
}

.suggestion-list-entry:focus {
    outline: none;
}

.suggestion-list-entry .content {
    padding: 0 4px;
}

.suggestion-list-entry .label {
    padding-left: 20px;
    text-align: right;
    color: #737373;
    float: right;
    margin-right: 4px;
}

.measuring-width .suggestion-list-entry .label {
    float: none;
    margin-right: 0;
}

.suggestion-list .separator {
    border-top: 1px solid #dcdcdc;
    height: 0;
}
