@namespace "http://www.w3.org/1999/xhtml";

video::cue(*) {
    background-color: rgba(0, 0, 0, 0.8);
}

video::cue(:future) > * {
    color: gray;
}

video::-webkit-media-text-track-display {
    font: 22px sans-serif; /* Keep in sync with `DEFAULTCAPTIONFONTSIZE`. */
}

[pseudo="-webkit-media-text-track-display"] b {
    font-weight: bold;
}

[pseudo="-webkit-media-text-track-display"] u {
    text-decoration: underline;
}

[pseudo="-webkit-media-text-track-display"] i {
    font-style: italic;
}

video::-webkit-media-text-track-region {
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
}
