@namespace "http://www.w3.org/1999/xhtml";

ruby {
    display: ruby;
}
ruby > rt {
    display: ruby-text;
}
/* Avoid wrapping children of implicit ruby bases. We don't support <rb> or <rbc>, avoid giving them any behaviors. */
ruby > :not(rb, rbc, ruby) {
    white-space: nowrap;
}
