.articleInFlow {
    -webkit-flow-into: flow;
}

.articleNone {
    display: none;
}

.region {
    -webkit-flow-from: flow;
    border: 1px solid black;
    -webkit-region-fragment: break;
}

.regular {
    border: 1px solid red;
}

.contentParagraph {
    font-size: 16px;
}

.breakAfter {
    -webkit-region-break-after: always;
}

.regionContainer {

}
