[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # login: string. The user's Bugzilla login email address.
  #%]

[% PROCESS global/header.html.tmpl 
  title = "Account Created"
%]

<p>
  A new account,  
  <tt>[% login FILTER html %]</tt>,
  has been created and a randomly-generated password has been e-mailed 
  to that address.
</p>

<p>
  When the e-mail arrives, 
  <a href="index.cgi?GoAheadAndLogIn=1">log in here</a>.
</p>

[% PROCESS global/footer.html.tmpl %] 
