 /* The contents of this file are subject to the Mozilla Public
  * License Version 1.1 (the "License"); you may not use this file
  * except in compliance with the License. You may obtain a copy of
  * the License at http://www.mozilla.org/MPL/
  *
  * Software distributed under the License is distributed on an "AS
  * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  * implied. See the License for the specific language governing
  * rights and limitations under the License.
  *
  * The Original Code is the Bugzilla Bug Tracking System.
  *
  * Contributor(s): Myk Melez <myk@mozilla.org>
  *                 Joel Peshkin <bugreport@peshkin.net>
  *                 Erik Stambaugh <erik@dasbistro.com>
  *                 Marc Schumann <wurblzap@gmail.com>
  *                 Guy Pyrzak <guy.pyrzak@gmail.com>
  */

table.attachment_entry th {
    text-align: right;
    vertical-align: baseline;
    white-space: nowrap;
}

table.attachment_entry td {
    text-align: left;
    vertical-align: baseline;
    padding-bottom: 5px;
}

table#flags th,
table#flags td {
    text-align: left;
    vertical-align: baseline;
    font-size: small;
}

/* Rules used to view patches in diff mode. */

.file_head {
  font-weight: bold;
  font-size: 1em;
  background-color: #c3c3c3;
  border: 1px solid black;
}

.file_head a {
  text-decoration: none;
  font-family: monospace;
  font-size: 1.1em;
}

.file_collapse {
  display: none;
}

.section_head {
  background-color: #f0f0f0;
  border: 1px solid black;
  text-align: left;
}

table.file_table {
  table-layout: fixed;
  width: 100%;
  empty-cells: show;
  border-spacing: 0px;
  border-collapse: collapse;
  /* draw border below last open context section in listing */
  border-bottom: 1px solid black;
}

tbody.file pre {
  display: inline;
  font-size: 0.9em;
}

tbody.file pre:empty {
  display: block;
}

.changed {
  background-color: lightblue;
}

.added {
  background-color: lightgreen;
}

.removed {
  background-color: #FFCC99;
}

.num {
  background-color: #ffe9ae;
  text-align:right;
  padding: 0 0.3em;
  width: 3em;
}

table.attachment_info th {
    text-align: right;
    vertical-align: top;
}

table.attachment_info td {
    text-align: left;
    vertical-align: top;
}

/* Text displayed when the attachment is not viewable by the web browser */
#noview {
    text-align: left;
    vertical-align: middle;
}

#attachment_attributes div {
    padding-bottom: 0.4em;
}

#attachment_attributes label,
#attachment_attributes span.label,
#attachment_actions span.label
{
    font-weight: bold;
}

#attachment_attributes .block {
    display: block;
}

#smallCommentFrame, #attachment_flags {
    float: left;
}

#smallCommentFrame {
    margin-right: 1.5em;
}

#attachment_comments_and_flags, #attachment_actions {
    clear: both;
    margin-bottom: 1ex;
}

#attachment_information_read_only .title {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

#attachment_information_read_only .title #bz_edit {
    font-size: 0.7em;
}

#attachment_information_read_only .details {
    font-size: 90%;
}

#attachment_info.read #attachment_information_edit {
    display: none;
}

#attachment_info.edit #attachment_information_read_only {
    display: none;  
}

#attachment_info.edit #attachment_view_window {
    float: left;
    width: 80%;
}

#attachment_info.edit #attachment_information_edit {
    width: 20%;
}

#attachment_info.edit #attachment_information_edit input.text,
#attachment_info.edit #attachment_information_edit textarea {
    width: 90%; 
}

#attachment_isobsolete {
    padding-right: 1em;
}

#attachment_information_edit { 
    float: left;
}

#smallCommentFrame textarea {
    display: block;
}

textarea.bz_private {
    border: 1px solid #F8C8BA;
}

#update {
    clear: both; 
    display: block;  
}

div#update_container {
    clear: both; 
    padding: 1.5em 0; 
}

#attachment_flags {
    margin-bottom: 1em;
}

#attachment_flags p {
    padding-bottom: 0;
    margin-bottom: 0;
}

#editFrame, #viewDiffFrame, #viewFrame {
    height: 400px; 
    width: 95%;
    margin-left: 2%;
}

.viewall_frame {
    width: 75%;
    height: 350px;
}

.details span.bz_private{
  border-left: 1px solid darkred;
  padding-left: 0.5em;
}

.no_javascript .bz_hide, .no_javascript .bz_edit {
    display: none;
}

#hidden_obsolete_message {
   text-align: left; 
   width: 75%; 
   margin: 0  auto; 
   font-weight: bold
}

#description {
    resize: vertical;
}
