/* The contents of this file are subject to the Mozilla Public
  * License Version 1.1 (the "License"); you may not use this file
  * except in compliance with the License. You may obtain a copy of
  * the License at http://www.mozilla.org/MPL/
  *
  * Software distributed under the License is distributed on an "AS
  * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  * implied. See the License for the specific language governing
  * rights and limitations under the License.
  *
  * The Original Code is the Bugzilla Bug Tracking System.
  *
  * Contributor(s): Marc Schumann <wurblzap@gmail.com>
  */

.bz_comment_text, .uneditable_textarea, tbody.file pre {
     white-space: pre;
     word-wrap: break-word;
}

.component_table {
    margin-top: .5em;
}

form#Create #comp_desc {
    margin: .5em 1em;
}

#footer #useful-links li {
    padding-bottom: 0.8ex;
}

#footer .label {
    display: block;
    float: left;
    width: 8.2em;
    padding-bottom: 0.1ex;
}

#footer #links-actions .label {
    padding-top: 0.35em;
}

#footer .links {
    display: inline;
}

#bug_id_container, .search_field_grid, 
.search_email_fields, ul.bug_changes li { 
    zoom: 1;
    display: inline;
}

#keyword_container .yui-ac-content {
    _height: 30em; /* ie6 */
}

.bz_short_desc_column a, .bz_short_short_desc_column a {
    /* color:inherit */
    color: expression(this.parentNode.currentStyle['color']);
}


