 /* The contents of this file are subject to the Mozilla Public
  * License Version 1.1 (the "License"); you may not use this file
  * except in compliance with the License. You may obtain a copy of
  * the License at http://www.mozilla.org/MPL/
  *
  * Software distributed under the License is distributed on an "AS
  * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  * implied. See the License for the specific language governing
  * rights and limitations under the License.
  *
  * The Original Code is the Bugzilla Bug Tracking System.
  *
  * Contributor(s): Vitaly Harisov <vitaly@rathedg.com>
  *                 Guy Pyrzak <guy.pyrzak@gmail.com> 
  */

/* index page (begin) */

    #page-index
    {
        padding: 0.2em 0.2em 0.15em 0.2em;
        max-width: 1000px;
    }

    /* By default these contain nothing, but these CSS rules make things
       easier on customizers. */
    .intro, .outro {
        text-align: center;
    }

    /* Hide from NN4 */

    #new_release
    {
        border: 2px solid red;
        padding: 0.5em 1em;
        margin: 1em;
        font-weight: bold;
    }

    #new_release .notice
    {
        font-size: 80%;
        font-weight: normal;
    }

    #welcome-admin a
    {
        font-weight: bold;
    }

    .bz_common_actions {
        text-align: center;
    }
    .bz_common_actions ul {
        list-style-type: none;
        padding: 0;
    }
    .bz_common_actions ul li {
        display: inline;
        vertical-align: top;
    }
    .bz_common_actions ul li a {
        display: inline-block;
        height: 170px;
        width: 145px;
        margin: 0 2ex 2em 0;
    }
    .bz_common_actions ul li a span {
        position: relative;
        top: 90%;
        font-weight: bold;
    }
    .bz_common_actions a,
    .bz_common_actions a:visited,
    .bz_common_actions a:hover {
        text-decoration: none;
    }
    #enter_bug { background: url(index/file-a-bug.png)     no-repeat; }
    #query     { background: url(index/search.png)  no-repeat; }
    #account   { 
      background: url(index/new-account.png) no-repeat; 
      margin-right: 0;
    }
    
    #quicksearchForm
    {
        clear: both;
        text-align: center;
        margin-bottom: 2em;
    }
    
    #quicksearchForm #quicksearch_main
    {
        width: 27em;
    }
    
    #quicksearchForm
    {
        margin: 0;
        padding: 0;
    }
    
    #page-index table{
        border-collapse: collapse;
        margin: auto;
    }
    
    #welcome
    {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        margin: 0 0 0.8em 0;
        padding: 0;
    }
    
    ul.additional_links 
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    ul#quicksearch_links{
        margin-bottom: 1em;
    }
    
    ul.additional_links li
    {
        display: inline;
    }
    
    ul.additional_links li.bz_default_hidden
    {
        display: none;
    }
    
    input.quicksearch_help_text
    {
        color: #ccc;
    }
/* index page (end) */
