.bz_alias_short_desc_container {
    margin: 8px 0; 
    padding: 0.3em; 
    background-color: rgb(208, 208, 208); 
    -moz-border-radius: 0.5em; 
    font-size: 125%; 
    font-weight: bold;
}

.bz_bug .edit_form {
  width: 100%;
}
.bz_bug .edit_form table {
  width: 100%;
}
.bz_bug #alias {
    min-width: 0;
    width: 10em;
}

.flags_label {
    text-align: left;
}
table#flags {
    width: auto;
}

.bz_column_spacer {
    width: 0.5em;
}

.related_actions {
    font-size: 0.85em; 
    float: right;
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.related_actions li {
    display: inline;
}

.bz_show_bug_column {
  vertical-align: top;
}

.bz_section_spacer {
    height: 1em;
}

#duplicate_settings {
    white-space: nowrap;
}

#bz_big_form_parts td {
    vertical-align: top;
}

.bz_group_visibility_section {
    margin-left: 1em;
}

.bz_group_visibility_section .instructions {
    font-style: italic;
}

#bz_restrict_group_visibility_help .instructions {
    margin-top: 0;
}

#bz_enable_role_visibility_help {
    margin-top: 1em;
}

.bz_time_tracking_table {
    border-collapse: collapse;
}

.bz_time_tracking_table th {
    text-align: center;
}

.bz_time_tracking_table td {
    text-align: center;
}

.bz_time_tracking_table th, 
.bz_time_tracking_table td {
    padding: 4px;
}

.bz_time_tracking_table .bz_summarize_time {
    text-align: right;
}
.bz_time_tracking_table #deadline {
    width: 7em;
}

#summary tr td { 
    vertical-align:top;
}

#status { 
    margin-bottom: 3ex;
}

.knob-buttons {
    float: right;
}

.text_input, .bz_userfield, #keyword_container {
    width: 100%;
}
.bz_bug .bz_alias_short_desc_container {
    width: inherit;
}
