<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.WebKitTestRunner</string>
	</array>
	<key>com.apple.private.webkit.adattributiond.testing</key>
	<true/>
	<key>com.apple.private.nehelper.privileged</key>
	<true/>
	<key>com.apple.private.neagent</key>
	<true/>
	<key>com.apple.networkd.persistent_interface</key>
	<true/>
	<key>com.apple.private.accessibility.accessProtectedContent</key>
	<true/>
	<key>com.apple.private.accessibility.inspection</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAccessibility</string>
	</array>
	<key>com.apple.security.temporary-exception.sbpl</key>
	<array>
		<string>(allow mach-issue-extension (require-all (extension-class &quot;com.apple.webkit.extension.mach&quot;)))</string>
		<string>(allow iokit-issue-extension (require-all (extension-class &quot;com.apple.webkit.extension.iokit&quot;)))</string>
	</array>
</dict>
</plist>
