GCC_OPTIMIZATION_LEVEL = $(GCC_OPTIMIZATION_LEVEL_$(CONFIGURATION));
GCC_OPTIMIZATION_LEVEL_Debug = 0;
GCC_OPTIMIZATION_LEVEL_Production = 1;
GCC_OPTIMIZATION_LEVEL_Release = 1;

WK_SANITIZER_OTHER_CFLAGS_YES = -fno-omit-frame-pointer -g;

OTHER_CFLAGS = $(inherited) $(WK_SANITIZER_OTHER_CFLAGS_$(WK_ENABLE_SANITIZER));
OTHER_CPLUSPLUSFLAGS = $(inherited) $(WK_SANITIZER_OTHER_CFLAGS_$(WK_ENABLE_SANITIZER));

// Workaround for rdar://problem/49498092
OTHER_LDFLAGS = $(inherited) $(WK_LDFLAGS_SANITIZER_$(WK_ENABLE_SANITIZER));
WK_LDFLAGS_SANITIZER_YES = -Wl,-rpath,@executable_path/Frameworks;
