WK_EMPTY_ = YES;
WK_NOT_ = YES;
WK_NOT_YES = NO;

WK_OR__ = NO
WK_OR_NO_NO = NO
WK_OR__NO = NO
WK_OR_NO_ = NO
WK_OR_YES_ = YES
WK_OR__YES = YES
WK_OR_YES_NO = YES
WK_OR_NO_YES = YES
WK_OR_YES_YES = YES

WK_OVERRIDE_OPTIMIZATION_LEVEL = $(WK_NOT_$(WK_EMPTY_$(WK_FORCE_OPTIMIZATION_LEVEL)));

GCC_OPTIMIZATION_LEVEL = $(GCC_OPTIMIZATION_LEVEL_OVERRIDE_$(WK_OVERRIDE_OPTIMIZATION_LEVEL));
GCC_OPTIMIZATION_LEVEL_OVERRIDE_YES = $(WK_FORCE_OPTIMIZATION_LEVEL);
GCC_OPTIMIZATION_LEVEL_OVERRIDE_NO = $(GCC_OPTIMIZATION_LEVEL_OVERRIDE_NO_$(CONFIGURATION));
GCC_OPTIMIZATION_LEVEL_OVERRIDE_NO_Debug = 0;
GCC_OPTIMIZATION_LEVEL_OVERRIDE_NO_Production = 1;
GCC_OPTIMIZATION_LEVEL_OVERRIDE_NO_Release = 1;

OTHER_CFLAGS = $(inherited) -DRELEASE_WITHOUT_OPTIMIZATIONS -fno-omit-frame-pointer -g $(WK_ADDRESS_SANITIZER_OTHER_CFLAGS_$(WK_ENABLE_ADDRESS_SANITIZER)) $(WK_UNDEFINED_BEHAVIOR_SANITIZER_OTHER_CFLAGS_$(WK_ENABLE_UNDEFINED_BEHAVIOR_SANITIZER));
OTHER_CPLUSPLUSFLAGS = $(inherited) $(WK_ADDRESS_SANITIZER_OTHER_CPLUSPLUSFLAGS_$(WK_ENABLE_ADDRESS_SANITIZER));

// Workaround for <rdar://problem/49498092>.
OTHER_LDFLAGS = $(inherited) -Wl,-rpath,@executable_path/Frameworks;
