<Files nosniff-html.html>
Header always set X-Content-Type-Options "nosniff"
Header always set Content-Type ""
</Files>
<Files xml-with-html.xml>
ForceType "text/plain"
</Files>
<Files xhtml-with-html.xhtml>
ForceType "text/plain"
</Files>
<Files xhtml-with-html-with-content-disposition>
ForceType "text/plain"
Header always set Content-Disposition "inline; filename=\"xhtml-with-html-with-content-disposition.xhtml\""
Header always set X-Content-Type-Options "nosniff"
</Files>
<Files svg-with-html.svg>
ForceType "text/plain"
</Files>
