body {
    -webkit-font-smoothing: none;
}

div {
    border: 5px double;
    padding: 5px;
    diplay: inline;
}

div.auto {
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-line: underline;
    -webkit-text-underline-position: auto;
}

div.alphabetic {
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-line: underline;
    -webkit-text-underline-position: alphabetic;
}

div.under {
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-line: underline;
    -webkit-text-underline-position: under;
}

span.auto {
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-line: underline;
    -webkit-text-underline-position: auto;
}

span.alphabetic {
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-line: underline;
    -webkit-text-underline-position: alphabetic;
}

span.under {
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-line: underline;
    -webkit-text-underline-position: under;
}

.box {
    width: 300px;
    height: 100px;
}

.position_absolute {
    position: absolute;
    top: 200px;
    left: 100px;
}
