body {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	padding: 0 5px 0 5px;
	margin: 0;
}

a img {
	border: 0;
}
table {
	border-collapse: collapse;
}

th {
	padding-right: 10px;
}

hr {
	border: 1px dotted #aaa;
	border-bottom: 0px;
}

#banner {
	height: 28px;
	margin: 10px 0 5px 0;
	padding: 10px 0 10px 0;
	background-color: #aaa;
	color: #fff;
	-webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
}

#banner-name {
	background-image: none;
}

#banner-name span {
	font-size: 20px;
	text-shadow: #000 1px 1px 5px;
}

#banner-version {
	display: none;
}

#header {
	background-color: #ddd;
	padding: 10px;
	margin-bottom: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#header h1, #header h2, #header h3 {
        font-family: Verdana, Arial, Helvetica;
	padding: 0;
	margin: 0;
}

#header h1, #header h3 {
	font-weight: normal;
}

div#header h2 {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

div#navigate {
	text-align: center;
/*	background-color: #ddd; */
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;     
	padding: 10px 0 10px 0;
}

table#bug_details {
	width: 98%;
	padding: 10px;
	margin: 10px 0 10px 0;
}

table#bug_details select {
	width: 150px;
}

table#bug_details #flags {
        margin-top: 1.5em;
}

table#bug_details #flags select {
        width: auto;
}

table#bug_details #flags th {
        display: none;
}

table#bug_details #flags td {
        font-weight: bold;
}

#summary_fields input {
  width: 50em;
}

span.bz_comment {
	display: block;
	background-color: #ddd;
	border-bottom: 1px dotted #bbb;
	padding: 2px 0 2px 0;
}

#footer form {
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
	background-position: right center;
	background-repeat: no-repeat;
	min-height: 100px;
}

#footer .label {
	width: 100px;
	font-weight: bold;
}

div.links {
	margin-bottom: 6px;
}

.bz_obsolete, tr.bz_obsolete td, tr.bz_obsolete a {
	color: #aaa;
	text-decoration: none;
}

.bz_obsolete:hover, tr.bz_obsolete td:hover, tr.bz_obsolete td:hover a, tr.bz_obsolete td:hover a:hover {
	background-color: #ddd;
	color: #111;
}

.bz_patch {

}
