<!DOCTYPE html>
<html>
    <head>
        <title>Floats layout performance tester with 2 columns and 100 rows</title>
        <link rel="stylesheet" href="resources/floats.css" TYPE="text/css"></link>
        <script src="../resources/runner.js"></script>
        <script src="resources/floats.js"></script>
    </head>
    <body>
        <pre id="log"></pre>
        <script>
            PerfTestRunner.measureTime({run: createFloatsLayoutTestFunction(2, 100, 0, 500)});
        </script>
    </body>
</html>
