.flexbox {
    display: -webkit-flex;
    display: -moz-flex;
}
.inline-flexbox {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
}

.flex-none {
    -webkit-flex: none;
    -moz-flex: none;
}
.flex-auto {
    -webkit-flex: auto;
    -moz-flex: auto;
}
.flex-one {
    -webkit-flex: 1;
    -moz-flex: 1;
}

.row {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
}
.row-reverse {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
}
.column {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
}
.column-reverse {
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
}

.wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}
.wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    -moz-flex-wrap: wrap-reverse;
}

.align-content-flex-start {
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
}
.align-content-flex-end {
    -webkit-align-content: flex-end;
    -moz-align-content: flex-end;
}
.align-content-center {
    -webkit-align-content: center;
    -moz-align-content: center;
}
.align-content-space-between {
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
}
.align-content-space-around {
    -webkit-align-content: space-around;
    -moz-align-content: space-around;
}
.align-content-stretch {
    -webkit-align-content: stretch;
    -moz-align-content: stretch;
}

.align-items-flex-start {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
}
.align-items-flex-end {
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
}
.align-items-center {
    -webkit-align-items: center;
    -moz-align-items: center;
}
.align-items-baseline {
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
}
.align-items-stretch {
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
}

.align-self-auto {
    -webkit-align-self: auto;
    -moz-align-self: auto;
}
.align-self-flex-start {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
}
.align-self-flex-end {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
}
.align-self-center {
    -webkit-align-self: center;
    -moz-align-self: center;
}
.align-self-baseline {
    -webkit-align-self: baseline;
    -moz-align-self: baseline;
}
.align-self-stretch {
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
}

.justify-content-flex-start {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
}
.justify-content-flex-end {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
}
.justify-content-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
}
.justify-content-space-between {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
}
.justify-content-space-around {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
}
