/*
 * Copyright (C) 2014 Apple Inc. All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY APPLE INC. AND ITS CONTRIBUTORS ``AS IS''
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
 * THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APPLE INC. OR ITS CONTRIBUTORS
 * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */

{
    "env": {
        "browser": true,
        "node": false,
    },
    "globals": {
        "ApplicationCacheAgent": true,
        "CSSAgent": true,
        "CodeMirror": true,
        "ConsoleAgent": true,
        "DOMAgent": true,
        "DOMDebuggerAgent": true,
        "DOMStorageAgent": true,
        "DatabaseAgent": true,
        "DebuggerAgent": true,
        "Formatter": true,
        "IndexedDBAgent": true,
        "InspectorAgent": true,
        "InspectorBackend": true,
        "InspectorFrontendAPI": true,
        "InspectorFrontendHost": true,
        "LayerTreeAgent": true,
        "Map": true,
        "NetworkAgent": true,
        "PageAgent": true,
        "ReplayAgent": true,
        "RuntimeAgent": true,
        "TimelineAgent": true,
        "WebInspector": true,
        "WorkerAgent": true,
        "console": true,
    },
    "rules": {
        "consistent-return": 2,
        "curly": 0,
        "eqeqeq": 2,
        "new-parens": 0,
        "no-comma-dangle": 0,
        "no-console": 0,
        "no-constant-condition": 0,
        "no-extra-bind": 2,
        "no-extra-semi": 2,
        "no-proto": 0,
        "no-return-assign": 2,
        "no-trailing-spaces": 2,
        "no-underscore-dangle": 0,
        "no-unused-expressions": 2,
        "no-wrap-func": 2,
        "quotes": [2, "double"],
        "semi": 2,
        "space-infix-ops": 2,
        "space-return-throw-case": 2,
        "strict": 0,
        "valid-typeof": 2,
    }
}
