html {
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

#summary, #manual-submission {
    font-size: 14px;
    line-height: 36px;
}

#summary {
    margin-top: 49px;
    display: table;
    border-collapse: collapse;
}

section {
    display: table-cell;
    background: white;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    min-height: 300px;
}

h2 {
    clear: both;
    background: -moz-linear-gradient(-90deg, #f8f8f8, #e7e7e7);
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e7e7e7));
    padding: 0 10px;
    border-bottom: solid 1px lightgrey;
}

dl {
    padding: 0 10px;
}

section > ul {
}

section > ul > li {
    width: 100%;
    display: table;
}

section > p {
    border-top: solid 1px lightgrey;
    margin: 0px;
    padding: 0 10px;
    text-align: center;
}

section > ul > li > h3 {
    font-size: 1em;
    font-weight: normal;
    display: table-cell;
    padding: 10px;
}

section .hidden {
    color: #ccc;
}

section .hide {
    display: table-cell;
    padding: 0 10px;
    width: 16px;
    height: 16px;
    background-image: url('visible.png');
    background-repeat: no-repeat;
    background-position: center center;
}

section .hide:hover {
    background-image: url('visible-hover.png');
}

section .hidden .hide {
    background-image: url('hidden.png');
}

section .hidden .hide:hover {
    background-image: url('hidden-hover.png');
}

dt, dd {
    display: table-cell;
}

dt {
    text-align: right;
    clear: both;
}

dt:after {
    content: " : ";
}

dd {
    text-indent: 0.5ex;
}

.counts dt {
    width: 100px;
}

.counts dd {
    width: 50px;
}

li.form {
    padding: 0;
    border-top: solid 1px lightgrey;
}

form {
    text-align: right;
    padding: 10px;
}

input {
    width: 100%;
    font-size: 14px;
    border: solid 1px lightgrey;
}

form dt {
    width: 70px;
}

form dd {
    width: 150px;
}

#manual-submission form {
    padding: 0;
}
#manual-submission textarea {
    font-family: monospace;
    font-size: 14px;
    border: none;
}

#footer {
    margin: 10px;
}
