.slideStyle {
    height: 768px;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-left: 0px;
    margin-bottom: 5px;
    width: 1024px;
    background: white;
    margin-right: 0px;
    margin-top: 0px;
    overflow: hidden;
}

.notesStyle {
    padding: 10px;
    margin-top: 2px;
    position: relative;
    display: table;
    width: 1024px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background: white;
    margin-bottom: 12px;
    height: 100px;
    margin-left: 0px;
    overflow: hidden;
    margin-right: 0px;
}

.fl {float: left; clear: left; padding: 0; width: 0px; height: 10px;}

.fr {float: right; clear: right; padding: 0; width: 0px; height: 10px;}

.l1 {
    display: table-cell;
    vertical-align: top;
}

.l2 {
    display: table-cell;
    vertical-align: middle;
}

.p1 {
    padding: 0px 0px 0px 0px;
    text-align: left;
    margin-top: 0;
    font-weight: normal;
    text-indent: 0px;
    font-family: 'Helvetica';
    font-size: 12;
    color: rgb(0,0,0);
    text-transform: none;
    margin-bottom: 0;
    font-style: normal;
    line-height: 13px;
}

.p2 {
    padding: 0px 0px 0px 0px;
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    text-indent: 0px;
    font-family: 'Helvetica Light','Helvetica';
    font-size: 36;
    color: rgb(0,0,0);
    text-transform: none;
    margin-bottom: 0;
    font-style: normal;
    line-height: 41px;
}

.it1 {
    font-weight: bold;
    font-family: 'LucidaGrande';
    text-align: left;
    color: rgb(4,40,0);
    font-size: 16;
    line-height: 17px;
    margin-top: 0;
}

.it2 {
    margin-bottom: 0;
    line-height: 13px;
    font-family: 'LucidaGrande';
    font-size: 12;
    text-align: left;
    color: rgb(38,38,38);
}

.it3 {
    color: rgb(31,120,15);
    text-decoration: none;
}

.g1 {
    opacity: 1.00;
    border: none;
    background-color: transparent;
    background-image: none;
}

.i1 { background: #ACB2BB;  }
.i2 { background-color: rgb(255,255,255); background-image: none;  }
.i3 { -webkit-transform: matrix(1.000000, 0.000000, 0.000000, 1.000000, 0, 0); top: 355; position: absolute; left: 0;  }
.i4 { height: 52px; position: absolute; width: 1018px; -webkit-transform-origin: 0px 0px; left: 1; top: 356; padding: 2px 2px 2px 2px;  }
.i5 { display: table-cell; width: 1018px; height: 52px; vertical-align: middle;  }
.i6 { text-decoration: none;  }
.i7 { top: 116; position: absolute; left: 405;  }
.i8 { width: 215; height: 174;  }
