/* This rule should parse. */
body {
    color: black;
}

/* This rule should parse because it is empty. */
.unknown {

}

/* This rule should not parse. */
div#unknown {
    color:red;
}

/* This rule should not parse. */
quote {
    color:lime;
    background-color:blue;
    border:10px solid white;
}
