  .test {
    border: 1px solid gray;
    padding: 1em;
    margin-bottom: 1em;
  }
  .test img, .test canvas {
    border: 1px solid black;
  }
  .test .stats {
    display: inline-block;
    margin-top: 1em;
    font-style: italic;
  }
  .expected, .actual {
    float: right;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0.4em;
    margin-left: 1em;
  }
