body,html { 
  font-family:Arial,Helvetica,sans-serif;
}

body{
  width:94%;
  margin-left:6%;
}

.buttons{
  width:92%;
  max-width:20cm;
  height:3cm;
}

h1{ 
  width:92%;
  max-width:20cm;
  font-size:1.6em;
  margin-top:1.2em; 
  margin-bottom:0; 
}

h2{ 
  width:92%;
  max-width:20cm;
  font-size:1.2em; 
  font-style:italic;
  margin-top:1em;
  padding-top:1em;
  margin-bottom:0.8em;
  border-top: thin dotted #000;
}

h4{
  margin-top:0;
  font-style:italic;
  font-size:0.9em;
}

p{
  font-family:Georgia,Times,serif;
  font-size:0.9em;
  width:92%;
  max-width:20cm;
  margin-top:0.2em; 
  margin-bottom:0.4em; 
}

table{
  font-size:0.9em;
  margin-right:40px;
}

th{
	font-family:Georgia,Times,serif;
	font-size:1.2em;
}

td,th{
  padding:8px;
  margin:2px;
  max-width:160px;
}

td a{
	font-size:1.2em;
	font-weight:bold;
}

a{
  color:#006; 
}
a:hover{
  color:#00F; 
}
a:focus{
  color:#00F; 
}
a:visited{
  color:#669;
  text-decoration:none; 
}
a.index{
  color:#006; 
}
a.index:hover{
  color:#00F; 
}
a.index:focus{
  color:#00F; 
}
a.index:visited{
  text-decoration:underline; 
}

ul{ 
  font-family:Georgia,Times,serif;
  margin:0;
  padding:0;
  font-size:0.9em;
}

ol{
  font-family:Georgia,Times,serif;
  font-size:0.9em;
}

.red{ 
  color:red 
}

.navi{
  color:#1C2F3A;
  background:#1C2F3A;
  text-align:center;
  font-size:0.9em;
  width:92%;
  max-width:20cm;
  padding-top:1em;
  padding-bottom:1em;
  margin-top:0.2em; 
  margin-bottom:0.4em;
}
 
.navi a{
  margin-right:12px;
  color:#DDE;
}

.navi a:hover{
  color:#FFF;
}

.navi a:visited{
  text-decoration:underline;
}
