[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
   title = "Search by $terms.bug number"
 %]

<form method="get" action="show_bug.cgi">
  <p>
    You may find a single [% terms.bug %] by entering its [% terms.bug %] id here:
    <input name="id" size="6">
    <input type="submit" id="show" value="Show Me This [% terms.Bug %]">
  </p>
</form>

[% PROCESS global/footer.html.tmpl %]
