[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[% RETURN IF !bug %]

[% PROCESS global/variables.none.tmpl %]
[% IF bottom_navigator == 1 %]
  <ul class="related_actions">
    <li><a href="show_bug.cgi?format=multiple&amp;id=
                [% bug.bug_id FILTER uri %]">Format For Printing</a></li>
    <li>&nbsp;-&nbsp;<a href="show_bug.cgi?ctype=xml&amp;id=
                        [% bug.bug_id  FILTER uri %]">XML</a></li>
    <li>&nbsp;-&nbsp;<a href="enter_bug.cgi?cloned_bug_id=
                        [% bug.bug_id  FILTER uri %]">Clone This 
                        [% terms.Bug %]</a></li>
    [%# Links to more things users can do with this bug. %]
    [% Hook.process("links") %]
    <li>&nbsp;-&nbsp;<a href="#">Top of page </a></li>
    </ul>
[% END %]        


<div class="navigation">
[% SET my_search = user.recent_search_for(bug) %]
[% IF my_search %]
  [% SET last_bug_list = my_search.bug_list %]
  [% SET this_bug_idx = lsearch(last_bug_list, bug.id) %]
  <b>[% terms.Bug %] List:</b>

  ([% this_bug_idx + 1 %] of [% last_bug_list.size %])

  <a href="show_bug.cgi?id=
           [%- last_bug_list.first FILTER uri %]&amp;list_id=
           [%- my_search.id FILTER uri %]">First</a>
  <a href="show_bug.cgi?id=
           [%- last_bug_list.last FILTER uri %]&amp;list_id=
           [%- my_search.id FILTER uri %]">Last</a>

  [% IF this_bug_idx > 0 %]
    [% prev_bug = this_bug_idx - 1 %]
    <a href="show_bug.cgi?id=
             [%- last_bug_list.$prev_bug FILTER uri %]&amp;list_id=
             [%- my_search.id FILTER uri %]">Prev</a>
  [% ELSE %]
    <i><font color="#777777">Prev</font></i>
  [% END %]

  [% IF this_bug_idx + 1 < last_bug_list.size %]
    [% next_bug = this_bug_idx + 1 %]
    <a href="show_bug.cgi?id=
             [%- last_bug_list.$next_bug FILTER uri %]&amp;list_id=
             [%- my_search.id FILTER uri %]">Next</a>
  [% ELSE %]
    <i><font color="#777777">Next</font></i>
  [% END %]

  &nbsp;&nbsp;<a href="buglist.cgi?regetlastlist=
              [%- my_search.id FILTER uri %]">Show last search results</a>
[% ELSE %]
  [%# With no list, don't show link to search results %]
  <i><font color="#777777">First</font></i>
  <i><font color="#777777">Last</font></i>
  <i><font color="#777777">Prev</font></i>
  <i><font color="#777777">Next</font></i>
  &nbsp;&nbsp;
  <i><font color="#777777">This [% terms.bug %] is not in your last
    search results.</font></i>
[% END %]
</div>
