// Copyright (C) 2024 Apple Inc. All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
// 1. Redistributions of source code must retain the above copyright
//    notice, this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright
//    notice, this list of conditions and the following disclaimer in the
//    documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY APPLE INC. ``AS IS'' AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
// PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL APPLE INC. OR
// CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
// EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
// PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
// PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
// OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#include "BaseTarget.xcconfig"

// InstallAPI is transitively enabled through including BaseTarget.xcconfig.

PRODUCT_NAME = _WebKit_SwiftUI; // Cross-import overlay projects must have this exact naming scheme.
PRODUCT_BUNDLE_IDENTIFIER = com.apple.WebKit.$(PRODUCT_NAME:rfc1034identifier);
INFOPLIST_FILE = Info.plist;

INSTALL_PATH = $(WEBKIT_FRAMEWORKS_DIR);
DYLIB_INSTALL_NAME_BASE = $(NORMAL_WEBKIT_FRAMEWORKS_DIR);

CRYPTEX_SYMLINK_PATH = $(NORMAL_WEBKIT_FRAMEWORKS_DIR);

OUTPUT_CRYPTEX_SYMLINK_PATH = $(OUTPUT_CRYPTEX_SYMLINK_PATH_$(USE_SYSTEM_CONTENT_PATH)_$(WK_NOT_$(WK_USE_OVERRIDE_FRAMEWORKS_DIR)));
OUTPUT_CRYPTEX_SYMLINK_PATH_YES_YES = $(DSTROOT)$(CRYPTEX_SYMLINK_PATH)/$(FULL_PRODUCT_NAME);

BUILD_LIBRARY_FOR_DISTRIBUTION = YES; // This is required for all public frameworks in the OS.

SWIFT_LIBRARY_LEVEL = api;

// Prevent Objective-C from importing the cross-import overlay
SWIFT_INSTALL_OBJC_HEADER = NO;
DEFINES_MODULE = NO;

// Disable optimization for debug builds.
SWIFT_OPTIMIZATION_LEVEL = -O;
SWIFT_OPTIMIZATION_LEVEL[config=Debug] = -Onone;

CLANG_INSTRUMENT_FOR_OPTIMIZATION_PROFILING = NO; // Disable PGO profile generation.
WK_PGO_GEN_FLAGS = ; // Disable IR PGO profile generation
WK_PGO_USE_CFLAGS = ; // Disable IR PGO profile use
WK_PGO_USE_LDFLAGS = ; // Disable IR PGO profile use

OTHER_LDFLAGS = $(inherited) $(SOURCE_VERSION_LDFLAGS);

SWIFT_VERSION = $(SWIFT_VERSION_$(WK_ENABLE_SWIFTUI));
SWIFT_VERSION_YES = 6.0;
SWIFT_VERSION_NO = 5.0;

SKIP_INSTALL = $(SKIP_INSTALL_$(WK_ENABLE_SWIFTUI));
SKIP_INSTALL_YES = NO;
SKIP_INSTALL_NO = YES;

WK_EXCLUDED_SWIFT_IN_FILE_NAMES = $(WK_EXCLUDED_SWIFT_IN_FILE_NAMES_$(USE_INTERNAL_SDK));
WK_EXCLUDED_SWIFT_IN_FILE_NAMES_ = WebViewRepresentable+Extras.swift;

EXCLUDED_SOURCE_FILE_NAMES = $(EXCLUDED_SOURCE_FILE_NAMES_$(WK_ENABLE_SWIFTUI)) $(WK_EXCLUDED_SWIFT_IN_FILE_NAMES);
EXCLUDED_SOURCE_FILE_NAMES_NO = *;

// This file can be removed when all configurations build with WebKit's SwiftUI support.
INCLUDED_SOURCE_FILE_NAMES = _WebKit_SwiftUI/Empty.swift WebKit.framework;

INSTALLHDRS_SCRIPT_PHASE = YES;
