// Copyright (C) 2010-2022 Apple Inc. All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
// 1. Redistributions of source code must retain the above copyright
//    notice, this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright
//    notice, this list of conditions and the following disclaimer in the
//    documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY APPLE INC. ``AS IS'' AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
// PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL APPLE INC. OR
// CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
// EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
// PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
// PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
// OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#include "FeatureDefines.xcconfig"
#include "../../../Configurations/Version.xcconfig"

FRAMEWORK_SEARCH_PATHS = "$(SDK_DIR)$(UMBRELLA_FRAMEWORKS_DIR)";

SYSTEM_FRAMEWORK_SEARCH_PATHS = $(inherited) $(WK_PRIVATE_SDK_DIR)$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks $(SDK_DIR)$(SYSTEM_LIBRARY_DIR)/Frameworks;

WK_FORMATREADERBUNDLE_CODESIGNING_DEFINES = ENABLE_LOWER_FORMATREADERBUNDLE_CODESIGNING_REQUIREMENTS;
WK_FORMATREADERBUNDLE_CODESIGNING_DEFINES[config=Production] = ;

WK_BUNDLE_VERSION_DEFINES = WEBKIT_BUNDLE_VERSION='"$(BUNDLE_VERSION)"';

GCC_PREFIX_HEADER = WebKit2Prefix.h;
GCC_PREPROCESSOR_DEFINITIONS = $(DEBUG_DEFINES) $(WK_CORE_PREDICTION_DEFINES) $(WK_FORMATREADERBUNDLE_CODESIGNING_DEFINES) $(ENABLE_PDFJS) $(ENABLE_LLVM_PROFILE_GENERATION) $(WK_BUNDLE_VERSION_DEFINES) $(WK_IS_PRODUCTION_BUILD_DEFINES) $(inherited) FRAMEWORK_NAME=WebKit;
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(DEBUG_DEFINES);

ALTERNATE_HEADER_SEARCH_PATHS = $(ALTERNATE_HEADER_SEARCH_PATHS_$(SDK_VARIANT));
ALTERNATE_HEADER_SEARCH_PATHS_iosmac = $(BUILT_PRODUCTS_DIR)$(WK_ALTERNATE_FRAMEWORKS_DIR)$(WK_LIBRARY_HEADERS_FOLDER_PATH)

HEADER_SEARCH_PATHS = $(ALTERNATE_HEADER_SEARCH_PATHS) $(BUILT_PRODUCTS_DIR)$(WK_LIBRARY_HEADERS_FOLDER_PATH) "$(WEBCORE_PRIVATE_HEADERS_DIR)/ForwardingHeaders" $(BUILT_PRODUCTS_DIR)/DerivedSources/WebKit $(WEBGPU_HEADER_SEARCH_PATHS) $(WEBKITADDITIONS_HEADER_SEARCH_PATHS) $(LIBWEBRTC_HEADER_SEARCH_PATHS) $(LIBWEBM_HEADER_SEARCH_PATHS) $(SRCROOT) $(HEADER_SEARCH_PATHS);
SYSTEM_HEADER_SEARCH_PATHS = $(WK_PRIVATE_SDK_DIR)$(WK_ALTERNATE_WEBKIT_SDK_PATH)$(WK_LIBRARY_HEADERS_FOLDER_PATH) $(inherited);

CLANG_OPTIMIZATION_PROFILE_FILE = $(BUILT_PRODUCTS_DIR)/DerivedSources/WebKit/WebKit.profdata;
WK_COMPRESSED_OPTIMIZATION_PROFILE_FILE = $(WK_COMPRESSED_OPTIMIZATION_PROFILE_FILE_$(USE_INTERNAL_SDK));
WK_COMPRESSED_OPTIMIZATION_PROFILE_FILE_YES = $(WK_WEBKITADDITIONS_HEADERS_FOLDER_PATH)/Profiling/WebKit.profdata.compressed;

CLANG_USE_OPTIMIZATION_PROFILE = $(CLANG_USE_OPTIMIZATION_PROFILE_$(USE_INTERNAL_SDK)_$(CONFIGURATION)_$(WK_PLATFORM_NAME));
CLANG_USE_OPTIMIZATION_PROFILE_YES_Release_macosx = YES;
CLANG_USE_OPTIMIZATION_PROFILE_YES_Release_iphoneos = YES;
CLANG_USE_OPTIMIZATION_PROFILE_YES_Release_xros = YES;
CLANG_USE_OPTIMIZATION_PROFILE_YES_Production_macosx = YES;
CLANG_USE_OPTIMIZATION_PROFILE_YES_Production_iphoneos = YES;
CLANG_USE_OPTIMIZATION_PROFILE_YES_Production_xros = YES;

CLANG_INSTRUMENT_FOR_OPTIMIZATION_PROFILING = $(CLANG_INSTRUMENT_FOR_OPTIMIZATION_PROFILING_$(ENABLE_LLVM_PROFILE_GENERATION));
CLANG_INSTRUMENT_FOR_OPTIMIZATION_PROFILING_ENABLE_LLVM_PROFILE_GENERATION = YES;

OTHER_CFLAGS = $(inherited) -iframework $(SDK_DIR)$(SYSTEM_LIBRARY_DIR)/PrivateFrameworks -D__STDC_WANT_LIB_EXT1__=1;

// FIXME: This shouldn't be computing path from scratch, the computation should be shared.
OTHER_LDFLAGS_STAGED_FRAMEWORK_PATH = $(OTHER_LDFLAGS_STAGED_FRAMEWORK_PATH_$(USE_STAGING_INSTALL_PATH)$(WK_XCODE_15_3));
OTHER_LDFLAGS_STAGED_FRAMEWORK_PATH_YES_XCODE_BEFORE_15_3 = -Wl,-dyld_env,DYLD_FRAMEWORK_PATH=$(WK_INSTALL_PATH_PREFIX)/System/Library/StagedFrameworks/Safari,-dyld_env,DYLD_LIBRARY_PATH=$(WK_INSTALL_PATH_PREFIX)/System/Library/StagedFrameworks/Safari;

LD_ENVIRONMENT = $(inherited) $(LD_ENVIRONMENT_STAGED_FRAMEWORK_PATH_$(USE_STAGING_INSTALL_PATH));
LD_ENVIRONMENT_STAGED_FRAMEWORK_PATH_YES = DYLD_FRAMEWORK_PATH=$(WK_INSTALL_PATH_PREFIX)/System/Library/StagedFrameworks/Safari DYLD_LIBRARY_PATH=$(WK_INSTALL_PATH_PREFIX)/System/Library/StagedFrameworks/Safari;

// FIXME: There is no need for a variable that's always YES. If this ever needs to be disabled, it should be a USE, not a HAVE.
WK_HAVE_CORE_PREDICTION = YES;

WK_CORE_PREDICTION_DEFINES = $(WK_CORE_PREDICTION_DEFINES_$(WK_HAVE_CORE_PREDICTION));
WK_CORE_PREDICTION_DEFINES_YES = HAVE_CORE_PREDICTION;

WK_RELOCATABLE_WEBPUSHD = $(WK_AND_$(WK_RELOCATABLE_FRAMEWORKS)_$(WK_NOT_$(WK_EMPTY_$(WK_OVERRIDE_FRAMEWORKS_DIR))));
ENABLE_RELOCATABLE_WEBPUSHD = $(ENABLE_RELOCATABLE_WEBPUSHD_$(WK_RELOCATABLE_WEBPUSHD));
ENABLE_RELOCATABLE_WEBPUSHD_YES = ENABLE_RELOCATABLE_WEBPUSHD;
