// Copyright (C) 2023 Apple Inc. All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
// 1. Redistributions of source code must retain the above copyright
//    notice, this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright
//    notice, this list of conditions and the following disclaimer in the
//    documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY APPLE INC. ``AS IS'' AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
// PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL APPLE INC. OR
// CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
// EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
// PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
// PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
// OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#include "BaseTarget.xcconfig"

CLANG_ENABLE_OBJC_ARC = YES;
CLANG_ENABLE_MODULES = YES;
CLANG_MODULE_CACHE_PATH = ;
CLANG_INSTRUMENT_FOR_OPTIMIZATION_PROFILING = NO;
INSTALL_PATH = $(INSTALL_PATH_PREFIX)/System/Library/ExtensionKit/Extensions;
INSTALL_PATH[sdk=*simulator] = $(WK_INSTALL_PATH_PREFIX)/System/Library/ExtensionKit/Extensions;
INSTALL_PATH[sdk=iphone*17.4*] = $(WK_INSTALL_PATH_PREFIX)/System/Library/ExtensionKit/Extensions;
SKIP_INSTALL = NO;
SKIP_INSTALL[sdk=xr*] = YES;
SKIP_INSTALL[sdk=appletv*] = YES;
SKIP_INSTALL[sdk=watch*] = YES;
SKIP_INSTALL[sdk=macos*] = YES;
SWIFT_OBJC_BRIDGING_HEADER = ;
SWIFT_OBJC_BRIDGING_HEADER[sdk=iphone*] = Shared/AuxiliaryProcessExtensions/AuxiliaryProcessExtensionBridge.h;
SWIFT_OBJC_BRIDGING_HEADER[sdk=xr*] = ;
SWIFT_VERSION = $(SWIFT_VERSION$(WK_XCODE_16));
SWIFT_VERSION_XCODE_BEFORE_16 = 5.0;
SWIFT_VERSION_XCODE_SINCE_16 = 6.0;
SWIFT_OPTIMIZATION_LEVEL = -O;
SWIFT_OPTIMIZATION_LEVEL[config=Debug] = -Onone;
PRODUCT_NAME = $(TARGET_NAME);
SUPPORTS_MACCATALYST = NO;
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO;
TARGETED_DEVICE_FAMILY = 1,2,7;
EXCLUDED_SOURCE_FILE_NAMES = *;
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphone*] = ;
EXCLUDED_SOURCE_FILE_NAMES[sdk=xr*] = *;

CODE_SIGN_INJECT_BASE_ENTITLEMENTS = NO;

WK_PROCESSED_XCENT_FILE=$(TEMP_FILE_DIR)/$(FULL_PRODUCT_NAME).entitlements
WK_LIBRARY_VALIDATION_CODE_SIGN_FLAGS = --entitlements $(WK_PROCESSED_XCENT_FILE);

OTHER_CODE_SIGN_FLAGS = $(WK_LIBRARY_VALIDATION_CODE_SIGN_FLAGS);
OTHER_CODE_SIGN_FLAGS[sdk=*simulator] = ;

CRYPTEX_SYMLINK_PATH = $(WK_ALTERNATE_WEBKIT_SDK_PATH)$(SYSTEM_LIBRARY_DIR)/ExtensionKit/Extensions

OUTPUT_CRYPTEX_SYMLINK_PATH = $(OUTPUT_CRYPTEX_SYMLINK_PATH_$(USE_SYSTEM_CONTENT_PATH)_$(WK_NOT_$(WK_USE_OVERRIDE_FRAMEWORKS_DIR)));
OUTPUT_CRYPTEX_SYMLINK_PATH[sdk=*simulator] = ;
OUTPUT_CRYPTEX_SYMLINK_PATH[sdk=iphone*17.4*] = ;
OUTPUT_CRYPTEX_SYMLINK_PATH_YES_YES = $(DSTROOT)$(CRYPTEX_SYMLINK_PATH)/$(FULL_PRODUCT_NAME);

WK_BROWSERENGINEKIT_SANDBOX_REVISION_FLAGS = ;
WK_BROWSERENGINEKIT_SANDBOX_REVISION_FLAGS[sdk=iphone*] = -DENABLE_BROWSERENGINEKIT_SANDBOX_REVISION_2;
WK_BROWSERENGINEKIT_SANDBOX_REVISION_FLAGS[sdk=iphone*18*] = -DENABLE_BROWSERENGINEKIT_SANDBOX_REVISION_1;

OTHER_SWIFT_FLAGS = $(WK_BROWSERENGINEKIT_SANDBOX_REVISION_FLAGS)
