// Copyright (C) 2009, 2013-2016 Apple Inc. All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
// 1. Redistributions of source code must retain the above copyright
//    notice, this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright
//    notice, this list of conditions and the following disclaimer in the
//    documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY APPLE INC. ``AS IS'' AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
// PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL APPLE INC. OR
// CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
// EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
// PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
// PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
// OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 

#include "Base.xcconfig"
#include? "../../../LocalOverrides.xcconfig"

ONLY_ACTIVE_ARCH = YES;

GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES;
DEBUG_INFORMATION_FORMAT = dwarf;

SDKROOT = $(SDKROOT_$(USE_INTERNAL_SDK));
SDKROOT_ = macosx;
SDKROOT_YES = macosx.internal;

CODE_SIGN_IDENTITY[sdk=macosx*] = $(CODE_SIGN_IDENTITY_RESTRICTED_$(WK_USE_RESTRICTED_ENTITLEMENTS))
CODE_SIGN_IDENTITY_RESTRICTED_ = $(CODE_SIGN_IDENTITY_RESTRICTED_NO);
CODE_SIGN_IDENTITY_RESTRICTED_NO = -;
CODE_SIGN_IDENTITY_RESTRICTED_YES = $(WK_ENGINEERING_CODE_SIGN_IDENTITY);

CODE_SIGN_IDENTITY[sdk=embedded] = $(CODE_SIGN_IDENTITY_EMBEDDED_$(USE_INTERNAL_SDK));
CODE_SIGN_IDENTITY_EMBEDDED_YES = -;

VALIDATE_DEPENDENCIES = $(VALIDATE_DEPENDENCIES_INTERNAL_$(USE_INTERNAL_SDK));
VALIDATE_DEPENDENCIES_INTERNAL_ = $(VALIDATE_DEPENDENCIES_NATIVE_TARGET_$(WK_NOT_$(WK_EMPTY_$(PRODUCT_TYPE))));
VALIDATE_DEPENDENCIES_INTERNAL_YES = $(WK_VALIDATE_DEPENDENCIES);
VALIDATE_DEPENDENCIES_NATIVE_TARGET_YES = $(WK_VALIDATE_DEPENDENCIES);

WK_RELOCATABLE_FRAMEWORKS = YES;
WK_XPC_SERVICE_SUFFIX[sdk=macosx*] = .Development;
WK_XPC_SERVICE_SUFFIX[sdk=*simulator*] = .Development;

WK_LIBRARY_VALIDATION_ENABLED = NO;
WK_WEBCONTENT_SERVICE_NEEDS_XPC_DOMAIN_EXTENSION_ENTITLEMENT = NO;
WK_WEBCONTENT_SERVICE_NEEDS_STAGED_FRAMEWORK_PATH_LDFLAG[sdk=macosx*] = YES;

WK_DEFAULT_LTO_MODE = $(WK_USER_LTO_MODE_none);

WK_CCACHE_DIR = $(SRCROOT)/../../Tools/ccache;
#include "../../../Tools/ccache/ccache.xcconfig"

WK_WEBKIT_ADDITIONS_PATH = ../../../Internal/WebKit/WebKitAdditions/Additions/WebKit;
WK_WEBKIT_DERIVEDSOURCES_INPUT_XCFILELIST_ADDITIONS = $(WK_WEBKIT_DERIVEDSOURCES_INPUT_XCFILELIST_ADDITIONS_$(USE_INTERNAL_SDK));
WK_WEBKIT_DERIVEDSOURCES_INPUT_XCFILELIST_ADDITIONS_YES = $(WK_WEBKIT_ADDITIONS_PATH)/DerivedSources-input.xcfilelist;
WK_WEBKIT_DERIVEDSOURCES_OUTPUT_XCFILELIST_ADDITIONS = $(WK_WEBKIT_DERIVEDSOURCES_OUTPUT_XCFILELIST_ADDITIONS_$(USE_INTERNAL_SDK));
WK_WEBKIT_DERIVEDSOURCES_OUTPUT_XCFILELIST_ADDITIONS_YES = $(WK_WEBKIT_ADDITIONS_PATH)/DerivedSources-output.xcfilelist;
WK_WEBKIT_RESOURCES_INPUT_XCFILELIST_ADDITIONS = $(WK_WEBKIT_RESOURCES_INPUT_XCFILELIST_ADDITIONS_$(USE_INTERNAL_SDK));
WK_WEBKIT_RESOURCES_INPUT_XCFILELIST_ADDITIONS_YES = $(WK_WEBKIT_ADDITIONS_PATH)/AdditionalResources-input.xcfilelist
WK_WEBKIT_RESOURCES_OUTPUT_XCFILELIST_ADDITIONS = $(WK_WEBKIT_RESOURCES_OUTPUT_XCFILELIST_ADDITIONS_$(USE_INTERNAL_SDK));
WK_WEBKIT_RESOURCES_OUTPUT_XCFILELIST_ADDITIONS_YES = $(WK_WEBKIT_ADDITIONS_PATH)/AdditionalResources-output.xcfilelist
