<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.accounts.bundleidspoofing</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>seatbelt-profiles</key>
	<array>
		<string>com.apple.WebKit.Networking</string>
	</array>
	<key>com.apple.multitasking.systemappassertions</key>
	<true/>
	<key>com.apple.private.memorystatus</key>
	<true/>
</dict>
</plist>
