INSTALL_PATH = $(INSTALL_PATH_WK_INSTALL_OVERRIDE_SANDBOX_PROFILES_$(WK_INSTALL_OVERRIDE_SANDBOX_PROFILES));
INSTALL_PATH_WK_INSTALL_OVERRIDE_SANDBOX_PROFILES_ = $(INSTALL_PATH_WK_INSTALL_OVERRIDE_SANDBOX_PROFILES_NO);
INSTALL_PATH_WK_INSTALL_OVERRIDE_SANDBOX_PROFILES_NO = /usr/local/share/sandbox/profiles/embedded/builtin;
INSTALL_PATH_WK_INSTALL_OVERRIDE_SANDBOX_PROFILES_YES = /usr/local/share/sandbox;

INSTALLHDRS_SCRIPT_PHASE = YES;
INSTALLHDRS_COPY_PHASE = YES;

HEADER_SEARCH_PATHS = $(SRCROOT)
