// Copyright (C) 2023 Apple Inc. All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
// 1. Redistributions of source code must retain the above copyright
//    notice, this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright
//    notice, this list of conditions and the following disclaimer in the
//    documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY APPLE INC. ``AS IS'' AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
// PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL APPLE INC. OR
// CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
// EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
// PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
// PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
// OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#include "BaseExtension.xcconfig"

INFOPLIST_FILE = Shared/AuxiliaryProcessExtensions/WebContentExtension-Info.plist;
INFOPLIST_KEY_CFBundleDisplayName = WebContentExtension;
PRODUCT_BUNDLE_IDENTIFIER = com.apple.WebKit.WebContent;
EXECUTABLE_NAME = $(PRODUCT_BUNDLE_IDENTIFIER);
PRODUCT_BUNDLE_NAME = WebContentExtension;

// For simulator builds, entitlements are added to a special __entitlements section on the binary rather than the signature.
CODE_SIGN_ENTITLEMENTS[sdk=*simulator] = Shared/AuxiliaryProcessExtensions/WebContentProcessExtension.entitlements;

LD_ENVIRONMENT_YES_IOS_SINCE_18 = @$(WK_WEBKITADDITIONS_HEADERS_FOLDER_PATH)/dlsym.WebKit.WebContent;
LD_ENVIRONMENT[sdk=iphone*] = $(inherited) $(LD_ENVIRONMENT_$(USE_INTERNAL_SDK)$(WK_IOS_18));
