// Copyright (C) 2010-2022 Apple Inc. All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
// 1. Redistributions of source code must retain the above copyright
//    notice, this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright
//    notice, this list of conditions and the following disclaimer in the
//    documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY APPLE INC. ``AS IS'' AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
// PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL APPLE INC. OR
// CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
// EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
// PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
// PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
// OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#include "BaseTarget.xcconfig"

PRODUCT_NAME = libWebKitSwift;

INSTALL_PATH = $(WEBKIT_FRAMEWORKS_DIR)/WebKit.framework/$(WK_FRAMEWORK_VERSION_PREFIX)Frameworks;

DYLIB_INSTALL_NAME_BASE = $(NORMAL_WEBKIT_FRAMEWORKS_DIR)/WebKit.framework/$(WK_FRAMEWORK_VERSION_PREFIX)Frameworks;

WK_HAVE_COORDINATOR = $(WK_HAVE_COORDINATOR_$(WK_PLATFORM_NAME));
WK_HAVE_COORDINATOR_macosx = $(WK_HAVE_COORDINATOR$(WK_MACOS_1200));
WK_HAVE_COORDINATOR_MACOS_SINCE_1200 = YES;

WK_EXCLUDED_COORDINATOR_FILES = $(WK_EXCLUDED_COORDINATOR_FILES_$(USE_INTERNAL_SDK))
WK_EXCLUDED_COORDINATOR_FILES_ = WKGroupSession.swift
WK_EXCLUDED_COORDINATOR_FILES_YES = $(WK_EXCLUDED_COORDINATOR_FILES_YES_$(WK_NOT_$(WK_HAVE_COORDINATOR)));
WK_EXCLUDED_COORDINATOR_FILES_YES_YES = WKGroupSession.swift

WK_HAVE_MARKETPLACE_KIT = $(WK_HAVE_MARKETPLACE_KIT_$(WK_PLATFORM_NAME));
WK_HAVE_MARKETPLACE_KIT_iphoneos = $(WK_HAVE_MARKETPLACE_KIT$(WK_IOS_17));
WK_HAVE_MARKETPLACE_KIT_IOS_SINCE_17 = YES;
WK_HAVE_MARKETPLACE_KIT_xros = YES;

WK_EXCLUDED_MARKETPLACE_KIT_WRAPPER_FILES = $(WK_EXCLUDED_MARKETPLACE_KIT_WRAPPER_FILES_$(WK_AND_$(USE_INTERNAL_SDK)_$(WK_HAVE_MARKETPLACE_KIT)));
WK_EXCLUDED_MARKETPLACE_KIT_WRAPPER_FILES_NO = MarketplaceKitWrapper.swift;

EXCLUDED_SOURCE_FILE_NAMES = $(WK_EXCLUDED_COORDINATOR_FILES) $(WK_EXCLUDED_MARKETPLACE_KIT_WRAPPER_FILES) $(EXCLUDED_IOS_RESOURCE_FILE_NAMES) $(EXCLUDED_MACOS_PLUGIN_FILE_NAMES) $(WK_EXCLUDED_TEXT_STYLE_MANAGER_FILES)

SWIFT_INSTALL_OBJC_HEADER = NO
SWIFT_VERSION = 5.0;

CLANG_INSTRUMENT_FOR_OPTIMIZATION_PROFILING = NO; // Disable PGO profile generation
OTHER_LDFLAGS = $(inherited) $(SOURCE_VERSION_LDFLAGS) $(FRAMEWORK_LDFLAGS_$(WK_PLATFORM_NAME));

FRAMEWORK_LDFLAGS_xros = -framework LinearMediaKit;
FRAMEWORK_LDFLAGS_xrsimulator = -framework LinearMediaKit;

// Use handwritten SPI modules on public SDKs.
SWIFT_INCLUDE_PATHS = $(SWIFT_INCLUDE_PATHS_$(USE_INTERNAL_SDK));
SWIFT_INCLUDE_PATHS_ = $(SRCROOT)/Platform/spi/visionos $(inherited);

WEBKITSWIFT_HEADERS_FOLDER_PATH = $(WK_LIBRARY_HEADERS_FOLDER_PATH)/WebKitSwift;

PRIVATE_HEADERS_FOLDER_PATH = $(WEBKITSWIFT_HEADERS_FOLDER_PATH);
PRIVATE_HEADERS_FOLDER_PATH[sdk=macosx*] = $(PRIVATE_HEADERS_FOLDER_PATH_$(WK_PLATFORM_NAME));
PRIVATE_HEADERS_FOLDER_PATH_macosx = $(WEBKITSWIFT_HEADERS_FOLDER_PATH);
PRIVATE_HEADERS_FOLDER_PATH_maccatalyst = $(WK_ALTERNATE_FRAMEWORKS_DIR)/$(WEBKITSWIFT_HEADERS_FOLDER_PATH);

SWIFT_OPTIMIZATION_LEVEL = -O;
SWIFT_OPTIMIZATION_LEVEL[config=Debug] = -Onone;
