[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Toms Baugis <toms.baugis@tietoenator.com>
  #                 Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # bug.bug_id: integer. Number of current bug (for navigation purposes)
  #%]

[% PROCESS global/variables.none.tmpl %]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% IF NOT (cgi.user_agent("MSIE [1-6]") OR cgi.user_agent("Mozilla/4")) %]
  <link rel="Top" href="[% urlbase FILTER html %]">

  [%# *** Attachment *** %]
  [% IF attachment && attachment.bug_id %]
    <link rel="Up" href="show_bug.cgi?id=[% attachment.bug_id FILTER none %]">
  [% END %]


  [%# *** Dependencies, Activity, Print-version *** %]
  [% IF bug %]
    <link rel="Show" title="Dependency Tree"
          href="showdependencytree.cgi?id=[% bug.bug_id %]&amp;hide_resolved=1">
    [% IF Param('webdotbase') %]
      <link rel="Show" title="Dependency Graph"
            href="showdependencygraph.cgi?id=[% bug.bug_id %]">
    [% END %]

      <link rel="Show" title="[% terms.Bug %] Activity"
            href="show_activity.cgi?id=[% bug.bug_id %]">
      <link rel="Show" title="Printer-Friendly Version"
            href="show_bug.cgi?format=multiple&amp;id=[% bug.bug_id %]">
  [% END %]


  [%# *** Saved Searches *** %]
  [% IF user.showmybugslink %]
    [% user_login = user.login FILTER uri %]
    <link rel="Saved&nbsp;Searches" title="My [% terms.Bugs %]"
          href="[% Param('mybugstemplate').replace('%userid%', user_login) %]">
  [% END %]

  [% FOREACH q = user.queries_subscribed %]
    <link rel="Saved&nbsp;Search"
          title="[% q.name FILTER html %] ([% q.user.login FILTER html %])"
          href="buglist.cgi?cmdtype=dorem&amp;remaction=run&amp;namedcmd=
                 [% q.name FILTER uri %]&amp;sharer_id=
                 [% q.user.id FILTER uri %]">
  [% END %]

  [%# *** Bugzilla Administration Tools *** %]
  [% IF user.login %] 
    [% '<link rel="Administration" title="Parameters"    
              href="editparams.cgi">' IF user.in_group('tweakparams') %]
    [% '<link rel="Administration" title="Users"    
              href="editusers.cgi">' IF user.in_group('editusers') %]
    [% '<link rel="Administration" title="Products" href="editproducts.cgi">'
       IF user.in_group('editcomponents') || user.get_products_by_permission("editcomponents").size %]
    [% '<link rel="Administration" title="Flag Types"   
              href="editflagtypes.cgi">' IF user.in_group('editcomponents') %]
    [% '<link rel="Administration" title="Groups"        
              href="editgroups.cgi">' IF user.in_group('creategroups') %]
    [% '<link rel="Administration" title="Keywords"      
              href="editkeywords.cgi">' IF user.in_group('editkeywords') %]
    [% '<link rel="Administration" title="Whining"       
              href="editwhines.cgi">' IF user.in_group('bz_canusewhines') %]
    [% '<link rel="Administration" title="Sanity Check"  
              href="sanitycheck.cgi">' IF user.in_group('editcomponents') %]
  [% END %]  
[% END %]
