[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # You need to fulfill the interface to duplicates-table.html.tmpl.
  #%]

<!DOCTYPE html>
<html>
  [% IF product.size %]
    [% title = BLOCK %]
      Most Frequently Reported [% terms.Bugs %] for [% product.join(', ') FILTER html %]
    [% END %]
  [% ELSE %]
    [% title = "Most Frequently Reported $terms.Bugs" %]
  [% END%]

  <head>
    <title>[% title FILTER html %]</title>
    <link href="[% 'skins/standard/global.css' FILTER mtime %]"
          rel="stylesheet" type="text/css">
  </head>

  <body>
    [% PROCESS "reports/duplicates-table.html.tmpl" %]
  </body>
</html>
