// Copyright (C) 2009-2026 Apple Inc. All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
// 1. Redistributions of source code must retain the above copyright
//    notice, this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright
//    notice, this list of conditions and the following disclaimer in the
//    documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY APPLE INC. ``AS IS'' AND ANY
// EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
// PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL APPLE INC. OR
// CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
// EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
// PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
// PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
// OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#include "BaseTarget.xcconfig"

DEFINES_MODULE = YES;
ENABLE_MODULE_VERIFIER = $(OVERRIDE_ENABLE_MODULE_VERIFIER:default=YES);
OTHER_MODULE_VERIFIER_FLAGS = -- -I$(BUILT_PRODUCTS_DIR)$(WK_LIBRARY_HEADERS_FOLDER_PATH) -I$(WK_ADDITIONAL_SDKS)$(WK_LIBRARY_HEADERS_FOLDER_PATH) $(OTHER_MODULE_VERIFIER_FLAGS_$(WK_EMPTY_$(WK_OVERRIDE_FRAMEWORKS_DIR)));
OTHER_MODULE_VERIFIER_FLAGS_ = -iframework "$(WK_PRIVATE_SDK_DIR)$(WK_OVERRIDE_FRAMEWORKS_DIR)" -isystem "$(WK_PRIVATE_SDK_DIR)$(WK_ALTERNATE_WEBKIT_SDK_PATH)$(WK_LIBRARY_HEADERS_FOLDER_PATH)";

MODULEMAP_FILE = $(SRCROOT)/JavaScriptCore.modulemap;

WK_HAS_VALID_JSC_PRIVATE_MODULE = YES;

WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=macosx15*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=macosx26.0*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=macosx26.1*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=macosx26.2*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=macosx26.3*] = ;

WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=iphone*26.0*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=iphone*26.1*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=iphone*26.2*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=iphone*26.3*] = ;

WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=appletv*26.0*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=appletv*26.1*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=appletv*26.2*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=appletv*26.3*] = ;

WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=watch*26.0*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=watch*26.1*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=watch*26.2*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=watch*26.3*] = ;

WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=xr*26.0*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=xr*26.1*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=xr*26.2*] = ;
WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=xr*26.3*] = ;

WK_HAS_VALID_JSC_PRIVATE_MODULE[sdk=bridgeos*] = ;

MODULE_VERIFIER_SUPPORTED_LANGUAGES = $(MODULE_VERIFIER_SUPPORTED_LANGUAGES_$(WK_HAS_VALID_JSC_PRIVATE_MODULE));
MODULE_VERIFIER_SUPPORTED_LANGUAGES_ = objective-c;
MODULE_VERIFIER_SUPPORTED_LANGUAGES_NO = objective-c;
// FIXME: (rdar://74275135) Re-enable support for automatically verifying Objective-C and C when possible.
MODULE_VERIFIER_SUPPORTED_LANGUAGES_YES = objective-c++;

MODULE_VERIFIER_SUPPORTED_LANGUAGE_STANDARDS = $(MODULE_VERIFIER_SUPPORTED_LANGUAGE_STANDARDS_$(WK_HAS_VALID_JSC_PRIVATE_MODULE));
MODULE_VERIFIER_SUPPORTED_LANGUAGE_STANDARDS_YES = c++23;

MODULE_VERIFIER_KIND = builtin;

MODULEMAP_PRIVATE_FILE = $(MODULEMAP_PRIVATE_FILE_$(WK_HAS_VALID_JSC_PRIVATE_MODULE));
MODULEMAP_PRIVATE_FILE_ = ;
MODULEMAP_PRIVATE_FILE_NO = ;
MODULEMAP_PRIVATE_FILE_YES = $(SRCROOT)/JavaScriptCore_Private.modulemap;

SUPPORTS_TEXT_BASED_API = $(OVERRIDE_SUPPORTS_TEXT_BASED_API:default=YES);
TAPI_USE_SRCROOT = YES;
TAPI_ENABLE_PROJECT_HEADERS = YES;
TAPI_VERIFY_MODE = Pedantic;
// C++ dialect flags (-fvisibility, others inherited from CommonBase.xcconfig)
// are needed because JavaScriptCore / WTF private headers are only safe to use
// from other WebKit projects, which build with the same dialect.
OTHER_TAPI_FLAGS = $(inherited) -fvisibility=hidden -exclude-private-header **/*SPI.h -extra-project-header $(SRCROOT)/API/ExtraSymbolsForTAPI.h $(OTHER_TAPI_FLAGS_STATICLIBS_$(DEPLOYMENT_LOCATION)) $(OTHER_TAPI_FLAGS_SPI_CHECKING_$(WK_AUDIT_SPI));
// JavaScriptCore exports libWTF.a and libbmalloc.a, so tapi needs to know about headers from those projects. The extra filelists are generated by their respective projects. In install-style builds, there is a postprocessing step done as a JavaScriptCore build phase.
OTHER_TAPI_FLAGS_STATICLIBS_NO = -filelist $(BUILT_PRODUCTS_DIR)/usr/local/include/bmalloc/bmalloc.json -filelist $(BUILT_PRODUCTS_DIR)/usr/local/include/wtf/WTF.json
OTHER_TAPI_FLAGS_STATICLIBS_YES = -filelist $(DERIVED_FILE_DIR)/bmalloc.json -filelist $(DERIVED_FILE_DIR)/WTF.json
OTHER_TAPI_FLAGS_SPI_CHECKING_YES = -sdkdb-output-dir $(BUILT_PRODUCTS_DIR)/SDKDB;

WK_AUDIT_SPI_ALLOWLISTS = $(SRCROOT)/Configurations/AllowedSPI.toml $(SRCROOT)/Configurations/AllowedSPI-legacy.toml $(WK_AUDIT_SPI_ALLOWLISTS_$(USE_INTERNAL_SDK));
WK_AUDIT_SPI_ALLOWLISTS_YES = $(WK_WEBKITADDITIONS_HEADERS_FOLDER_PATH)/AllowedSPI/AllowedSPI-JavaScriptCore.toml;

WK_ERROR_WHEN_LINKING_WITH_STATIC_INITIALIZERS = -Xlinker -no_inits;
WK_NO_STATIC_INITIALIZERS = $(WK_NO_STATIC_INITIALIZERS_$(CONFIGURATION)_$(WK_OR_$(WK_ANY_SANITIZER_ENABLED)_$(ENABLE_FUZZILLI))_$(ENABLE_LLVM_PROFILE_GENERATION));
WK_NO_STATIC_INITIALIZERS_Release__ = $(WK_ERROR_WHEN_LINKING_WITH_STATIC_INITIALIZERS);
WK_NO_STATIC_INITIALIZERS_Release_NO_ = $(WK_ERROR_WHEN_LINKING_WITH_STATIC_INITIALIZERS);
WK_NO_STATIC_INITIALIZERS_Production__ = $(WK_ERROR_WHEN_LINKING_WITH_STATIC_INITIALIZERS);
WK_NO_STATIC_INITIALIZERS_Production_NO_ = $(WK_ERROR_WHEN_LINKING_WITH_STATIC_INITIALIZERS);

OTHER_LDFLAGS_BASE = $(OTHER_LDFLAGS_JAVASCRIPTCORE_DEPS) -unexported_symbols_list $(SRCROOT)/unexported-libc++.txt -force_load $(WTF_ARCHIVE) -force_load $(BMALLOC_ARCHIVE) -force_load $(LIBJAVASCRIPTCORE_ARCHIVE) -load_hidden $(LIBPAS_ARCHIVE) $(SOURCE_VERSION_LDFLAGS) $(WK_NO_STATIC_INITIALIZERS);
OTHER_LDFLAGS[sdk=embedded*] = $(inherited) $(OTHER_LDFLAGS_BASE);
OTHER_LDFLAGS[sdk=macosx*] = $(inherited) $(OTHER_LDFLAGS_BASE) -framework CoreServices $(PROFILE_GENERATE_OR_USE_LDFLAGS);

SECTORDER_FLAGS = $(SECTORDER_FLAGS_$(CONFIGURATION));
SECTORDER_FLAGS_Production[sdk=macosx*] = -Wl,-order_file,JavaScriptCore.order;

INFOPLIST_FILE = Info.plist;
INSTALL_PATH = $(INSTALL_PATH_PREFIX)$(JAVASCRIPTCORE_FRAMEWORKS_DIR);
DYLIB_INSTALL_NAME_BASE = $(DYLIB_INSTALL_NAME_BASE_$(WK_USE_ALTERNATE_FRAMEWORKS_DIR));
DYLIB_INSTALL_NAME_BASE_NO = $(NORMAL_JAVASCRIPTCORE_FRAMEWORKS_DIR)
DYLIB_INSTALL_NAME_BASE_YES = $(JAVASCRIPTCORE_FRAMEWORKS_DIR);
PRODUCT_BUNDLE_IDENTIFIER = com.apple.$(PRODUCT_NAME:rfc1034identifier);

CRYPTEX_SYMLINK_PATH = $(JAVASCRIPTCORE_FRAMEWORKS_DIR);

OUTPUT_CRYPTEX_SYMLINK_PATH = $(OUTPUT_CRYPTEX_SYMLINK_PATH_$(USE_SYSTEM_CONTENT_PATH)_$(WK_NOT_$(WK_USE_OVERRIDE_FRAMEWORKS_DIR)));
OUTPUT_CRYPTEX_SYMLINK_PATH_YES_YES = $(DSTROOT)$(CRYPTEX_SYMLINK_PATH)/$(FULL_PRODUCT_NAME);

INSTALLHDRS_SCRIPT_PHASE = YES;
APPLY_RULES_IN_COPY_HEADERS = YES;

JSC_FRAMEWORK_HEADER_POSTPROCESSING_DISABLED = YES;
JSC_FRAMEWORK_HEADER_POSTPROCESSING_DISABLED[config=Production] = $(WK_USE_OVERRIDE_FRAMEWORKS_DIR);
