<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanonicalName</key>
	<string>WebKitSDKAdditions</string>
	<key>IsBaseSDK</key>
	<string>NO</string>
	<!-- The public macOS SDK has a private frameworks directory, so we need to add a search path instead of overriding it via WK_PRIVATE_SDK_DIR. -->
	<key>FrameworkSearchPaths</key>
	<array>
		<string>System/Library/PrivateFrameworks</string>
	</array>
</dict>
</plist>
