<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>MinimalDisplayName</key>
        <string>WebKit SDK Additions</string>
        <key>DisplayName</key>
        <string>WebKit Public SDK Additions</string>
        <key>CanonicalName</key>
        <string>macosx14.0-additions</string>
        <key>IsBaseSDK</key>
        <string>NO</string>
        <key>HeaderSearchPaths</key>
        <array>
            <string>usr/local/include</string>
        </array>
</dict>
</plist>
