[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # field: object; the field object that you are trying to delete.
  # token: string; the delete_field token required to complete deletion.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% title = BLOCK %]
  Delete the Custom Field '[% field.name FILTER html %]' ([% field.description FILTER html %])
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           style_urls = ['skins/standard/admin.css']
           doc_section = "administering/custom-fields.html#deleting-custom-fields"
%]

<table id="admin_table">
  <tr class="column_header">
    <th>Field</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Custom Field</td>
    <td>[% field.name FILTER html %]</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>[% field.description FILTER html %]</td>
  </tr>
  <tr>
    <td>Type</td>
    <td>[% field_types.${field.type} FILTER html %]</td>
  </tr>
</table>

<h2>Confirmation</h2>

<p class="confirmation">
  Are you sure you want to remove this field from the database?<br>
  <em>This action will only be successful if the field is obsolete,
  and has never been used in [% terms.abug FILTER html %].</em>
</p>

<a href="editfields.cgi?action=delete&amp;name=[% field.name FILTER html %]&amp;token=[% token FILTER html %]">
  Delete field '[% field.description FILTER html %]'</a>

<p>
  <a href="editfields.cgi">Back to the list of existing custom fields</a>
</p>

[% PROCESS global/footer.html.tmpl %]
