/* --------------------------------------------
   Basic styles for Photo layout
----------------------------------------------- */

figure {
	margin: 0;
}
img { 
	width: 100%; 
	display: block;
	border-radius: 1ch;
}
:root {
	view-transition-name: none;
}

/* --------------------------------------------
   Variations on the layout
----------------------------------------------- */

/* ---- Multicolumn layout ---- */
body:has(option[value="one"]:checked) main {
	columns: 12rem;
	column-gap: 1rem;
	/* bug revealed: https://bugs.webkit.org/show_bug.cgi?id=14137 */
	figure { margin-block-end: 1rem; }
}

/* ---- CSS Grid level 1 (without Masonry) ---- */
body:has(option[value="two"]:checked) main { /* before applying masonry */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
	grid-template-rows: auto;
	gap: 1rem;
}

/* ---- Classic Masonry layout ---- */
body:has(option[value="three"]:checked) main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
	grid-template-rows: masonry;
	gap: 1rem;
}

/* ---- First & last columns fixed size ---- */
body:has(option[value="four"]:checked) main {
	display: grid;
	grid-template-columns: 14ch repeat(auto-fill, minmax(28ch, 1fr)) 14ch;
	grid-template-rows: masonry;
	gap: 1rem;
}

/* ---- Alternating narrow & wide column ---- */
body:has(option[value="five"]:checked) main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr) minmax(14rem, 2fr)) minmax(8rem, 1fr);
	grid-template-rows: masonry;
	gap: 1rem;
}

/* ---- Fibonacci sequence ---- */
body:has(option[value="ten"]:checked) main {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 3fr 5fr 8fr;
	grid-template-rows: masonry;
	gap: 1rem;
}

/* ---- Every 5th item is wider ---- */
body:has(option[value="six"]:checked) main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16ch, 1fr));
	grid-template-rows: masonry;
	gap: 1rem;
	.card:nth-child(5n) {
		grid-column: span 2;
	}
}

/* ---- Wide images are wider ---- */
body:has(option[value="seven"]:checked) main {
	background: color(display-p3 0.12 0.185 0.025);
	padding: 0;
	margin-block: calc(2vw + 1rem);
	margin-inline: calc(2vw + 1rem);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18ch, 1fr));
	grid-template-rows: masonry; 
	figure:has(.wide) {
		grid-column: span 2;
	}
	img {
		border-radius: 0;
	}
}

/* ---- Combined with View Transitions ---- */
body:has(option[value="eight"]:checked) {
	main {
		padding: 0;
		margin-block: calc(2vw + 1rem);
		margin-inline: calc(2vw + 1rem);
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
		grid-template-rows: masonry;
		/* Clicking makes item enlarge + View Transition animations */
		/* idea borrowed from https://codepen.io/bramus/pen/zYmjaJq */
		.expanded {
			grid-column: 1/4;
			grid-row: 1;
		}
		.card {
			cursor: pointer;
			transition: transform 1s;
		}
		::view-transition-group(*) {
			animation-duration: 0.5s; /* This is having no effect */
			overflow: hidden;
		}
		@media (prefers-reduced-motion) {
			/* There should be mitigation here. 
			Make the animation 0 seconds
			Once we figure out where to define the animation */
		}
		::view-transition-new(img-shrink) {
			display: none;
		}
		/* This code is a hack to make View transitions work */
		.card:nth-child(1) { view-transition-name: card-1; }
		.card:nth-child(2) { view-transition-name: card-2; }
		.card:nth-child(3) { view-transition-name: card-3; }
		.card:nth-child(4) { view-transition-name: card-4; }
		.card:nth-child(5) { view-transition-name: card-5; }
		.card:nth-child(6) { view-transition-name: card-6; }
		.card:nth-child(7) { view-transition-name: card-7; }
		.card:nth-child(8) { view-transition-name: card-8; }
		.card:nth-child(9) { view-transition-name: card-9; }
		.card:nth-child(10) { view-transition-name: card-10; }
		.card:nth-child(11) { view-transition-name: card-11; }
		.card:nth-child(12) { view-transition-name: card-12; }
		.card:nth-child(13) { view-transition-name: card-13; }
		.card:nth-child(14) { view-transition-name: card-14; }
		.card:nth-child(15) { view-transition-name: card-15; }
		.card:nth-child(16) { view-transition-name: card-16; }
		.card:nth-child(17) { view-transition-name: card-17; }
		.card:nth-child(18) { view-transition-name: card-18; }
		.card:nth-child(19) { view-transition-name: card-19; }
		.card:nth-child(20) { view-transition-name: card-20; }
		.card:nth-child(21) { view-transition-name: card-21; }
		.card:nth-child(22) { view-transition-name: card-22; }
		.card:nth-child(23) { view-transition-name: card-23; }
		.card:nth-child(24) { view-transition-name: card-24; }
		.card:nth-child(25) { view-transition-name: card-25; }
		.card:nth-child(26) { view-transition-name: card-26; }
		.card:nth-child(27) { view-transition-name: card-27; }
		.card:nth-child(28) { view-transition-name: card-28; }
		.card:nth-child(29) { view-transition-name: card-29; }
		.card:nth-child(30) { view-transition-name: card-30; }
		.card:nth-child(31) { view-transition-name: card-31; }
		.card:nth-child(32) { view-transition-name: card-32; }
		.card:nth-child(33) { view-transition-name: card-33; }
		.card:nth-child(34) { view-transition-name: card-34; }
		.card:nth-child(35) { view-transition-name: card-35; }
		.card:nth-child(36) { view-transition-name: card-36; }
		.card:nth-child(37) { view-transition-name: card-37; }
		.card:nth-child(38) { view-transition-name: card-38; }
		.card:nth-child(39) { view-transition-name: card-39; }
		.card:nth-child(40) { view-transition-name: card-40; }
		.card:nth-child(41) { view-transition-name: card-41; }
		.card:nth-child(42) { view-transition-name: card-42; }
		.card:nth-child(43) { view-transition-name: card-43; }
		.card:nth-child(44) { view-transition-name: card-44; }
		.card:nth-child(45) { view-transition-name: card-45; }
		.card:nth-child(46) { view-transition-name: card-46; }
		.card:nth-child(47) { view-transition-name: card-47; }
		.card:nth-child(48) { view-transition-name: card-48; }
		.card:nth-child(49) { view-transition-name: card-49; }
		.card:nth-child(50) { view-transition-name: card-50; }
		.card:nth-child(51) { view-transition-name: card-51; }
		.card:nth-child(52) { view-transition-name: card-52; }
		.card:nth-child(53) { view-transition-name: card-53; }
		.card:nth-child(54) { view-transition-name: card-54; }
		.card:nth-child(55) { view-transition-name: card-55; }
		.card:nth-child(56) { view-transition-name: card-56; }
		.card:nth-child(57) { view-transition-name: card-57; }
		.card:nth-child(58) { view-transition-name: card-58; }
		.card:nth-child(59) { view-transition-name: card-59; }
		.card:nth-child(60) { view-transition-name: card-60; }
		.card:nth-child(61) { view-transition-name: card-61; }
		.card:nth-child(62) { view-transition-name: card-62; }
		.card:nth-child(63) { view-transition-name: card-63; }
		.card:nth-child(64) { view-transition-name: card-64; }
		.card:nth-child(65) { view-transition-name: card-65; }
		.card:nth-child(66) { view-transition-name: card-66; }
		.card:nth-child(67) { view-transition-name: card-67; }
		.card:nth-child(68) { view-transition-name: card-68; }
		.card:nth-child(69) { view-transition-name: card-69; }
		.card:nth-child(70) { view-transition-name: card-70; }
		.card:nth-child(71) { view-transition-name: card-71; }
		.card:nth-child(72) { view-transition-name: card-72; }
		.card:nth-child(73) { view-transition-name: card-73; }
		.card:nth-child(74) { view-transition-name: card-74; }
		.card:nth-child(75) { view-transition-name: card-75; }
		.card:nth-child(76) { view-transition-name: card-76; }
		.card:nth-child(77) { view-transition-name: card-77; }
		.card:nth-child(78) { view-transition-name: card-78; }
		.card:nth-child(79) { view-transition-name: card-79; }
		.card:nth-child(80) { view-transition-name: card-80; }
		/* If there are more than 80 items, the experience will break. */
		img {
			border-radius: 0;
		}
	}
}

/* ---- Horizontal Masonry ---- */
html:has(option[value="nine"]:checked) {
	height: 100svh;
	background: #554
}
body:has(option[value="nine"]:checked) {
	main {
		background: white;
		display: grid;
		gap: 5px;
		grid-template-rows: repeat(auto-fill, 12svh);
		grid-template-columns: masonry;
		height: calc(100svh - 240px);
		overflow: scroll;
	}
	img {
		width: auto;
		height: 100%;
	}
	main::-webkit-scrollbar {
	width: 5px;
	height: 0.5lh;
	background-color: #eee;
	}
	main::-webkit-scrollbar-thumb {
	background: #888;
	}
}

/* --------------------------------------------
   Counters marking items (when enabled)
----------------------------------------------- */

body {
	counter-reset: item-counter 0;
}
figure {
	position: relative;
	counter-increment: item-counter;
}
body:has(input[type="checkbox"]:checked) {
	figure::before,
	figure::after {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.05em 0.5em;
		border-radius: 0 1rch 0 0;
		min-width: 2ch;
		text-align: right;
	}
	figure::after {
		counter-increment: counter(item-counter);
		content: counter(item-counter); 
		background: light-dark(black, white); 
		color: light-dark(white, black);
		opacity: 0.6;
		font-size: 2rem;
	}
	figure::before {
		content: counter(item-counter); 
		color: white;
		opacity: 0.6;
		font-size: 2rem;
	} 
}

body:has(option[value="seven"]:checked):has(input[type="checkbox"]:checked),
body:has(option[value="eight"]:checked):has(input[type="checkbox"]:checked) {
	figure::before,
	figure::after {
		border-radius: 0;
	}
}

body:has(option[value="ten"]:checked):has(input[type="checkbox"]:checked) {
	figure::after {
		font-size: 1.5rem;
	}
	figure::before {
		font-size: 1.5rem;
	} 
}
