html {
    overflow: hidden;
}

div, td {
    width: 100px;
    height: 100px;
}

iframe {
    width: 500px;
    height: 500px;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.rotated {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.clipped {
    overflow: hidden;
}

.reflected {
    -webkit-box-reflect: below 0px;
}
