#testName {
    width: 99%;
    font-size: 1em;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.actionBar {

}

.testResults {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 1em 0px;
    position: relative;
    display: inline-block;
}

#buildersView {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 2em 0 1em 0;
}

#buildersView .testResults {
    border: none;
    margin: 1em 0 0 0;
    padding: 0;
}

.closeButton {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 1em;
    height: 1em;
    stroke: #999;
}

.resultsTable {
    font-size: small;
    border-collapse: collapse;
    border: 0px solid #fff;
    padding: 0;
    margin: 0;
}

.resultsTable caption {
    font-size: large;
    font-weight: normal;
    text-align: left;
    margin-bottom: 0.3em;
    white-space: pre;
}

.resultsTable thead th {
    font-weight: bold;
}

.resultsTable td,
.resultsTable th {
    white-space: pre;
    border: 0px solid #fff;
    padding: 0 0.5em;
    margin: 0;
}

.resultsTable th,
.resultsTable .passingRate {
    text-align: left;
    font-weight: normal;
    padding-right: 10px;
}

.resultsTable th {
    width: 15em;
}

.resultsTable .passingRate {
    width: 3em;
}

.resultsTable .resultCell {
    display: inline-block;
    padding: 0.2em 0.2em;
    vertical-align: bottom;
}

.resultsTable thead {
    cursor: pointer;
}

.resultsTable th {
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.resultsTable th.headerSortUp {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='6'><polygon points='0,0 8,0 4,6' fill='#999'/></svg>");
}

.resultsTable th.headerSortDown {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='0,6 8,6 4,0' fill='#999'/></svg>");
}

.resultsTable tbody tr:hover {
    background-color: #eee;
}

.resultsTable .externalTestLink {
    margin-left: 0.5em;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><circle cx='10' cy='8' r='5' fill='transparent' stroke='#999'></circle><polygon points='8,5 13,8 8,11' fill='#999'/></svg>");
    background-repeat: no-repeat;
    background-position: right center;
}

.resultsTable a {
    color: #00f;
    text-shadow: none;
}

.resultsTable a:visited {
    color: #006;
}

.resultsTable .resultCell a {
    display: block;
    width: 1.5em;
    height: 2.5em;
    border-radius: 5px;
    font-size: 0.7em;
    text-align: center;
    line-height: 2.5em;
    padding: 0.1em;
    color: inherit;
    text-decoration: none;
}

.resultsTable .PASS a {
    background-color: #0c3;
}

.resultsTable .TEXT a {
    background-color: #c33;
}

.resultsTable .IMAGE a {
    background-color: #fc3;
}

.resultsTable .AUDIO a {
    background-color: #3cf;
}

.resultsTable .MISSING a {
    background-color: #666;
}

.resultsTable .TEXT.PASS a {
    background-color: #cf3;
}

.resultsTable .CRASH a {
    background-color: #f00;
}

.resultsTable .TIMEOUT a {
    background-color: #000;
    color: #fff;
}

.candidateWindow {
    z-index: 999;
    position: absolute;
    background: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0 0 0;
    padding: 5px;
    font-size: 1em;
    list-style: none;
}

.candidateWindow em {
    background-color: #ccc;
    font-style: normal;
}

.candidateWindow .selected {
    background-color: #0cf;
    color: white;
}

#tooltipContainer {
    position: absolute;
}

.tooltip {
    position: relative;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.9;
    background: #333;
    color: #eee;
    font-size: small;
    line-height: 130%;
    white-space: pre;
}

.tooltip:after {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -9px;
    bottom: -19px;
    content: "";
    display: block;
    border-style: solid;
    border-width: 10px;
    border-color: #333 transparent transparent transparent;
}

.tooltip ul,
.tooltip li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.tooltip a {
    color: white;
    text-shadow: none;
    text-decoration: underline;
}
